/*精准预约*/
.visit-new{
    margin-bottom:20px;
}
.visit-new i{
    color:#666; line-height: 34px;
}
.info .first{
    margin-top:20px;
}
.conditionData #accurate span{
    width:120px;
}
.conditionData .infor .calendar input{
    width:161px; background:url(../img/calendar.png) 145px 5px no-repeat;
}
.conditionData .infor .calendar p{
    margin-right:16px; color:#dddddd;
}