@charset "utf-8";
/* *****医生详情 电话预约****************/
.detail {
    main-width: 1000px;
    background: #fff;
    border-top:1px solid #fff;
}
.detail .title{
    width:1000px; margin:0 auto;
}
.detail .title h3{
    line-height:32px; font-size:20px;
    border-left:4px solid #00bab9;
    color:#444444;
    padding-left:14px; margin-top:32px; margin-bottom:12px;
}
.detail .info {
    width: 1000px;
    height: 265px;
    margin: 20px auto 0;
    background: #fff; padding-top:25px;
    box-shadow:0px 4px 24px -1px rgba(14, 140, 139, 0.18);
    -webkit-box-shadow:0px 4px 24px -1px rgba(14, 140, 139, 0.18);
    -moz-box-shadow:0px 4px 24px -1px rgba(14, 140, 139, 0.18);
}
.docInfo{
    width:443px; margin-left:54px;
}
.docInfo h4{
    width:314px; line-height:37px; margin-left:19px;
    border-bottom:1px solid #eee;
}
.docInfo .docImage{
    width:100px; height:100px; margin-top:30px;
    margin-left:7px; margin-right:29px;
}
.docInfo .docImage img{
    width:100px;
}
.docInfo .imgWa b{
    right:30px; bottom:0;
}
.docInfo .info-r{
    margin-top:24px;
}
.docInfo .info-r h3{
    line-height:68px;
}
.docInfo .info-r h3 i{
    margin-top:8px; line-height:60px; font-size:12px;
}
.docInfo .info-r p{
    line-height:24px; font-size:12px;
}
.detail .info .type{
    width:183px;
}
.detail .info .type h4{
    width:106px; border-bottom:1px solid #eee;
    line-height:37px;
}
.detail .info .type p{
    line-height:60px; margin-top:32px;
}
.detail .info .time{
    width:190px;
}
.detail .info .time h4{
    width:106px; border-bottom:1px solid #eee;
    line-height:37px; margin-bottom:52px;
}
.detail .info .time p{
    line-height:23px;
}
.detail .info .cost{
    width:130px;
}
.detail .info .cost h4{
    width:87px; border-bottom:1px solid #eee;
    line-height:37px; margin-bottom:52px;
}
.detail .info .cost p{
    line-height:23px; color:#00bab9;
}
.detail .info .prompt{
    line-height:18px; margin-top:30px; margin-left:202px;
    font-size:12px;
}
.patientInfor{
    width:1000px; margin:0 auto;
}
.patientInfor h3,.state h3{
    line-height:32px;
    border-left:4px solid #00bab9;
    padding-left:14px;
    margin-top:43px; margin-bottom:30px;
    color:#444444;
    font-size:20px!important;
}
.patientInfor .infor{
    width:344px; height:138px;
    border:1px solid #eee; border-radius:3px;
}
.patientInfor .infor h4{
    line-height:33px; margin-top:13px; margin-left:36px;
    margin-bottom:12px;
}
.patientInfor .infor p{
    margin-left:36px; line-height:30px;
}
.patientInfor .infor p i{
    margin-left:16px;
}
.state{
    width:1000px; margin:0 auto;
}
.state .options{
    margin-left:25px; line-height:20px;
}
.state .options p{
    margin-right:68px;
}
.state .options span{
    width:20px; height:20px;
    border:1px solid #05bbba;
    border-radius:50%; margin-right:10px;
}
.state .options span i.check{
    width:14px; height:14px; background:#00bab9;
    border-radius:50%; display: block; margin:3px 3px;
}
.state .submit1{
    margin-top:54px; margin-left:23px; margin-bottom:110px;
}
.state .submit1 input{
    width:210px; height:49px; background:#2dc6c5;
    color:#fff; border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size:16px!important;
    font-family:'微软雅黑';
    padding: 0; margin:0;
}
.state .submit1 input:hover{
    background:#00bab9;
}
.state .submit1 p{
    line-height:49px; margin-left:52px;
    font-size:14px;color:#aaa;
}
.pic .img{
    margin-top:10px; position:relative; margin-right:21px;
}
.pic .img img{
    width:90px; height:90px;
}
.pic .img i{
    width:20px; height:21px; background:url("../img/close.png");
    position:absolute; top:-7px; right:-7px;
}
.upPic {
    width: 700px;
}
.red {
    position: absolute;
    color: red;
    font-size: 12px;
    left: 130px;
    display: none;
}
.disease {
    position: relative;
}
.redBox {
    border: 1px solid red !important;
}
.Jtip{background:#f9ffff;line-height: 68px!important;height:68px;padding-left:51px;margin-top:30px;}
.disease .pas i {
    color: #2dc6c5;
}
.disease .pas{
    position: absolute; bottom:0px;
}