/*医生详情*/
.detail {
    main-width: 1000px;
    /*background: #f9ffff;
    border-top: 1px solid #fff;*/
    margin-bottom: 30px;
}

.detail .info {
    width: 1000px;
    margin: 20px auto 0;
    background: #fff;
    box-shadow:0px 4px 24px -1px rgba(14, 140, 139, 0.18);
    -webkit-box-shadow:0px 4px 24px -1px rgba(14, 140, 139, 0.18);
    -moz-box-shadow:0px 4px 24px -1px rgba(14, 140, 139, 0.18);
    padding-bottom:50px;
}

.detail .info .info-l {
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 35px;
}

.detail .info .info-l b {
    right: 10px;
}

.detail .info .info-r {
    margin-top: 45px;
    width: 525px;
    border-right: 1px solid #eee;
}

.detail .info .info-r h2 {
    font-size: 18px;
    line-height: 34px;
    color:#444444;
}

.detail .info .info-r h2 i {
    font-size: 12px;
}

.detail .info .info-r .p1,.detail .info .info-r .p1 a {
    color: #26bfbe;
    font-size: 12px;
    line-height: 36px;
    cursor: pointer;
}

.detail .info .info-r .p2{
    font-size: 12px;
    line-height: 22px;
    width: 480px;
    position:relative;
}
.detail .info .info-r .p2 a{
    display:block;
    font-size: 12px;
    line-height: 22px;
    width: 480px;

}

.detail .info .info-r .p2 i {
    position: absolute;
    display:none;
    font-size:12px;
    right: -4px;
    bottom: -3px;
    color: #33c8c7;
    width: 116px;
    text-align: right;
}
.detail .info .info-r .p3 a{
    display:block;
    font-size: 12px;
    line-height: 22px;
    width: 480px;
}
.detail .info .info-r .p3 a b,.detail .info .info-r .p2 b{
    font-weight:normal;
    color:#999999;
}
.detail .info .info-r .p3 {
    line-height: 22px;
    margin-top: 8px;
    position: relative
}

.detail .info .info-r .p3 i {
    position: absolute;
    display:none;
    font-size:12px;
    right: 40px;
    bottom: -3px;
    color: #00bab9;
    width: 116px;
    text-align: right;
}

.detail .info .info-r .p i:hover, .detail .info .info-r .p i:hover, .detail .info .info-r .p:hover, .detail .info .info-r .p:hover {
    cursor: pointer;
    text-decoration: underline
}

.detail .prompt {
    width: 967px;
    margin: 0 auto;
    line-height: 50px;
    margin-top: 20px;
    padding-left: 33px;
}

.detail .serve {
    width: 260px;
    margin-top: 100px;
}

.detail .serve div {
    width: 86px;
}

.detail .serve div h3 {
    width: 38px;
    height: 38px;
    background: #00bab9;
    border-radius: 13px;
    margin: 0 auto;
}

.detail .serve div.noServer h3 {
    background: #b2eaea;
}

.detail .serve div.noServer p {
    color: #d8d8d8;
}

.detail .serve div p {
    line-height: 32px;
    text-align: center;
}

.detail .serve h3 span {
    background: url(../img/guhao.png);
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 10px;
}
.detail .serve .div2 h3 span {
    background: url(../img/tuwen.png);
}

.detail .serve .div3 h3 span {
    background: url(../img/tianhua.png);
}
.detail .serve div:nth-of-type(2) h3 span {
    background: url(../img/tuwen.png);
}

.detail .serve div:nth-of-type(3) h3 span {
    background: url(../img/tianhua.png);
}

.wrap {
    width: 1000px;
    margin: 0 auto;
}

.wrap-l {
    width: 744px;
}

.register {
    width: 742px;
    border: 1px solid #eee;
}

.register .titl {
    background: #f9ffff;
    border-bottom: 1px solid #eee;
}

.register .titl span {
    width: 19px;
    height: 26px;
    background: url(../img/ico.png) no-repeat -24px -250px;
    margin: 16px 14px 0 16px;
}

.register .titl h2 {
    line-height: 60px;
}

.register .titl p {
    line-height: 52px;
    margin-top: 7px;
    margin-left: 15px;
}

.register .count {
    margin-left: 53px;
    margin-top: 10px;
}

.register .count .p {
    line-height: 35px;
}

.register .count .classify {
    margin-right: 20px;
    color:#999999;
}

.scheduling {
    width: 587px;
    height: 238px;
    background: #fafafa;
    border: 1px solid #eee;
    margin-top: 10px;
}

.scheduling .scheduling-l {
    width: 70px;
    height: 224px;
    background: #f9ffff;
    margin: 7px 8px 0 4px;
    line-height: 56px;
    text-align: center;
}

.scheduling .scheduling-r .top {
    margin-top: 7px;
    width: 505px;
    height: 50px;
    background: #f9ffff;
    overflow: hidden;
}

.scheduling .scheduling-r .top li {
    margin-top: 5px;
    line-height: 20px;
    width: 64px;
    text-align: center;
    margin-right: 8px;
}

.scheduling .scheduling-r .top li i {
    display: block;
}

.scheduling-show {
    overflow: hidden;
    width: 505px;
    height: 174px;
}

.scheduling-show ul {
    width: 64px;
    height: 174px;
    margin-right: 8px;
}

.scheduling-show .last {
    margin-left: 0;
}

.scheduling-show ul li {
    width: 64px;
    height: 50px;
    margin-top: 8px;
    background: #fff;
    color: #fff;
}
.scheduling-show ul span.expert.active{
    background: #4a7fe2;
    cursor: pointer;
}
.scheduling-show ul span.expert {
    width: 2em;
    display: block;
    line-height: 18px;
    padding: 9px 19px 4px 17px;
    background: #5792ff;
}

.scheduling-show ul span.ordinary.active{
    background: #0ca6a5;
}
.scheduling-show ul span.ordinary {
    width: 2em;
    display: block;
    line-height: 18px;
    padding: 9px 19px 4px 17px;
    background: #00bab9;
}
.scheduling-show ul span.special:hover{
    background: #ec5f4c;
}
.scheduling-show ul span.special  {
    width: 2em;
    display: block;
    line-height: 18px;
    padding: 9px 19px 4px 17px;
    background: #ff7c6a;
}


.scheduling-show ul span.full {
    width: 3em;
    display: block;
    padding-left:10px;
    padding-right:11px;
    line-height: 50px;
    background: #d8d8d8;
}

.rules {
    width: 692px;
}

.rules-l {
    padding-top: 20px;
    line-height: 24px;
    padding-bottom: 25px;
}

.rules .more {
    float: right;
    margin-top: 47px;
    margin-right: 20px;
    color: #00bab9;
}

.same {
    width: 744px;
    margin-top: 40px;
    height: 475px;
    position:relative;
}

.sameTop {
    margin-bottom: 23px;
}

.sameTop h2 {
    font-size: 20px;
    line-height: 32px;
    border-left: 4px solid #00bab9;
    padding-left: 15px;
}

.sameTop .more {
    line-height: 32px;
    color: #00bab9;
}

.sameList {
    display: flex;
    background: #fdfefe;
    width: 744px;
    height: 417px;
}

.sameList li {
    float: left;
    position: relative;
}

.sameList li a {
    display: block;
    margin: 0 18px 0 0px;
    padding: 33px 16px 0 16px;
    width: 202px;
    height: 340px;
    background: #fff;
    text-align: center;
    border: 1px solid #eeeeee
}

.sameList li a:hover {
    box-shadow: -2px -2px 16px 6px #f5fafa
}

.sameList li:last-child a {
    margin-right: 0;
}

.sameList .imgWa {
    position: relative
}

.sameList .imgWa b {
    width: 29px;
    height: 30px;
    background: url(../img/ico.png) no-repeat -56px -245px;;
    position: absolute;
    bottom: 0px;
    right: 45px
}

.sameList h2 {
    line-height: 44px;
    font-size: 14px;
    color: #444
}

.sameList h2 b {
    font-weight: normal
}

.sameList h3 {
    font-size: 12px;
    line-height: 30px;
}

.sameList h4 {
    line-height: 40px;
    color: #adadad
}

.sameList h4 b {
    color: #00bab9;
    padding: 0 5px;
}

.sameList .docImage {
    width: 121px;
    height: 121px;
    border-radius: 50%;
    border: 6px solid #edfafa;
    overflow: hidden;
    margin: 0 auto;
}

.line {
    height: 1px;
    background: #f4f4f4;
}

.line1 {
    height: 1px;
    background: #f4f4f4;
    width: 202px;
    position: absolute;
    left: 20px;
    bottom: 57px;
}
.line2 {
    height: 1px;
    background: #f4f4f4;
    width: 202px;
    position: absolute;
    left: 20px;
    bottom: 100px;
}
.sameList p {
    display: -webkit-box;
    height: 50px;
    font-size: 12px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 24px;
    color: #999;
    margin: 12px 0
}


.wrap-r{
    width:238px; border:1px solid #eee;
}
.wrap-r .textTitle{
    margin:0 8px 0 13px; border-bottom:1px solid #eee;
}
.wrap-r .textTitle h3{
    line-height:23px; border-left:4px solid #00bab9;
    padding-left:7px; margin:15px 0 13px 1px;
}
.wrap-r .textTitle .more{
    line-height:51px;color: #00bab9;
}
.wrap-r .text ul{
    margin:13px 0 13px 30px; font-size: 12px;
    line-height:26px;
}
.wrap-r .text ul li i{
    width:5px; height:5px; border-radius:50%;
    background:#00bab9; float:left;margin:10px 8px 0 0;
}
.wrap-r .text ul li a{
    float:left; cursor: pointer;
}
.wrap-r .text ul li a:hover{
    text-decoration: underline;
}
.block{
    display:block;
}










