/*图文咨询头部*/
.inquiringWraper{
    width:1000px;
    padding-top: 42px;
    margin: 0 auto;
}
.inquiringHeader:before{
    content: '';
    width: 4px;
    height: 30px;
    display: block;
    background: #00bab9;
    float: left;
}
.inquiringHeader a{
    color: #58cece;
    font:14px '微软雅黑';
    padding-top: 12px;
}
.inquiringHeader h2{
    font-size:20px;
}
.inquiringHeader h3{
    font:24px '微软雅黑';
    padding-left: 16px;
    height: 30px;
    line-height: 30px;
    color: #444444;
}
.inquiringHeader p{
    font:16px '微软雅黑';
    padding: 8px 0 0 16px;
    color: #999999;
}
/*内容区*/
.callPhy{
    margin-bottom:84px;
}
/*235 20 */
.search .inquiringWraper{padding-top:0px; }
