/*分页样式*/
.page{
    width:100%;
}
.page2{
    margin:20px 0 30px;
}
.page3{
    margin-top:25px; padding-right:20px;
    width:720px;
}
.page1 a{
    width:27px; height:27px; border:2px solid #00bab9;
    border-radius:5px; margin:6px 5px;
    text-align: center; line-height:28px;
    color:#00bab9;
}
.page1 .active{
    background:#00bab9; color:#fff;
}
.page .total{
    line-height:40px; margin:0 24px 0 14px;
}
.page p{
    line-height:40px;
}
.page p b{
    width:27px; height:27px; border:2px solid #00bab9;
    border-radius:5px; margin:5px 5px;
    text-align: center; line-height:28px;
    color:#00bab9; display: inline-block;
}
.page .go{
    width:27px; height:27px; border:2px solid #00bab9;
    border-radius:5px; margin:5px 5px;
    text-align: center; line-height:28px;
    background:#00bab9; color:#fff; margin-left:13px;
}
.Jtable{width:98%;margin:0 auto;border-collapse:collapse;-table-layout: fixed;}
.Jtable td,.Jtable th{padding:2px; border:1px solid #e2e6e6;height:40px;text-align: center;white-space:normal;word-break:break-all;word-wrap:break-word;}
.Jtable th{background:#ecf0f1}
.Jtable td{line-height: 30px}