/*完善个人信息弹窗*/
.perfect{
    background:rgba(0,0,0,0.2);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);
    position:fixed; top:0; left:0; right: 0; bottom: 0;
    margin: auto;
    display: none; z-index: 200;
}
.popup-in{
    width:700px; height:608px;
    position:absolute; top:0; left:0; right: 0; bottom: 0;
    margin: auto;
    background:#fff;
    /*margin-top:-304px; margin-left:-350px;*/
}
.popup-in .top{
    height:60px; background:#00bab9;
    width:100%;
}
.popup-in .top h3{
    color:#fff; line-height:60px;
    margin-left:30px;
}
.popup-in .top a{
    font-size:30px; margin-top:15px; margin-right:15px;
    color:#b3eaea;
}
.perfect .popup-in .tit{
    line-height:56px; color:#cdcdcd;
    text-align: center;
}
.perfect .popup-in .tit b{
    color:#ff7c6a; margin-top:5px;
}
.perfect .popup-in form .p{
    margin-bottom:20px;
    position:relative;
}
.perfect .popup-in form .p span{
    width:200px; text-align: right;
    line-height:34px; margin-right:23px;
}
.perfect .popup-in form .p input{
    line-height:32px; height:31px; border:1px solid #f1f1f1;
    width:343px; padding-left:18px; border-radius:3px;
}
.perfect .popup-in form .p input.active{
    border:1px solid #2dc6c5; color:#666666;
}
.perfect .popup-in form .p input:hover{
    border:1px solid #2dc6c5; color:#666666;
}
.perfect .popup-in form .p input.red,#red{
    border:1px solid red;
    display:block;position: relative;left:0;
}
.perfect .popup-in form .p i{
    line-height:34px; color:#ff7c6a; margin-left:16px;
}
.perfect .popup-in form .last textarea{
    line-height:32px; height:66px; border:1px solid #f1f1f1;
    width:343px; padding-left:18px; border-radius:3px;
}
.perfect .popup-in form .last textarea:hover{
    border:1px solid #2dc6c5;
}
.perfect .popup-in form .save{
    width:210px; height:50px;
    margin-left:223px;
    background:#00bab9; color:#fff;
    font-size:18px;
    border:none;border-radius:6px;letter-spacing: 1px;
}
.perfect .popup-in form .save:hover{
    background:#08a09f;
}
.perfect .popup-in form .p b{
    border:6px solid transparent; border-top:8px solid #dddddd;
    position:absolute; top:12px; right:122px;
}
.perfect .popup-in form .p .gender{
    position:absolute; top:32px; left:223px;
    width:361px; height:64px;
    line-height:32px; border:1px solid #eee;
    z-index: 10; background:#fff;
    display:none;
}
.perfect .popup-in form .p .gender li{
    padding-left:18px;
}
.perfect .popup-in form .p .gender li:hover{
    background:#00bab9; color:#fff;
}
.id{
    position: relative;
}
.tip{
    position:absolute;
    display: none;
    top: 25px;
    left: 165px;
    color:red;
    font-size: 12px;
}
.perfect .popup-in form .p .chushen{
    position:absolute; top:33px; left:230px;
    border:none; font-size:12px; color:red;
    font-weight: normal; display:none;
}
.acc{
    background: url(../img/calendar.png) 335px no-repeat;
}
.popupInput{
    left:215px!important;
}