.cur{
    cursor: pointer;
}
.personal{
    width:1000px; margin:0 auto;
    line-height:54px;
}
.personal h3{
    font-size:14px; color:#999999;
}
.personal a{
    font-size:14px; color:#666666;
    margin-left:8px;
}
.personalCenter{
    main-width:1000px; background:#f9f9f9;
}
.personalCenter-in{
    width:1000px;
    padding-top:20px;
    margin:0 auto;
}
.personalCenter-l{
    width:220px; height:500px;
    background:#fff;
}
.personalCenter-l .imgBox{
    width:70px; height:70px;
    border-radius:50%;
    overflow: hidden; margin:27px auto 5px;
}
.personalCenter-l .name{
    line-height:25px; text-align: center; font-size:14px;
}
.personalCenter-l .phone{
    line-height:22px; text-align:center;font-size:14px;
    margin-bottom:18px;
}
.personalCenter-l .personal-nav{
    width:220px; height:160px;
}
.personalCenter-l .personal-nav div{
    cursor: pointer;
}
.personalCenter-l .personal-nav span{
    width:18px; height:18px; background:url("../img/personalCenter.png") 0 0;
    margin-top:13px; margin-left:28px; margin-right:18px;
}
.personalCenter-l .personal-nav .span2{
    background:url("../img/personalCenter.png") 0 -20px;
}
.personalCenter-l .personal-nav .span3{
    background:url("../img/personalCenter.png") 0 -40px;
}
.personalCenter-l .personal-nav .span4{
    background:url("../img/personalCenter.png") 0 -60px;
}
.personalCenter-l .personal-nav div{
    width:220px;
    height:40px; line-height:40px;
}
.personalCenter-l .personal-nav div i{
    margin-right:30px;
}
.personalCenter-l .personal-nav div.active{
    background:#00bab9; color:#fff;
}
.personal-nav a{display: block;height:40px;}
.personalCenter-l .personal-nav div.active b{color:#fff}
.personalCenter-l .personal-nav div.active i{
    display: none;
}
.personalCenter-l .personal-nav div.active span{
    background:url("../img/personalCenter.png") -20px 0px;
}
.personalCenter-l .personal-nav div.active .span2{
    background:url("../img/personalCenter.png") -20px -20px;
}
.personalCenter-l .personal-nav div.active .span3{
    background:url("../img/personalCenter.png") -20px -40px;
}
.personalCenter-l .personal-nav div.active .span4{
    background:url("../img/personalCenter.png") -20px -60px;
}
.personalCenter-l .personal-nav div b{
    font-size:16px; font-weight: normal;
    line-height:40px;
}
.personalCenter-r{
    width:765px; background:#fff;
    min-height:546px;
}
.personalCenter-r h3{
    line-height:20px; border-left:3px solid #00bab9;
    padding-left:5px; margin-top:13px; margin-left:28px;
    margin-bottom:12px;
}
.personalCenter-r .orderInfor{
    margin-bottom:32px;
}
.personalCenter-r .order{
    width:380px; margin: 0 auto 14px;position: relative;
}
.personalCenter-r .order p{position: absolute;left:54px;bottom:8px;}
.order p .JcancleY{color:#00bab9;cursor: pointer;text-decoration:underline;}
.order p .JcancleY:hover{text-decoration: underline}
.personalCenter-r .order .confirm{
    width:32px; height:32px;
    background:#00bab9 url(../img/duihao.png) center center no-repeat;border-radius:50%;
    line-height:32px;
    text-align: center; font-size:40px; margin:11px auto 14px;
}
.personalCenter-r .order i{
    line-height:54px; color:#00bab9; margin-left:22px;
}
.personalCenter-r .order i.callOff{
    line-height:28px;
}
.orderInfor{
    width:716px; margin:0 auto;
    background:#f8fafa;
    padding-bottom:20px;
    margin-bottom:30px;
}
.orderInfor h4{
    line-height:44px; margin-left:19px;
    font-size: 16px;
    color: #444444;
}
.orderInfor .infor{
    width:677px; margin:0 auto;
    background:#fff; position: relative;
}
.orderInfor .infor ul{
    width:706px; padding-top:7px;
    padding-bottom:6px;
}
.orderInfor .infor li,.applicationDetails-r .Details-infor li{
    width:300px; margin-left:8px;
    line-height:28px;
    font-size:14px;
}
.orderInfor .infor li b,.applicationDetails-r .Details-infor li b{
    font-weight: normal;
    width: 100px;
    display: inline-block;
    text-align: right;
    color:#777777;
}
.orderInfor .infor li i{
    color:#444444;
}
.patient .infor{
    width:677px; margin:0 auto;
    background:#fff; overflow: hidden;
}
.personalCenter-r .timerout{
    width:185px;
}
.personalCenter-r .timerout i{
    color:#b8b9b9;
}
.personalCenter-r .timerout span.confirm{
    background:url("../img/timeout.png");
}
.personalCenter-r .orderList{
    margin-left:17px;
}
.personalCenter-r .orderList .calendar{
    margin:0 18px 25px 7px;
}
.personalCenter-r .orderList .calendar span{
    line-height:38px; margin-right:18px;
}
.calendar input.acc{
    width:138px; background:url(../img/calendar.png) 134px 10px no-repeat;
    height:36px; border-radius: 5px; padding-left:20px;
    border:1px solid #eee;
}
.personalCenter-r .orderList .calendar i{
    line-height:38px; margin:0 10px;
    color:#dad1d1;
}
.personalCenter-r .orderList .calendar .confim{
    width:100px; height:38px; background:#00bab9;
    border:none; border-radius:5px; color:#fff;
    margin-left:43px;
    font-family: '微软雅黑';
}
.personalCenter-r .orderList .calendar .confim:hover{
    background:#0ca6a5;
}
.personalCenter-r .ariList div span{
    background:#ecf0f1;
}
.personalCenter-r .ariList,.personalCenter-r .visits-list .ulList,.call-visits-list{
    margin-left:5px;
    width:96%;
}
.personalCenter-r .ariList span,.personalCenter-r .visits-list li span,.call-visits-list span{
    height:40px; border-top:1px solid #e2e6e6;
    text-align: center; line-height:20px;
    border-left:1px solid #e2e6e6;
    word-wrap: break-word;
    word-break: break-all;
    vertical-align: middle;
    padding:0 10px;
    color:#666666;
    font-size:14px;
}
.ulList li:first-child span{
    line-height:40px;
    color:#444444;
    font-size:15px;
}

.personalCenter-r .ariList .span2{
    width:93px;
}
.personalCenter-r .ariList .span3{
    width:281px;
}
.personalCenter-r .ariList .span4{
    width:99px;
}
.personalCenter-r .ariList .span5{
    width:86.5px;
}
.personalCenter-r .orde  .ariList li .span5{
    color:#00bab9; cursor: pointer;
}


.personalCenter-r  .apploiction .ariList li .span6{
    color:#00bab9; cursor: pointer;
}
/*我的在线问珍*/
.personalCenter-r .visits{
    overflow-x: hidden; height:100%;
}
.personalCenter-r .visits .title{
    height:30px; margin:25px 0 25px 28px;
}
.personalCenter-r .visits .title span{
    width:80px; line-height:30px; text-align:center;
    color:#888888; border:1px solid #00bab9; border-radius:2px;
}
.personalCenter-r .visits .title span.active{
    color:#fff; background:#00bab9;
}
/*.personalCenter-r .visits .visits-list{
    margin-left:25px; width:708px;
}*/
.personalCenter-r .visits .visits-list .tit{
    background:#ecf0f1;
    border-left:1px solid #ecf0f1;
}
.personalCenter-r .visits-list .tit span{
    line-height:42px;
}

.personalCenter-r .visits-list li{
    border-top:1px solid #ecf0f1;
}
/*.personalCenter-r .visits-list .ulList{
    border-right:1px solid #ecf0f1;
    border-bottom:1px solid #ecf0f1;
}*/
.personalCenter-r .visits-list .span1{
    width:61px; line-height:48px;
}
.personalCenter-r .visits-list .span2{
    width:141px;
}
.personalCenter-r .visits-list .span3{
    width:84px;line-height:24px;
    height:48px;
}
.personalCenter-r .visits-list .span4{
    width:190px; position:relative;
}
.personalCenter-r .visits-list .span5{
    width:110px;
}
.personalCenter-r .visits-list .span6{
    width:70px;line-height:48px;
    cursor: pointer;
}
.personalCenter-r .visits-list .span7{
    width:49px;line-height:48px;
}
.personalCenter-r .visits-list .ulList .span7 {
    width:49px; color:#00bab9;
}
.personalCenter-r .visits-list .ulList span i{
    font-size:12px; display: inline-block;
    line-height:24px;
}
.personalCenter-r .visits-list .span4 i{
    width:170px; position:relative;
    padding:0 10px;
}
.personalCenter-r .visits-list .ulList .span4 b{
    color:#00bab9; position:absolute; right:7px;
    bottom:16px; font-size:12px; font-weight:normal;
}
/*电话咨询*/
/*.call-visits-list{
    width:708px; height:100%;
    margin-left:28px;
}*/
.call-visits-list .tit{
    background:#ecf0f1; line-height:42px;
}
/*.call-visits-list span{
    border-left:1px solid #e3e6e7; border-right:1px solid #e3e6e7;
    margin-left:-1px; text-align: center; font-size:14px;
}*/
.call-visits-list .span1{
    width:75px;
}
.call-visits-list .span2{
    width:174px;
}
.call-visits-list .span3{
    width:129px;
}
.call-visits-list .span4{
    width:136px;
}
.call-visits-list .span5{
    width:121px;
}
.call-visits-list .span6{
    width:70px; cursor: pointer;
}
.call-visits-list li{
    border-bottom:1px solid #e3e6e7;
}
.call-visits-list li span{
    /* padding:15px 0;*/ font-size:14px;
}
.lin54{
    line-height:54px;
}
.lin27{
    line-height:27px;
}
.call-visits-list .span6{
    color:#00bab9;
}
/*健康宝典*/
.archives .top{
    width:100%;
}
.personalCenter-r h3{
    font-size:14px!important;
    color:#555555;
}
.archives h4{
    font-size:16px;
}
#phoneCounsel{margin-left:-2px;}
.archives .top .Modify{
    background:url("../img/personalCenter.png") 0 -140px no-repeat;
    padding-left:22px; margin-top:13px; margin-right:27px;
    color:#00bab9;
}
.archives .orderInfor .infor ul{
   margin-top:10px;
}
.archives .MedicalInfor{
    width:716px; margin:0 auto;
    background:#f8fafa; padding-bottom:17px;
    margin-bottom:30px;
}
.archives .MedicalInfor h4{
    line-height:45px; padding-left:24px;
}
.archives .MedicalInfor .infor{
    width:677px; background:#fff; margin:0 auto;
    padding:10px 0;
}
.archives .MedicalInfor .infor ul{
    width:44.98%!important;
}
.archives .MedicalInfor .infor ul.Jline{
    width:100%!important;
}
.archives .MedicalInfor .infor li{
    width:100%; line-height:28px;
    /*margin-left:16px;*/
}
.archives .MedicalInfor .infor li b{
    width:127px; display: inline-block;
    text-align: right; font-weight: normal;
    color:#777777;
}
.archives .MedicalInfor .infor li i{
    float:left;
    width:54%!important;
}

/*我的申请  申请状态*/
.applicationDetails-in{
    width:1000px;
    padding-top:20px;
    padding-bottom:20px;
    margin:0 auto;
}
.applicationDetails{
    background:#f9f9f9;
}
.applicationDetails .personalCenter-l{
    height:620px!important;
}
.applicationDetails-r h3{
    line-height:20px; border-left:3px solid #00bab9;
    padding-left:8px; margin:13px 0 0 28px;
    font-size:14px;
}
.applicationDetails-r {
    width: 765px; padding-bottom:20px;
    background: #fff;
    height:600px;
    overflow:auto;
}
.applicationDetails-r .type{
    height:32px; width:100%; line-height: 32px;
    margin:10px 0;
}
.applicationDetails-r .type span{
    width:32px; height:32px;
    background:url(../img/personalCenter.png) 0 -101px;
    margin-left:270px;
}
.applicationDetails-r .type i{
    line-height:32px;
    margin-left:23px; color:#00bab9;
}
.applicationDetails-r .type.successEview span{
    background:url(../img/personalCenter.png) -77px -101px;
}
.applicationDetails-r .type.failureEview span{
    background:url(../img/personalCenter.png) -36px -101px;
}
.applicationDetails-r .Details-infor ul,.orderInfor .infor ul{
    width:100%;
}
.applicationDetails-r .Details-infor li,.orderInfor .infor li{
    width:44.98%; line-height:26px;
}
.applicationDetails-r .Details-infor .li2,.orderInfor .infor .li2{
    width:660px;
}
.applicationDetails-r .Details-infor li b,.orderInfor .infor li b{
    width:122px; float: left; text-align: right;
    font-weight: normal;
}
.applicationDetails-r .Details-infor li i,.orderInfor .infor li i{
    float:left;
    width:59%;
}
.applicationDetails-r .Details-infor .li2 i,.orderInfor .infor .li2 i{
    width:530px;word-break: break-all;word-wrap: break-word;
}
.applicationDetails-r .Details-infor .li2 .imgB{
    width:538px; overflow: hidden;
}
.applicationDetails-r .Details-infor .li2 .imgB i{
    width:570px;
}
.applicationDetails-r .Details-infor .li2 .imgB img{
    margin-top:7px; width:90px; height:90px;
    margin-right:20px; margin-bottom:10px;
}
.applicationDetails-r .Details-infor{
    width:716px; margin:0 auto;
    background:#f8fafa; padding-bottom:17px;
    margin-bottom:30px;
}
.applicationDetails-r .Details-infor h4{
    line-height:45px; padding-left:24px;
}
.applicationDetails-r .Details-infor .infor{
    width:677px; background:#fff; margin:0 auto;
    padding:10px 0;
}
.recom{
    width:715px; margin:0 auto; display: none;
}
.recom h3{
    line-height:20px;
    margin:30px 0 0 0;
    font-size:16px;
    color:#444444;
}
.recom .tit{
    line-height:40px;
    margin-left:12px;
    color:#777777;
}
.recom li.detail{
    width:708px; border:1px solid #ededed;
    margin:0 auto; margin-bottom:20px;
}
.detail .info {
    width: 708px;
    background: #fff;
}

.detail .info .info-l {
    margin:30px 19px;
}

.detail .info .info-l b {
    right: 10px; display: block;
}

.detail .info .info-r {
    margin-top: 35px;
    width: 282px;
    padding-right:25px;
    border-right: 1px solid #eee;
}

.detail .info .info-r h2 {
    font-size: 18px;
    line-height: 34px;
}

.detail .info .info-r h2 i {
    font-size: 12px;
}

.detail .info .info-r .p1 {
    color: #26bfbe;
    font-size: 12px;
    line-height: 36px;
}

.detail .info .info-r .p2{
    font-size: 12px;
    line-height: 22px;
    width: 282px;
    position:relative;
}
.detail .info .info-r .p2 a{
    display:block;
    font-size: 12px;
    line-height: 22px;
    width: 480px;

}

.detail .info .info-r .p2 i {
    position: absolute;
    display:none;
    font-size:12px;
    right: -4px;
    bottom: -3px;
    color: #33c8c7;
    font-weight: bold;
    width: 116px;
    text-align: right;
}
.detail .serve {
    width: 229px;
    margin-top: 63px;
}

.detail .serve div {
    width: 76px;
}

.detail .serve div h3 {
    width: 38px;
    height: 38px;
    padding:0;
    border:none;
    background: #00bab9;
    border-radius: 13px;
    margin: 0 auto;
}

.detail .serve div.noServer h3 {
    background: #b2eaea;
}

.detail .serve div.noServer p {
    color: #d8d8d8;
}

.detail .serve div p {
    line-height: 32px;
    text-align: center;
}

.detail .serve h3 span {
    background: url(../img/guhao.png);
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 10px;
}
.detail .serve .div2 h3 span {
    background: url(../img/tuwen.png);
}

.detail .serve .div3 h3 span {
    background: url(../img/tianhua.png);
}
.detail .serve div:nth-of-type(2) h3 span {
    background: url(../img/tuwen.png);
}

.detail .serve div:nth-of-type(3) h3 span {
    background: url(../img/tianhua.png);
}
/*我的在线咨询  申请状态*/
.profile .type.failureEview span{
    background:url('../img/personalCenter.png') -116px -103px;
}
.profile .type.failureEview i{
    color:#cfd3d3;
}
.myonlineProfile .personalCenter-l {
    height: 963px;
}
/*健康档案-编辑*/
.editor{
    margin-top:20px;
}
.editor li{
    position: relative;
    margin-bottom:20px;
}
.editor li .li-l{
    width:143px; text-align: right;
    line-height:28px; padding-right:18px;
}
.editor li .input1{
    height:26px; border:1px solid #ccc;
    padding-left:10px; width:108px;
}
.editor li .input1:hover,.editor li textarea:hover {
    border:1px solid #00bab9;
}
.editor li .i1{
    line-height:28px; color:red; padding-left:14px;
}
.editor li em{
    position:absolute; top:2px; left:256px;
}
.editor li b{
    color:red; font-weight: normal;
    position:absolute; top:3px; left:321px;
}
.BloodType li .input1{
    width:84px; padding-left:10px;
}
.editor .BloodType em{
    left:212px;
}
.editor .BloodType ul{
    position:absolute; top:27px; left:161px;
    border:1px solid #ccc; width:118px;
    text-align: center; display:none;
    background:#fff; z-index: 10;
}
.editor .BloodType ul li{
    margin:0; border-bottom:1px solid #ccc;
    line-height:26px;
}
.editor .BloodType ul li:hover{
    background:#00bab9; color:#fff;
}
.editor li .i2{
    border:6px solid transparent;
    border-top:8px solid #ccc;
    position:absolute; top:10px; left:260px;
}
.pressure i{
    color:#000; padding:0 10px;
    float: left;
}
.editor .pressure .i2{
    padding:0; left:510px;
}
.editor .pressure .input2{
    width:84px; border:1px solid #ccc;
    height:26px; margin-left:9px;
    padding-left:10px;
}
.editor .pressure .pressure1{
    width:94px; border:1px solid #ccc;
    height:56px; margin-left:9px;
    position:absolute; top:27px; left:426px;
    display:none; z-index: 10;
}
.editor .pressure .pressure1 li{
    line-height:28px; margin:0;
    text-align:center;
}
.editor .pressure .pressure1 li:hover{
    background:#00bab9; color:#fff;
}
.editor .timer input{
    width:198px;
}
.editor .timer i{
    width:18px; height:18px; background:url(../img/personalCenter.png) -20px -80px;
    position:absolute; top:5px; left:340px;
}
.allergy div{
    width:545px; line-height:30px;float: left;
}
.allergy div label{
    padding-right:23px; float: left;
}
.allergy div label input{
    width:16px; height:16px; border-radius:3px;
    margin-top:7px; float: left; padding-left:3px;
    margin-right:8px;
}
.allergy div label input.active{
    background:#00bab9; color:#fff;
}
.allergy .other{
    width:390px; height:26px; border:1px solid #ccc;
    margin-left:160px;padding-left:8px; margin-top:15px;
}
.region .input1{
    margin-right:8px;
}
.editor  .region .i1 {
    border: 6px solid transparent;
    border-top: 8px solid #ccc;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 260px;
    padding:0;
}
.editor  .region .i2 {
    border: 6px solid transparent;
    border-top: 8px solid #ccc;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 388px;
}
.editor  .region ul{
    width:118px; border:1px solid #ccc;
    position:absolute; top:27px; left:161px;
    background:#fff; display: none;
    z-index: 10;
}
.editor  .region .input2{
    width:108px; height:26px;
}
.editor  .region ul li{
    line-height:26px; margin:0;
    padding-left:10px; border-bottom:1px solid #ccc;
}
.editor  .region ul li:hover{
    background:#00bab9; color:#fff;
}
.editor  .region .ul2{
    left:289px;
}
.hospital div{
    width:400px;
}
.editor .hospital div input{
    width:398px; height:26px; border:1px solid #ccc;
    margin-bottom:10px;
}
.editor .hospital i{
    width:20px; height:20px; background:url(../img/personalCenter.png) -51px -80px;
    position:absolute; top:4px; left:576px;
}
.editor .disease input{
    width:398px; height:26px; border:1px solid #ccc;
}
.medication textarea{
    width:558px; height:92px; border:1px solid #ccc;
    padding:3px 10px; line-height:20px;
}
.select ul{
    width:119px; border:1px solid #ccc;
    position:absolute; top:27px; left:161px;
    z-index: 10; background:#fff; text-align: center;
    display:none;
}
.select ul li{
    line-height:26px; border-bottom:1px solid #ccc;
    margin:0;
}
.select ul li:hover{
    background:#00bab9; color:#fff;
}
.editor .last{
    margin-left:159px;

}
.editor .last input{
    width:100px; height:38px;
    border:none; font-size:14px;
    border-radius:3px; margin-right:30px;
}
.editor .last input.cancel{
    background:#dfdfdf;
    color:#999!important;
}

.editor .last input.cancel:hover{
    background:#d1cfcf;
}

.editor .last input:hover{
    background:#00bab9;
    color:#fff;
}
.editor .last input.active{
    background:#00bab9;
    color:#fff!important;
}
  .myonlineProfile .applicationDetails-l{
    height:1404px;
}

/*wnn*/
.type{
    display: none;
}
.ulList li:first-child span{height:42px!important;}
.ulList span{display:table-cell;padding:2px;height:auto!important;height:42px!important;line-height:24px!important}
.ulList li{display:table-row}
.personalCenter-l,.personalCenter-r{height:600px!important;overflow: auto}
.personalCenter-r .visits  .visits-list .span4{text-align: left;}
.personalCenter-r .visits  .visits-list .span4 .openText{bottom:0px;}
.personalCenter-r .visits  .visits-list .span4 .openClose{
    position: relative;
    display:block;
    left:0;
    top:0;
    text-align:right;
 }
.orderList input:hover{
    border:1px solid #2dc6c5;
}
.fixImage {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    display: none;
}
.imgB img {
    margin-top: 7px;
    width: 90px;
    height: 90px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.cur{width: 100px;
    height: 38px;
    border: none;
    font-size: 14px;
    border-radius: 3px;
   }
.cancel{background: #dfdfdf;
    color: #999;}
.save{background: #00bab9;
    }
.popup-in{width:300px!important;padding-top:40px;margin-bottom:20px;margin-left:-200px!important}
.popup-in .success{font-size: 16px;margin-bottom:20px;}
.sibBtn{text-align: center;margin-bottom:20px;}

