/*弹窗样式*/
.popup{
    background:rgba(0,0,0,0.2);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);
    position:fixed;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    display: none; z-index: 200;
}
.popup-in{
    width:600px;
    position:absolute; top:50%; left:50%;
    background:#fff;
    margin-top:-180px;
    margin-left:-300px;
}
.popup-in .close{
    width:20px; height:20px; background:url(../img/close-1.png);
    position:absolute; top:18px; right:20px;
}
.confirm{
    width:94px; height:94px;
    background:#00bab9 url(../img/confirm.png) center center no-repeat;border-radius:50%;
    display:block; line-height:94px;
    text-align: center; font-size:40px; margin:75px auto 14px;
}
.popup-in .success{
    line-height:38px; text-align: center;
    color:#00bab9; margin-bottom:46px;
}
.popup-in .prompt{
    margin-left:52px; line-height:30px;
    margin-bottom:33px;
}
.popup-in .prompt p a{
    color:#00bab9;
}
.popup-in .order{
    margin-bottom:0px;
}
.popup-in  .resSMS{
    line-height:48px; text-align: center;
}
.popup-in .confirmContent{
    margin-top:6px;
    padding-bottom:18px;
}
.popup-in .confirmContent h4{
    line-height:44px; margin-left:56px;
}
.popup-in .confirmContent p{
    line-height:29px;
}
.popup-in .confirmContent p span{
    width:160px; text-align: right;
    margin-right:18px;
}
.popup-in .confirmContent p b{
    color:#666;font-size:12px;font-weight: normal;
}
.popup-in .line{
    width:521px; height:1px;
    background:#eeeeee;
    margin:0 auto 14px;
}
.popup-in .prompt1{
    padding-top:9px;
}
.popup-in .prompt1 .p1{
    line-height:30px; margin-bottom:4px;
}
.popup-in .prompt1 .p2{
    width:504px;
}

.erro{
    border-color:red!important;
}

/*qinjing*/

.conditionData span{
    width:90px; text-align: right; color:#999; margin-right:22px;line-height: 34px;
}
.conditionData  span b{
    color:#ff7c6a;
    margin-top:4px;
}
.conditionData  input{
    height:32px; border:1px solid #eee; width:280px;
    border-radius:5px; padding-left:18px; margin-right:23px;
    font-size:14px;
}
.conditionData  input:hover{
    border:1px solid #2dc6c5;
}
.conditionData textarea{
    width:656px; height:122px; border-radius:5px;
    border:1px solid #eee; padding:5px 12px 5px 18px; line-height:21px;
    color:black;
    font-size:14px;
}
.conditionData textarea:hover{
    border-color:#2dc6c5;
}
.input {
    margin-bottom: 20px;
}
.add {
    width: 88px;
    height: 88px;
    line-height: 88px;
    text-align: center;
    position: relative;
    border: 2px dashed #dddddd;
    font-size: 50px;
    color: #dddddd;
    margin-top: 10px;
}
.add input {
    margin: 0;
    padding: 0;
    width: 88px;
    height: 88px;
    filter: alpha(opacity : 0);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.conditionData .upPic p {
    line-height: 34px;
    color: #aaaaaa;
}
/*wanglinfei*/
.cancelPop .cancelPop-in{
    width:560px; height:392px;
    position: absolute; top:50%; left:50%; margin-left:-300px; margin-top:-155px;
    background:#fff;
}
.cancelPop .popTop{
    width:560px; height:50px; background:#00bab9; line-height: 50px;
    color:#fff; font-size: 20px;
}
.cancelPop .popTop span{
    padding-left:23px;
}
.cancelPop .popTop a{
    width:50px; height:50px; background:url("/img/close-2.png") center center no-repeat;
}
.cancelPop .popMod span{
    width:95px; height:95px;background:url("/img/cancelPop.png");
    float: inherit;
    display: block;
    margin: 48px auto 20px auto;
}
.cancelPop .popMod p{
     font-size:20px;
    color:#00bab9;
    text-align: center;
    width: 100%;
}
.cancelPop  .sibBtn{
    margin-top:14px;
    width:287px;
    margin:32px auto 0 auto;
}
.cancelPop  .sibBtn .save{
    width:116px; height:34px; border:2px solid #00bab9;
    background:#fff; color:#00bab9; margin-right:46px;
}
.cancelPop  .sibBtn .cancel{
    width:116px; height:34px; border:2px solid #c2c2c2;
    background:#fff; color:#888888;
}
.cancelPop  .sibBtn .save:hover{
    background:#00bab9; color:#fff;
}
.cancelPop  .sibBtn .cancel:hover{
    background:#c1c1c1; color:#fff;
}
