<li class="addLi">
    <i class="cloc cur"></i>
    <div class="clearfix list L_type">
        <span class="floatL name">药品类型</span>
        <input type="text" value="口服药" class="drugType" readonly />
        <i class="xiala1"></i>
        <div class="L_xialaL">
            <p>口服药</p>
            <p>注射药</p>
        </div>
    </div>
    <div class="clearfix list">
        <span class="floatL name">药品名称</span>
        <input type="text" class="inputBig drugName"/>
    </div>
    <div class="clearfix list div3">
        <span class="floatL name">药品计量</span>
        <input type="text"  class="inputsm dose"/>
        <span class="floatL name">药品单位</span>
        <input type="text" value="mg" class="input2 unit cur" readonly/>
        <i class="xiala2"></i>
        <div class="L_xialaL L_xialaL1">
            <p class="xialaV">ug</p>
            <p class="xialaV">mg</p>
            <p class="xialaV">g</p>
        </div>
    </div>
    <div class="clearfix list">
        <span class="floatL name">使用频率</span>
        <input type="text"  class="inputBig frequency"/>
    </div>
</li>