<%- include('ejs/Doc_head') %>
<body>
<div id="wrapper">
    <%- include('ejs/Doc_header') %>
    <%- include('ejs/Doc_nav') %>

    <div class="Wcon" id="page-wrapper">
        <div class="contentWrapper">
            <div class="content">
                <h2>首页 > 患者管理</h2>
                <div class="editWrapper">
                    <div class="edit">
                        <input type="text" name="write" class="search">
                        <input class="button" type="button" value="查&nbsp;询">
                    </div>
                    <div id="newPatient"><i></i><span>新增患者</span></div>
                </div>
                <div class="tableWrapper">
                    <table width="100%" cellspacing="0" cellpadding="0">
                        <thead>
                        <tr class="table_head">
                            <th>患者</th>
                            <th>性别</th>
                            <th>出生日期</th>
                            <th>电话</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="tableBody"></tbody>
                    </table>
                    <div id="dataNull_wrapper"></div>
                </div>
                <div class="pagination"></div>
            </div>

        </div>
    </div>

    <%- include('ejs/foot') %>
</div>
</body>
<form class="layW" style="display: none" id="W_form">
    <label id="repeat" class="error" style="display: none"></label>
    <label for="phone" style="color:#666666;padding-right:20px">手机号</label>
    <input type="text" id="phone" name="mobile" required
           data-rule-phone="true" style="width:266px;height:30px"/>
</form>


</html>
