<%- include('ejs/Doc_head') %>
<body class="fixed-sidebar" >
<div id="wrapper">
  <%- include('ejs/Doc_header') %>
  <%- include('ejs/Doc_nav') %>
    <!--右侧部分开始-->
  <div  id="page-wrapper">
      <div class="Ydoc_content Ydoc_conterEdit">
        <div class="Ydoc_title">
          <span>首页</span> &gt; <span>设置密码</span>
        </div>
        <div class="Ydoc_contentLt">
          <form class="Ydoc_changpasswForm">
            <div class="Y_div Y_Oldpaw">
              <label class="control-label">原密码</label>
              <div class="Y_input">
                <input id="oldpwd" type="password" name="oldpwd" required data-rule-password="true">
                <p style="color:#ff5f5f;margin-left:23px!important;position:absolute;font-size:14px;" class='ts'></p>
              </div>
            </div>
            <div class="Y_div Y_Newpaw">
            <label class="control-label">新密码</label>
            <div class="Y_input">
              <input type="password" id="password" name="password" required data-rule-password="true">
            </div>
          </div>
            <div class="Y_div Y_Qrpaw">
              <label class="control-label">确认密码</label>
              <div class="Y_input">
                <input id="newpass" type="password" name="newpass" equalTo="#password" required>
              </div>
            </div>
            <div class='Y_div'>
              <button class="btn btn-primary" type="button" id="Y_btn-save">确定</button>
            </div>
          </form>
        </div>
      </div>
  </div>
    <!--右侧部分结束-->
</div>
<%- include('ejs/foot') %>
</body>
</html>