<%- include('ejs/Doc_head') %>
<body class="fixed-sidebar" >
<div id="wrapper">
        <%- include('ejs/Doc_header') %>
        <%- include('ejs/Doc_nav') %>
        <!--右侧部分开始-->
        <div id="page-wrapper" >
            <div class="L_Model">
                <div class="L_information">
                    <div class="L_top clearfix">
                        <div class="L_topL">
                            <span>首页</span>
                            <i>></i>
                            <span>患者管理</span>
                            <i>></i>
                            <span>患者详情</span>
                        </div>
                        <div class="L_topR">
                            <p class="clearfix cur">
                                <i class="floatL"></i>
                                <span class="floatR">写总结</span>
                            </p>
                        </div>
                    </div>
                    <div class="L_infor clearfix">
                        <img src="../images/docLheader.png" alt="" class="floatL headimg">
                        <div class="floatL">
                            <p><i>姓名：</i><span class="name"></span></p>
                            <p><i>出生日期：</i><span class="birthday"></span></p>
                        </div>
                        <div class="floatL">
                            <p><i>性别：</i><span class="sex"></span></p>
                            <p><i>手机号：</i><span class="mobile"></span></p>
                        </div>
                    </div>
                    <div class="L_tab clearfix">
                        <p class="floatL p1 cur">咨询总结<i></i></p>
                        <p class="floatL active cur">血压记录<i></i></p>
                    </div>
                    <ul class="L_summary">

                    </ul>
                    <ul class="L_Record">

                    </ul>
                </div>
            </div>
            <div class="L_Popup">
                <div class="Mask"></div>
                <div class="L_PopupIn">
                    <div class="L_PopupIntop">
                        <p>健康建议</p>
                        <textarea name="" id="" placeholder="建议向患者阐明疾病及严重程度，日常生活需要注意的禁忌，是否面诊等。请控制在150字内。"></textarea>
                        <span><i class="num">0</i>/150</span>
                    </div>
                    <div class="L_PopupIntop Lmed">
                        <p>用药指导</p>
                        <span class="clearfix Lmedadd cur"><i class="floatL"></i> <em class="floatL">添加用药</em></span>
                    </div>
                    <ul class="Lmedinfor">
                        <li>
                            <div class="clearfix list L_type">
                                <span class="floatL name">药品类型</span>
                                <input type="text" value="口服药" class="drugType" readonly />
                                <i class="xiala1"></i>
                                <div class="L_xialaL">
                                    <p>口服药</p>
                                    <p>注射药</p>
                                </div>
                            </div>
                            <div class="clearfix list">
                                <span class="floatL name">药品名称</span>
                                <input type="text" class="inputBig drugName"/>
                            </div>
                            <div class="clearfix list div3">
                                <span class="floatL name">药品计量</span>
                                <input type="text"  class="inputsm dose"/>
                                <span class="floatL name">药品单位</span>
                                <input type="text" value="mg" class="input2 unit cur"/>
                                <i class="xiala2"></i>
                                <div class="L_xialaL L_xialaL1">
                                    <p class="xialaV">ug</p>
                                    <p class="xialaV">mg</p>
                                    <p class="xialaV">g</p>
                                </div>
                            </div>
                            <div class="clearfix list">
                                <span class="floatL name">使用频率</span>
                                <input type="text"  class="inputBig frequency"/>
                            </div>
                        </li>
                    </ul>
                    <div class="L_buttC">
                        <button class="submit cur">确定</button>
                        <button class="clo cur">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <!--右侧部分结束-->

</div>
<%- include('ejs/foot') %>
</body>
</html>
