<%- include('ejs/head') %>
<body>
<%- include('ejs/header') %>
<div class="isBodyWapper">
  <div class="isBody">
      <div class="JEncy">
          <div class="JinfoTab">
              <ul class="clearfix">
              </ul>
          </div>
          <div class="JEncyCont">
              <div class="JinfoCont marBot60 clearfix">
                  <div class="JinfoContList clearfix">

                  </div>

              </div>
              <%- include('ejs/pagination') %>
          </div>
      </div>
  </div>
</div>
<%- include('ejs/footer') %>
<%- include('ejs/foot') %>
</body>
</html>