<!--<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1.0">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>修改密码</title>
  <link rel="stylesheet" href="./css/modify-password.css">
</head>-->
<%- include('ejs/head') %>
<body>
<%- include('ejs/header') %>
<div class="main-bg">
  <div class="main">
    <div class="title">
      <span>首页</span> &gt; <span>个人中心</span>
    </div>
    <div class="content clear">
      <!--左边区域-->
     <div class="pull-left">
        <img class="img" id="Img" src="../images/head-photo.png" alt="头像">
        <div class="name xingming"></div>
        <div class="phone"></div>
        <div class="link">
          <div class="personal-info"></div>
          <div class="modify-password">
            <a href="../html/Fpersonal-center.html"><img style="margin:3px 10px;" src="../images/xin.png" width="20" height="20" ><span>个人信息</span></a>
            <a class="active" href="./Fmodify-password.html"><img style="margin:3px 10px;" src="../images/xin-1.png" width="16" height="20"><span>设置密码</span></a>
          </div>
        </div>
      </div>
      <!-- end -->
      <!--右边区域-->
      <div class="pull-right">
        <h3><i></i> 设置密码</h3>
        <div class="container">
          <form id="loginForm">
            <label class="Jset clear first">
              <div class="pull-left left">原密码</div>
              <input  class="pull-left right" id="oldpwd" type="password"  >
              <span class="Jerror"></span>
            </label>
            <label class="Jset clear Second">
              <div class="pull-left left">新密码</div>
              <input  class="pull-left right" type="password"  textmode="password" id="password" >
              <span class="Jerror"></span>
            </label>
            <label class="Jset clear">
              <div class="pull-left left">确定密码</div>
              <input  class="pull-left right" type="password" id="newpass" textmode="password" >
              <span class="Jerror"></span>
            </label>
           <!--<input type="submit" value="确定">--><a href="javaScript:;" style="margin: 0 268px" class="button button-primary button-rounded button-small" id="submit">确定</a>

          </form>
        </div>
      </div>
      <!--end-->

    </div>
  </div>
</div>
<%- include('ejs/footer') %>
<%- include('ejs/foot') %>
</body>
</html>