
<%- include('ejs/head') %>
<body>
<%- include('ejs/header') %>
<div class="main-bg">
  <div class="main">
    <div class="title">
      <span>首页</span> &gt; <span>个人中心</span>
    </div>
    <div class="content clear">


      <!--左边区域-->

    <div class="pull-left">
        <img class="img" id="Img" src="../images/head-photo.png" alt="头像">
        <div class="name xingming"></div>
        <div class="phone"></div>
        <div class="link">
          <div class="personal-info"></div>
          <div class="modify-password">
            <a class="active" href="javascript:;"><img style="margin:3px 10px;" src="../images/personal-info.png" width="20" height="20"><span>个人信息</span></a>
            <a href="./Fmodify-password.html"><img style="margin:3px 10px;" src="../images/suo.png" width="16" height="20"><span>设置密码</span></a>
          </div>
        </div>
      </div>

      <!-- end -->

      <!--右边区域-->
      <div class="pull-right">
        <h3><i></i> 个人信息</h3>
        <div class="container">
          <div class="clear head">
            <div class="pull-left left" ><p id="head">头像</p></div>
            <div class="right pull-left clear">
              <img class="pull-left img" src="../images/head-photo.png">
              <a href="../html/Fmodify-info.html" class="pull-right">编辑</a>
            </div>
          </div>
          <div class="clear">
            <div class="left pull-left">
              姓名
            </div>
            <div class="right pullleft " id="xingming">

            </div>
          </div>
          <div class="clear">
            <div class="left pull-left">
              性别
            </div>
            <div class="right pullleft sex">

            </div>
          </div>
          <div class="clear">
            <div class="left pull-left">
              手机号
            </div>
            <div class="right pullleft" id="phoneNum">

            </div>
          </div>
          <div class="clear">
            <div class="left pull-left">
              身份证号
            </div>
            <div class="right pullleft"  id="idNum">

            </div>
          </div>
          <div class="clear">
            <div class="left pull-left">
              出生日期
            </div>
            <div class="right pullleft bor">

            </div>
          </div>
          <div class="clear">
            <div class="left pull-left">
              地址
            </div>
            <div class="right pullleft add" style="width: 456px;display: inline-block;">

            </div>
          </div>
        </div>
      </div>
      <!--end-->

    </div>
  </div>
</div>
<%- include('ejs/footer') %>
<%- include('ejs/foot') %>
</body>
</html>