<%- include('ejs/head') %>
<body>
<%- include('ejs/header') %>
<div class="isBodyWapper isBodywhite">
    <div class="J_banners">
     <img src="../images/j_met.png" />
    </div>
    <div class="Jmet_cont">
        <h2>会议安排</h2>
        <h3 class="Jmet_title">
            <p>
                <label>会议时间：</label>
                <span>2017年4月25日</span>
            </p>
            <p>
                <label>会议酒店：</label>
                <span>长沙通程麓山大酒店</span>
            </p>
        </h3>
        <div class="Jmet_list">
            <ul>
                <li class="clearfix">
                    <h5>08:30－09:30</h5>
                    <div class="Jlist_box">
                        <p>会议签到</p>
                        <dfn>参与人员：全员</dfn>
                        <i></i>
                    </div>
                </li>
                <li class="clearfix">
                    <h5>09:30－09:35</h5>
                    <div class="Jlist_box">
                        <p>宣读慢病管理倡议书</p>
                        <dfn>参与人员：袁洪教授</dfn>
                        <i></i>
                    </div>
                </li>
                <li class="clearfix">
                    <h5>09:35－09:40</h5>
                    <div class="Jlist_box">
                        <p>宣读湖南省高血压健康教育学校成立文件</p>
                        <dfn>参与人员：蒋卫红教授</dfn>
                        <i></i>
                    </div>
                </li>
                <li class="clearfix">
                    <h5>09:40－09:45</h5>
                    <div class="Jlist_box">
                        <p>领导致辞</p>
                        <dfn>参与人员：中南大学</dfn>
                        <i></i>
                    </div>
                </li>
                <li class="clearfix">
                    <h5>09:45－09:55</h5>
                    <div class="Jlist_box">
                        <p>领导致辞</p>
                        <dfn>参与人员：湖南省科技厅</dfn>
                        <i></i>
                    </div>
                </li>
                <li class="clearfix">
                    <h5>09:55－10:05</h5>
                    <div class="Jlist_box">
                        <p>领导致辞</p>
                        <dfn>参与人员：湖南省卫计委</dfn>
                        <i></i>
                    </div>
                </li>
                <li class="clearfix">
                    <h5> 10:05－10:10</h5>
                    <div class="Jlist_box">
                        <p>宣读湖南省高血压健康教育学校专家委员会、讲师团名单</p>
                        <dfn>参与人员：蒋卫红教授</dfn>
                        <i></i>
                    </div>
                </li>
                <li class="clearfix">
                    <h5> 10:10－10:15</h5>
                    <div class="Jlist_box">
                        <p>领导为湖南省高血压健康教育学校专家代表颁发聘书</p>
                        <dfn>参与人员：主席台就座领导</dfn>
                        <i></i>
                    </div>
                </li>
                <li class="clearfix">
                    <h5> 10:15－10:20</h5>
                    <div class="Jlist_box">
                        <p>领导为湖南省高血压健康教育学校讲师代表颁发聘书</p>
                        <dfn>参与人员：主席台就座领导</dfn>
                        <i></i>
                    </div>
                </li>
                <li class="clearfix">
                    <h5> 10:20－10:25</h5>
                    <div class="Jlist_box">
                        <p>领导为湖南省高血压健康教育学校首批分校代表授牌</p>
                        <dfn>参与人员：主席台就座领导</dfn>
                        <i></i>
                    </div>
                </li>
                <li class="clearfix">
                    <h5> 10:25－10:30</h5>
                    <div class="Jlist_box">
                        <p>湖南心脑血管病防治协同创新联盟单位签约仪式（示范医院10家、示范社区10家、
                            协作企业6家：湖南移动、双鹤药业、北京健科、湖南科创、乐九医疗、辉瑞制药）</p>
                        <dfn>参与人员：联盟牵头单位、各医院代表、企业代表</dfn>
                        <i></i>
                    </div>
                </li>
                <li class="clearfix">
                    <h5> 10:30－10:35</h5>
                    <div class="Jlist_box">
                        <p>心脑血管病防治协同创新联盟启动仪式</p>
                        <dfn>参与人员：主席台就座嘉宾</dfn>
                        <i></i>
                    </div>
                </li>
                <li class="clearfix">
                    <h5> 10:35－10:50</h5>
                    <div class="Jlist_box">
                        <p>茶歇</p>
                        <i></i>
                    </div>
                </li>
                <li class="clearfix">
                    <h5> 10:50－11:20</h5>
                    <div class="Jlist_box">
                        <p>基层高血压防治指南解读</p>
                        <dfn>参与人员：王文教授</dfn>
                        <i></i>
                    </div>
                </li>
                <li class="clearfix">
                    <h5> 11:20－11:50</h5>
                    <div class="Jlist_box">
                        <p>高血压自我管理的网站和App</p>
                        <dfn>参与人员：袁洪教授</dfn>
                        <i></i>
                    </div>
                </li>
                <li class="clearfix">
                    <h5> 12:00－13:30</h5>
                    <div class="Jlist_box">
                        <p>午餐</p>
                        <i></i>
                    </div>
                </li>
                <li class="clearfix">
                    <h5> 13:30－14:00</h5>
                    <div class="Jlist_box">
                        <p>复方降压药物的合理应用</p>
                        <dfn>参与人员：杨天伦教授</dfn>
                        <i></i>
                    </div>
                </li>
                <li class="clearfix">
                    <h5> 14:00－15:00</h5>
                    <div class="Jlist_box">
                        <p>社区高血压规范化培训课程</p>
                        <dfn>参与人员：蒋卫红教授</dfn>
                        <i></i>
                    </div>
                </li>
                <li class="clearfix Jmet_pad">
                    <h5> 15:00－16:00</h5>
                    <div class="Jlist_box">
                        <p>讨论交流及会议闭幕式</p>
                        <i></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<%- include('ejs/footer') %>
<%- include('ejs/foot') %>
</body>
</html>