<%- include('ejs/head') %>
<body>
<%- include('ejs/header') %>
<div class="isBodyWapper">
    <div class="isBody">
        <div class="JpositionNav">
            <a href="javascript:;">首页</a> >
            <a href="javascript:;">用药宝典</a>
        </div>
        <div class="Y_SlowDisWrap J_SlowDisWrap clearfix">
            <div class="Y_slowDisLt">
                <ul class="JinfoTab" id="jdrug">
                    <li>
                        <a href="javascript:;">高血压<i></i></a>
                        <ol class="jdrugList">
                            <li onclick="highW(this)"><a href="J_Usedrug.html?index=0">高血压危象</a></li>
                            <li onclick="highW(this)"><a href="J_Usedrug.html?index=1">原发性高血压</a></li>

                        </ol>
                    </li>
                    <li class="active">
                        <a href="javascript:;">冠心病<i></i></a>
                        <ol class="jdrugList">
                            <li  onclick="highW(this)"><a href="J_Usedrug2.html?index=0">冠状动脉粥样硬化性心脏病</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="javascript:;">脑卒中<i></i></a>
                        <ol class="jdrugList">
                            <li onclick="highW(this)"><a href="J_Usedrug3.html?index=0">脑出血</a></li>
                            <li onclick="highW(this)"><a href="J_Usedrug3.html?index=1">缺血性脑血管疾病</a></li>
                            <li onclick="highW(this)"><a href="J_Usedrug3.html?index=2">蛛网膜下腔出血</a></li>
                            <li onclick="highW(this)"><a href="J_Usedrug3.html?index=3">短暂性脑缺血发作（TIA）</a></li>
                            <li onclick="highW(this)"><a href="J_Usedrug3.html?index=4">脑出血（ICH）</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="javascript:;">糖尿病<i></i></a>
                        <ol class="jdrugList">
                            <li><a href="J_Usedrug4.html?index=0">糖尿病</a></li>
                            <li><a href="J_Usedrug4.html?index=1">糖尿病急症</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="javascript:;">血脂异常<i></i></a>
                        <ol class="jdrugList">
                            <li><a href="J_Usedrug5.html?index=0">血脂异常</a></li>
                        </ol>
                    </li>
                </ul>
                <div id="module" class=" Y_primaryHWrap">
                    <div class="Y_DrugbWrap">
                        <h2><a><img src="../images/Y_primaryicon1.png" class="Y_primary_img1">冠状动脉粥样硬化性心脏病<img src="../images/Y_primaryicon1.png" class="Y_primary_img2"></a></h2>

                        <div class="Y_DrugbCon1">
                            <h3>疾病概要</h3>
                            <p>
                                冠状动脉粥样硬化性心脏病是指冠状动脉粥样硬化使管腔狭窄或阻塞，导致心肌缺血、缺氧而引起的心脏病，简称冠心病。冠心病是严重威胁人类健康的疾病，据WHO统计，冠心病是常见的死亡原因，位居首位。根据临床类型，冠心病可分为慢性心肌缺血综合征和急性冠脉综合征两大类。前者包括隐匿型冠心病、稳定型心绞痛和缺血性心肌病；后者主要包括不稳定型心绞痛和急性心肌梗死（ST段抬高型心肌梗死和非ST段抬高型心肌梗死）。稳定型心绞痛的典型临床表现为在体力劳动或情绪激动时诱发的胸前区压迫性疼痛，可波及心前区，放射至左肩、左臂内侧等处，疼痛一般在3～5分钟内逐渐消失。不稳定型心绞痛与非ST段抬高型心肌梗死胸部不适的部位及性质与典型的稳定型心绞痛相似，但通常程度更重，持续时间更长。ST段抬高型心肌梗死则表现为胸痛程度更重、持续时间更长、休息和服用硝酸甘油多不能缓解，其他临床表现与梗死的面积、部位以及冠状动脉侧支血管情况密切相关。</p>
                        </div>
                        <div class="Y_DrugbCon1">
                            <h3>治疗原则</h3>
                            <p>常用治疗药物及分类：其他名称临床应用药理作用体内过程用法与用量不良反应禁忌证儿童用药老年患者用药药物相互作用注意事项药物过量制剂与规格</p>
                            <p>
                                稳定型心绞痛的治疗目的为减少缺血发作和缓解症状，预防急性急性心肌梗死和猝死。药物治疗包括抗心肌缺血、抗血小板、稳定斑块等。不稳定型心绞痛与非ST段抬高型心肌梗死的治疗目标是稳定斑块、治疗残余心肌缺血并进行长期的二级预防，治疗上应给予积极的抗栓治疗。ST段抬高型心肌梗死除一般治疗外，应尽快给予再灌注治疗以保护和维持心脏功能，挽救濒死心肌，尽可能保持有功能的心肌。</p>
                        </div>
                        <div class="Y_DrugbCon1">
                            <h3>推荐处方</h3>
                            <ul class="recommendW">
                                <li class="bigModuleW"><p><img src="../images/triangle.png">适用于稳定型心绞痛</p>
                                    <ul class="smallW">
                                        <li>
                                            <p>1、抗心绞痛和抗缺血治疗</p>
                                            <ul>
                                                <li>处方一： 硝酸甘油，10mg/次，立即含服（发作时）。</li>
                                                <li>处方二： 单硝酸异山梨酯，40mg/次，口服，1次/日。</li>
                                                <li>处方三： 美托洛尔，25mg/次，口服，2次/日。</li>
                                                <li>处方四： 比索洛尔，5mg/次，口服，1次/日。</li>
                                                <li>处方五： 硝苯地平控释片，30mg/次，口服，1次/日。</li>
                                                <li>处方六： 非洛地平缓释片，5mg/次，口服，1次/日。</li>
                                                <li>处方七： 地尔硫 zaozi001，30mg/次，口服，3次/日。（适用于变异型心绞痛，注意不与β受体阻断药联用）。</li>
                                                <li>处方八： 曲美他嗪，20mg/次，口服，3次/日。</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>2、预防心肌梗死和死亡</p>
                                            <ul>
                                                <li>处方一： 阿司匹林，100mg/次，口服，1次/日。</li>
                                                <li>处方二： 氯吡格雷，75mg/次，口服，1次/日。</li>
                                                <li>处方三： 阿托伐他汀，40mg/次，夜间口服，1次/日。</li>
                                                <li>处方四： 辛伐他汀，40mg/次，夜间口服，1次/日。</li>
                                                <li>处方五： 培哚普利，4mg/次，口服，1次/日。</li>
                                                <li>处方六： 依那普利，10mg/次，口服，2次/日。</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>3、中医中药治疗</p>
                                            <ul>
                                                <li>处方一： 通心络，2～4 粒/次，口服，3次/日。</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="bigModuleW"><p><img src="../images/triangle.png">适用于不稳定型心绞痛与非 ST 段抬高型心肌梗死抗栓治疗
                                </p>
                                    <ul class="smallW">
                                        <li>
                                            <p>1、抗栓治疗</p>
                                            <h4>1.1抗血小板治疗</h4>
                                            <ul>
                                                <li class="clearfix">
                                                    <span>处方一：</span>
                                                    <div>
                                                        <p>（1）阿司匹林，300mg/次，顿服。</p>
                                                        <p> （2）接阿司匹林，100mg/次，口服，1次/日。</p>
                                                    </div>
                                                </li>
                                                <li class="clearfix">
                                                    <span>处方二： </span>
                                                    <div>
                                                        <p>（1）氯吡格雷，300mg/次，顿服。（2）接氯吡格雷，75mg/次，口服，1次/日。</p>
                                                        <p> （2）接氯吡格雷，75mg/次，口服，1次/日。</p>
                                                    </div>
                                                </li>
                                                <li>处方三： 替罗非注射液，100ml，静脉滴注[起始 30 分钟滴注速率为 0.4μg/（kg·min）；起始输注量完成后，继续以
                                                    0.1μg/（kg·min）的速率维持滴注，适用于高危患者或拟行 PCI 的患者]。
                                                </li>
                                            </ul>
                                            <h4>1.2抗凝治疗</h4>
                                            <ul>
                                                <li class="clearfix">
                                                    <span>处方一： </span>
                                                    <div>
                                                        <p>（1）肝素钠 5000U+100ml 生理盐水，静脉滴注（溶栓前快速静脉滴注）。</p>
                                                        <p> （2）接肝素钠 1 万 U+250ml
                                                            生理盐水，静脉滴注（持续 24 小时）。</p>
                                                    </div>
                                                </li>
                                                <li>处方二： 依诺肝素注射液，40mg/次，皮下注射，每 12 小时 1 次。</li>
                                                <li>处方三： 那曲肝素注射液，0.4ml，皮下注射，每 12 小时 1 次。</li>
                                                <li>处方四： 磺达肝癸钠注射液，2.5mg/次，皮下注射，每 12 小时 1 次。</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>2、抗心肌缺血治疗</p>
                                            <ul>
                                                <li>处方一： 硝酸甘油 10mg+5%葡萄糖注射液，静脉滴注。</li>
                                                <li>处方二： 硝酸异山梨酯 20mg+5%葡萄糖注射液 250ml，静脉滴注（1～5mg/min）。</li>
                                                <li>处方三： 比索洛尔，2.5mg/次，口服，1次/日。</li>
                                                <li>处方四： 美托洛尔缓释片，47.5mg/次，口服，1次/日。</li>
                                                <li>处方五： 盐酸吗啡注射液，5mg，肌内注射，立即（必要时 1 小时后可重复 1 次）。</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>3、其他药物治疗</p>
                                            <ul>
                                                <li>处方一： 阿托伐他汀，40mg/次，夜间口服，1次/日。</li>
                                                <li>处方二： 辛伐他汀，40mg/次，夜间口服，1次/日。</li>
                                                <li>处方三： 依那普利，10mg/次，口服，1次/日。</li>
                                                <li>处方四： 美托洛尔缓释片，47.5mg/次，口服，1次/日。</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="bigModuleW"><p><img src="../images/triangle.png">适用于 ST 段抬高型心肌梗死溶栓治疗</p>
                                    <ul class="smallW">
                                        <li>
                                            <ul>
                                                <li>处方一： 尿激酶 150 万 U+100ml 生理盐水，静脉滴注（30 分钟内滴注完毕）。</li>
                                                <li class="clearfix">
                                                    <span>处方一：</span>
                                                    <div>
                                                        <p>（1）r-tPA 注射液，15mg，静脉注射，立即。</p>
                                                        <p> （2）接 r-tPA 注射液，50mg，静脉滴注，30 分钟内。</p> <p> （3）接r-tPA 注射液，35mg，静脉滴注，60 分钟内。</p>
                                                    </div>
                                                </li>
                                            </ul>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="Y_DrugbCon1">
                            <h3>注意事项</h3>
                            <p>1.冠心病患者应坚持长期综合治疗，积极控制高血压、糖尿病、高脂血症等相关危险因素以改善预后。</p>
                            <p>2.血运重建是冠心病的重要治疗手段，可改善患者的症状及预后，有条件的医院应积极开展。</p>
                            <p>3.急性冠脉综合征患者如出现心力衰竭、心律失常等并发症应积极治疗，具体药物可参照其他章节。</p>
                            <p>4.急性冠脉综合征患者使用β受体阻断药有助于降低疾病的病死率，但需注意药物禁忌证。CCB 类药物也可以减轻胸痛症状，但目前证据显示在不稳定型心绞痛患者中 CCB
                                不能预防急性心肌梗死或降低病死率。目前仅推荐不能耐受β受体阻断药的患者中给予二氢吡啶类CCB。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Y_slowDisRt">
                <%- include('ejs/related_Articles')%>
            </div>
        </div>
    </div>
</div>
<%- include('ejs/footer') %>
<%- include('ejs/foot') %>
</body>
</html>