<%- include('ejs/head') %>
<body>
<%- include('ejs/header') %>
<div class="isBodyWapper">
  <div class="isBody">
      <div class="JpositionNav">
          <a href="javascript:;">首页</a> >
          <a href="javascript:;">用药宝典</a>
      </div>
      <div class="Y_SlowDisWrap J_SlowDisWrap clearfix">
          <div class="Y_slowDisLt">
              <ul class="JinfoTab" id="jdrug">
                  <li>
                      <a href="javascript:;">高血压<i></i></a>
                      <ol class="jdrugList">
                          <li onclick="highW(this)"><a href="J_Usedrug.html?index=0">高血压危象</a></li>
                          <li onclick="highW(this)"><a href="J_Usedrug.html?index=1">原发性高血压</a></li>
                      </ol>
                  </li>
                  <li>
                      <a href="javascript:;">冠心病<i></i></a>
                      <ol class="jdrugList">
                          <li  onclick="highW(this)"><a href="J_Usedrug2.html?index=0">冠状动脉粥样硬化性心脏病</a></li>
                      </ol>
                  </li>
                  <li>
                      <a href="javascript:;">脑卒中<i></i></a>
                      <ol class="jdrugList">
                          <li onclick="highW(this)"><a href="J_Usedrug3.html?index=0">脑出血</a></li>
                          <li onclick="highW(this)"><a href="J_Usedrug3.html?index=1">缺血性脑血管疾病</a></li>
                          <li onclick="highW(this)"><a href="J_Usedrug3.html?index=2">蛛网膜下腔出血</a></li>
                          <li onclick="highW(this)"><a href="J_Usedrug3.html?index=3">短暂性脑缺血发作（TIA）</a></li>
                          <li onclick="highW(this)"><a href="J_Usedrug3.html?index=4">脑出血（ICH）</a></li>
                      </ol>
                  </li>
                  <li  class="active">
                      <a href="javascript:;">糖尿病<i></i></a>
                      <ol class="jdrugList">
                          <li><a href="J_Usedrug4.html?index=0">糖尿病</a></li>
                          <li><a href="J_Usedrug4.html?index=1">糖尿病急症</a></li>
                      </ol>
                  </li>
                  <li>
                      <a href="javascript:;">血脂异常<i></i></a>
                      <ol class="jdrugList">
                          <li><a href="J_Usedrug5.html?index=0">血脂异常</a></li>
                      </ol>
                  </li>
              </ul>
              <div id="module">
                  <!--糖尿病-->
                  <div class="Y_DrugbWrap Y_primaryHWrap">
                      <h2><a><img src="../images/Y_primaryicon1.png" class="Y_primary_img1">糖尿病<img src="../images/Y_primaryicon1.png" class="Y_primary_img2"></a></h2>
                      <div class="Y_DrugbCon1">
                          <h3>推荐处方</h3>
                          <ul class="recommendW">
                              <li class="bigModuleW"><p><img src="../images/triangle.png">适用于 1 型糖尿病的治疗</p>
                                  <ul class="smallW">
                                      <li>
                                          <ul>
                                              <li>处方一： 短效与中效胰岛素的混合物，0.5~1.0U/（kg·d），早餐及晚餐前 30min 皮下注射，2 次/日。</li>
                                              <li class="clearfix">
                                                  <span>处方二： </span>
                                                  <div>
                                                      <p>（1）超短效胰岛素类似物和短效胰岛素，起始剂量 0.2U/（kg·d），餐前 30min 皮下注射，3 次/日，3~5 天调整 1 次剂量，每次调整 1~4U。</p>
                                                      <p>（2）中效或长效胰岛素，起始剂量 0.2U/（kg·d），睡前皮下注射 1 次，3~5 天调整 1
                                                          次剂量，每次调整 1~4U。</p>
                                                  </div>
                                              </li>
                                          </ul>
                                      </li>
                                  </ul>
                              </li>
                              <li class="bigModuleW"><p><img src="../images/triangle.png">适用于 2 型糖尿病的治疗</p>
                                  <ul class="smallW">
                                      <li>
                                          <p>1、适用于 2 型糖尿病的基础治疗</p>
                                          <ul>
                                              <li>处方一： 二甲双胍缓释片，500~2000mg/次，随晚餐服用，1 次/日；或 1000mg/次，随早餐 及晚餐服用，2 次/日。</li>
                                              <li>处方二： 格列本脲片，5~15mg/d，餐前口服，2~3 次/日。</li>
                                              <li>处方三： 格列吡嗪片，2.5~30mg/d，餐前口服，2~3 次/日。</li>
                                              <li>处方四： 格列美脲片，1~8mg/次，餐前口服，1 次/日。</li>
                                              <li>处方五： 阿卡波糖片，50~200mg/次，餐前立即服用，3 次/日。</li>
                                          </ul>
                                      </li>
                                      <li>
                                          <p>2、适用于经方案1治疗后，血糖控制不达标（HbA1c＞7.0%）的 2 型糖尿病治疗</p>
                                          <ul>
                                              <li class="clearfix">
                                                  <span>处方一： </span>
                                                  <div>
                                                      <p>（1）二甲双胍缓释片，500~2000mg/次，随晚餐服用，1 次/日。</p>
                                                      <p>（2）格列本脲片，5~15mg/d，餐前口服，2~3 次/日；或格列吡嗪片，2.5~30mg/d， 餐前口服，2~3 次/日；或格列美脲片，1~8mg/次，餐前口服，1 次/日。</p>
                                                  </div>
                                              </li>
                                              <li class="clearfix">
                                                  <span>处方二： </span>
                                                  <div>
                                                      <p>（1）二甲双胍缓释片，500~2000mg/次，随晚餐服用，1 次/日。</p>
                                                      <p>（2）阿卡波糖片，50~200mg/次，餐前立即服用，3 次/日。</p>
                                                  </div>
                                              </li>
                                          </ul>
                                      </li>
                                      <li>
                                          <p>3、适用于经方案2治疗后，血糖控制不达标（HbA1c＞7.0%）的 2 型糖尿病治疗 </p>
                                          <ul>
                                              <li class="clearfix">
                                                  <span>处方一： </span>
                                                  <div>
                                                      <p>（1）中效或长效胰岛素类似物，起始剂量为 0.2U/（kg·d），睡前皮下注射 1 次，每

                                                          3~5 天调整 1 次剂量，每次调整 1~4U。</p>
                                                      <p>（2）二甲双胍缓释片，500~2000mg/次，随晚餐服用，1 次/日。</p>
                                                      <p>（3）格列本脲片，5~15mg/d，餐前口服，2~3 次/日；或格列吡嗪片，2.5~30mg/d， 餐前口服，2~3 次/日；或格列美脲片，1~8mg/次，餐前口服，1 次/日。</p>
                                                  </div>
                                              </li>
                                              <li class="clearfix">
                                                  <span>处方二： </span>
                                                  <div>
                                                      <p>（1）中效或长效胰岛素类似物，起始剂量为 0.2U/（kg·d），睡前皮下注射 1 次，每
                                                          3~5 天调整 1 次剂量，每次调整 1~4U。</p>
                                                      <p>（2）二甲双胍缓释片，500~2000mg/次，随晚餐服用，1 次/日。</p>
                                                      <p>（3）阿卡波糖片，50~200mg/次，餐前立即服用，3 次/日。</p>
                                                  </div>
                                              </li>
                                              <li class="clearfix">
                                                  <span>处方三： </span>
                                                  <div>
                                                      <p>（1）短效与中效胰岛素的混合物，起始剂量为 0.2U/（kg·d），晚餐前 30 分钟注射 1
                                                          次，每 3~5 天调整 1 次，每次调整 1~4U。</p>
                                                      <p>（2）二甲双胍缓释片，500~2000mg/次，随晚餐服用，1 次/日。</p>
                                                      <p>（3）格列本脲片，5~15mg/d，餐前口服，2~3 次/日；或格列吡嗪片，2.5~30mg/d， 餐前口服，2~3 次/日；或格列美脲片，1~8mg/次，餐前口服，1 次/日。</p>
                                                  </div>
                                              </li>
                                              <li class="clearfix">
                                                  <span>处方四： </span>
                                                  <div>
                                                      <p>（1）短效与中效胰岛素的混合物，起始剂量为 0.2U/（kg·d），晚餐前 30 分钟注射 1
                                                          次，每 3~5 天调整 1 次，每次调整 1~4U。</p>
                                                      <p>（2）二甲双胍缓释片，500~2000mg/次，随晚餐服用，1 次/日。</p>
                                                      <p>（3）阿卡波糖片，50~200mg/次，餐前立即服用，3 次/日。</p>
                                                  </div>
                                              </li>
                                              <li class="clearfix">
                                                  <span>处方五： </span>
                                                  <div>
                                                      <p>（1）短效与中效胰岛素的混合物，起始剂量为 0.2~0.4U/（kg·d），按 1:1 的比例早餐 及晚餐前 30 分钟各注射 1 次，每 3~5 天调整 1 次，每次调整 1~4U。</p>
                                                      <p>（2）二甲双胍缓释片，500~2000mg/次，随晚餐服用，1 次/日。</p>
                                                      <p>（3）格列本脲片，5~15mg/d，餐前口服，2~3 次/日；或格列吡嗪片，2.5~30mg/d， 餐前口服，2~3 次/日；或格列美脲片，1~8mg/次，餐前口服，1 次/日。</p>
                                                  </div>
                                              </li>
                                              <li class="clearfix">
                                                  <span>处方六： </span>
                                                  <div>
                                                      <p>（1）短效与中效胰岛素的混合物，起始剂量为 0.2~0.4U/（kg·d），按 1:1 的比例早餐 及晚餐前 30 分钟各注射 1 次，每 3~5 天调整 1 次，每次调整 1~4U。</p>
                                                      <p>（2）二甲双胍缓释片，500~2000mg/次，随晚餐服用，1 次/日。</p>
                                                      <p>（3）阿卡波糖片，50~200mg/次，餐前立即服用，3 次/日。</p>
                                                  </div>
                                              </li>
                                          </ul>
                                      </li>
                                      <li>
                                          <p>4、适用于经方案3治疗后，血糖控制不达标（HbA1c＞7.0%）的 2 型糖尿病治疗</p>
                                          <ul>
                                              <li>处方一： 短效与中效胰岛素的混合物，0.5~1.0U/（kg·d），早餐、晚餐前  30  分钟及睡前皮下 注射，3 次/日。</li>
                                              <li class="clearfix">
                                                  <span>处方二： </span>
                                                  <div>
                                                      <p>（1）超短效胰岛素类似物和短效胰岛素，起始剂量为 0.2U/（kg·d），餐前 30 分钟皮

                                                          下注射，3 次/日，每 3~5 天调整 1 次剂量，每次调整 1~4U。</p>
                                                      <p>（2）中效或长效胰岛素类似物，起始剂量为 0.2U/（kg·d），睡前皮下注射 1 次，每
                                                          3~5 天调整 1 次剂量，每次调整 1~4U。</p>
                                                  </div>
                                              </li>
                                          </ul>
                                      </li>
                                  </ul>
                              </li>
                              <li class="bigModuleW"><p><img src="../images/triangle.png">糖尿病的中药治疗</p>
                                  <ul class="smallW">
                                      <li>
                                          <ul>
                                              <li>处方一： 消渴丸，成分为葛根、天花粉、黄芪、生地黄、玉米须、南五味子、山药、格列本 脲，用于气阴两虚所致的消渴病。规格为每 10 丸重 2.5g（含格列本脲 2.5mg）。5~10 丸/次， 餐前温开水送服，2~3 次/日。注意：1 型糖尿病和 2 型糖尿病伴酮症酸中毒、昏迷、严重烧 伤、感染和重大手术者等禁用。</li>
                                              <li>处方二： 参芪降糖胶囊，成分为人参茎叶皂苷、五味子、黄芪、山药、地黄、覆盆子、麦冬、 茯苓、天花粉、泽泻、枸杞子，益气养阴、滋脾补肾，用于 2 型糖尿病。规格为 0.35g/粒。 3 粒/次，口服，3 次/日，疗程为 1 个月。注意：有实热症者禁用。</li>
                                          </ul>
                                      </li>
                                  </ul>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <!--糖尿病 end-->
                  <!--糖尿病急症-->
                  <div class="Y_DrugbWrap Y_primaryHWrap" style="display: none">
                      <h2><a><img src="../images/Y_primaryicon1.png" class="Y_primary_img1">糖尿病急症<img src="../images/Y_primaryicon1.png" class="Y_primary_img2"></a></h2>
                      <div class="Y_DrugbCon1">
                          <h3>推荐处方</h3>
                          <ul class="recommendW">
                              <li class="bigModuleW"><p><img src="../images/triangle.png">适用于糖尿病急症的胰岛素治疗</p>
                                  <ul class="smallW">
                                      <li>
                                          <ul>
                                              <li>处方一： 0.9%氯化钠注射液 500ml+胰岛素 40~60U，持续静脉滴注 0.1U/（kg·h），立即。</li>
                                          </ul>
                                      </li>
                                  </ul>
                              </li>
                              <li class="bigModuleW"><p><img src="../images/triangle.png">适用于糖尿病急症的液体复苏治疗</p>
                                  <ul class="smallW">
                                      <li>
                                          <ul>
                                              <li>处方一： 0.9%氯化钠注射液，1000ml/次，静脉滴注，必要时重复。</li>
                                              <li>处方二： 复方氯化钠注射液，1000ml/次，静脉滴注，必要时重复。</li>
                                              <li>处方三： 血糖＜13.9mmol/L 后，5%葡萄糖注射液 500ml+胰岛素 6~8U，静脉滴注。</li>
                                          </ul>
                                      </li>
                                  </ul>
                              </li>
                              <li class="bigModuleW"><p><img src="../images/triangle.png">适用于糖尿病急症的补钾治疗</p>
                                  <ul class="smallW">
                                      <li>
                                          <ul>
                                              <li>处方一： 0.9%氯化钠注射液 500ml+10%氯化钾 10ml，静脉滴注，必要时重复。</li>
                                              <li>处方二： 10%氯化钾注射液，20ml/次，口服，每 2 小时 1 次。</li>
                                          </ul>
                                      </li>
                                  </ul>
                              </li>
                              <li class="bigModuleW"><p><img src="../images/triangle.png">适用于 DKA 的补碱治疗</p>
                                  <ul class="smallW">
                                      <li>
                                          <ul>
                                              <li>处方一： 当血 pH 为 6.9~7.0 时，注射用水 200ml+5%碳酸氢钠 84ml，静脉滴注，立即。</li>
                                              <li>处方二： 当血 pH＜6.9 时，注射用水 400ml+5%碳酸氢钠 168ml，静脉滴注（200ml/h），立即。</li>
                                          </ul>
                                      </li>
                                  </ul>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <!--糖尿病急症 end-->
              </div>
          </div>
          <div class="Y_slowDisRt">
              <%- include('ejs/related_Articles')%>
          </div>
      </div>
  </div>
</div>
<%- include('ejs/footer') %>
<%- include('ejs/foot') %>
</body>
</html>