<%- include('ejs/head') %>
<body>
<%- include('ejs/header') %>
<div class="isBodyWapper">
    <div class="isBody">
        <div class="JpositionNav">
            <a href="javascript:;">首页</a> >
            <a href="javascript:;">用药宝典</a>
        </div>
        <div class="Y_SlowDisWrap J_SlowDisWrap clearfix">
            <div class="Y_slowDisLt">
                <ul class="JinfoTab" id="jdrug">
                    <li>
                        <a href="javascript:;">高血压<i></i></a>
                        <ol class="jdrugList">
                            <li onclick="highW(this)"><a href="J_Usedrug.html?index=0">高血压危象</a></li>
                            <li onclick="highW(this)"><a href="J_Usedrug.html?index=1">原发性高血压</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="javascript:;">冠心病<i></i></a>
                        <ol class="jdrugList">
                            <li  onclick="highW(this)"><a href="J_Usedrug2.html?index=0">冠状动脉粥样硬化性心脏病</a></li>
                        </ol>
                    </li>
                    <li class="active">
                        <a href="javascript:;">脑卒中<i></i></a>
                        <ol class="jdrugList">
                            <li onclick="highW(this)"><a href="J_Usedrug3.html?index=0">脑出血</a></li>
                            <li onclick="highW(this)"><a href="J_Usedrug3.html?index=1">缺血性脑血管疾病</a></li>
                            <li onclick="highW(this)"><a href="J_Usedrug3.html?index=2">蛛网膜下腔出血</a></li>
                            <li onclick="highW(this)"><a href="J_Usedrug3.html?index=3">短暂性脑缺血发作（TIA）</a></li>
                            <li onclick="highW(this)"><a href="J_Usedrug3.html?index=4">脑出血（ICH）</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="javascript:;">糖尿病<i></i></a>
                        <ol class="jdrugList">
                            <li><a href="J_Usedrug4.html?index=0">糖尿病</a></li>
                            <li><a href="J_Usedrug4.html?index=1">糖尿病急症</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="javascript:;">血脂异常<i></i></a>
                        <ol class="jdrugList">
                            <li><a href="J_Usedrug5.html?index=0">血脂异常</a></li>
                        </ol>
                    </li>
                </ul>
                <div id="module">
                    <div class="Y_DrugbWrap">
                                          <h2><a><img src="../images/Y_primaryicon1.png" class="Y_primary_img1">脑出血<img src="../images/Y_primaryicon1.png" class="Y_primary_img2"></a></h2>

                        <div class="Y_DrugbCon1">
                            <h3>疾病概要</h3>
                            <p>脑出血俗称脑溢血，是原发性指非创伤性脑实质内血管破裂引起的出血，占全部脑卒中 的
                                10%~30%。最常见的病因是高血压、脑动脉硬化、颅内血管畸形等，常因用力、情绪激动等因素诱发，故大多在活动中突然发病。患者一旦发生脑出血和血肿即容易形成脑水肿及
                                脑组织受压、移位、软化和坏死等，严重者可能出现脑疝而死亡。</p>
                        </div>
                        <div class="Y_DrugbCon1">
                            <h3>治疗原则</h3>
                            <p>常用药物及分类：其他名称临床应用药理作用体内过程用法与用量不良反应禁忌证儿童用药老年患者用药药物相互作用注意事项药物过量制剂与规格。</p>
                            <p>脑出血的治疗原则为防止再出血；控制脑水肿；维持生命功能和防治并发症。脑出血急 性期一般不应用降压药物降压，当收缩压超过 200mmHg 或舒张压超过 110mmHg
                                时可适当给予作用温和的降压药。止血药和凝血药仅用于并发消化道或凝血障碍时，常用氨甲环酸或 酚磺乙胺；大脑半球出血量在 30ml 以上和小脑出血量在 10ml
                                以上者，可考虑手术治疗。</p>
                        </div>
                        <div class="Y_DrugbCon1">
                            <h3>推荐处方</h3>
                            <ul class="recommendW">
                                <li class="bigModuleW"><p><img src="../images/triangle.png">适用于小量出血、神志清醒时的治疗</p>
                                    <ul style="padding-top: 21px">
                                        <li>处方一： 吡拉西坦氯化钠注射液，20g/（100ml•次），静脉滴注，1次/日。</li>
                                        <li>处方二： 25%葡萄糖注射液 500ml+氨基己酸 10~12g，静脉滴注，1次/日。</li>
                                        <li>处方三： 20%甘露醇注射液，150ml，快速静脉滴注，1~2次/日。</li>
                                    </ul>
                                </li>
                                <li class="bigModuleW"><p><img src="../images/triangle.png">适用于中等量出血、神志清醒时的治疗</p>
                                    <ul class="smallW">
                                        <li>
                                            <ul style="margin-top: 21px;">
                                                <li class="clearfix">
                                                    <span>处方一： </span>
                                                    <div>
                                                        <p>
                                                            （1）尼莫地平注射液，10mg/（50ml•次），静脉滴注，1次/日。（2）接氯吡格雷，75mg/次，口服，1次/日。</p>
                                                        <p> （2）20%甘露醇注射液，150~250ml，快速静脉滴注，2~4次/日。</p>
                                                        <p>（3）维生素 B12 注射液，0.1mg/次，肌内注射，2 次/日。</p>
                                                        <p> （4）维生素 B1 片，10mg/次，口服，3 次/日。</p>
                                                    </div>
                                                </li>
                                                <li class="clearfix">
                                                    <span>处方二： </span>
                                                    <div>
                                                        <p>（1）20%甘露醇注射液，150~250ml，快速静脉滴注，2~4 次/日。</p>
                                                        <p> （2）0.9%氯化钠注射液 500ml+β-七叶皂苷钠 20mg，静脉滴注，1 次/日。</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="bigModuleW"><p><img src="../images/triangle.png">适用于大量出血或脑干小脑出血昏迷时的治疗</p>
                                    <ul class="smallW">
                                        <li>
                                            <ul style="margin-top: 21px;">
                                                <li class="clearfix">
                                                    <span>处方一： </span>
                                                    <div>
                                                        <p>（1）甘油果糖注射液，250ml，静脉滴注，2次/日。</p>
                                                        <p> （2）20%甘露醇注射液，250ml，快速静脉滴注，4次/日。</p>
                                                        <p>（3）5%葡萄糖注射液 500ml+尼卡地平 10mg，静脉滴注，1~2 次/日。</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>


                            </ul>

                        </div>
                        <div class="Y_DrugbCon1">
                            <h3>注意事项</h3>
                            <p>1.目前研究认为，脑出血使用止血药治疗无效，只是针对出血患者的一项安慰性措施， 不会带来明显的效果。</p>
                            <p>2.甘露醇和甘油果糖均为高渗制剂，两者合用既可以快速产生降颅压作用的效果，又可以维持长时间的降颅压作用。因此发生颅内压增高时，认为使用甘油果糖的脱水作用虽然 不及
                                20%甘露醇大，但是甘油果糖更安全。</p>
                        </div>
                    </div>
                    <div class="Y_DrugbWrap" style="display: none">
                        <h2><a><img src="../images/Y_primaryicon1.png" class="Y_primary_img1">缺血性脑血管疾病<img src="../images/Y_primaryicon1.png" class="Y_primary_img2"></a></h2>
                        <div class="Y_DrugbCon1">
                            <h3>疾病概要</h3>
                            <p>广义上，缺血性脑血管疾病包括由于椎基底动脉系统和颈内动脉系统的脑血管病变所引 起的脑功能障碍。椎基底动脉系统又称后循环缺血（posterior circulation
                                ischemia，PCI)，由椎动脉、基底动脉和大脑后动脉组成，主要供血给脑干、小脑、丘脑、海马、枕叶、部分颞
                                叶及脊髓。PCI的临床表现多样，出现一侧脑神经损害和另一侧运动感觉损害的交叉表现是PCI
                                的特征表现。脑栓塞是指各种栓子随血流进入颅内动脉系统使血管腔急性闭塞引起的相应供血区脑组织缺血坏死及脑功能障碍。脑血栓形成通常是指主干或其皮质支因动脉粥样硬
                                化及各类动脉炎等血管病变，导致血管的管腔狭窄或闭塞，造成脑局部供应区血流中断，发 生脑组织缺血、缺氧、软化坏死，出现相应的神经系统症状和体征。</p>
                        </div>
                        <div class="Y_DrugbCon1">
                            <h3>治疗原则</h3>
                            <p>缺血性脑血管疾病急性期的治疗原则是尽快遏止脑血栓或缺血面积扩展、减少脑梗死范
                                围、改善血液循环、控制脑水肿，从而促进各项神经功能的恢复。包括：①超早期治疗；②个体化治疗；③防治并发症；④整体化治疗。具有溶栓适应证且不具有溶栓禁忌证的患者尽
                                早进行溶栓治疗，超早期治疗中常用的溶栓药物有尿激酶、链激酶、重组的组织性纤溶酶原 激活剂。根据患者年龄、缺血性卒中类型、病情程度和基础疾病等采取最适当的脑保护治疗、
                                抗凝治疗、降纤治疗、抗血小板聚集治疗，必要时争取早期进行康复治疗，尽可能对卒中的 危险因素如高血压糖尿病和心脏病等及时采取预防性干预，减少复发率和降低病残率。</p>
                        </div>
                        <div class="Y_DrugbCon1">
                            <h3>推荐处方</h3>
                            <ul class="recommendW">
                                <li class="bigModuleW"><p><img src="../images/triangle.png">适用于可溶栓后循环缺血患者</p>
                                    <ul class="smallW">
                                        <li>
                                            <ul style="padding-top: 21px;">
                                                <li>处方一： 注射用阿替普酶以灭菌注射用水适量溶解后，再以 0.9%氯化钠注射液稀释为
                                                    0.2mg/ml 的阿替普酶溶液，0.9mg/（kg.次），10%静脉推注，剩余 90%静脉滴注 90 分钟。
                                                </li>
                                                <li>处方二： 溶栓 24 小时后，阿司匹林，100mg/次，口服，1 次/日。</li>
                                                <li>处方三： 0.9%氯化钠 250ml+依达拉奉注射液 30mg，静脉滴注，2 次/日。</li>
                                                <li>处方四： 尼莫地平，20mg/次，口服，1 次/晚。</li>
                                                <li>处方五： 丁苯酞软胶囊，0.2g/次，口服，3 次/日。</li>
                                                <li>处方六： 胞磷胆碱，0.5g/次，静脉滴注，1 次/日。</li>
                                                <li>处方七： 溶栓后，阿司匹林，100mg/次，口服，1 次/日。</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="bigModuleW"><p><img src="../images/triangle.png">适用于未溶栓后循环缺血患者</p>
                                    <ul class="smallW">
                                        <li>
                                            <ul style="padding-top: 21px">
                                                <li>处方一： 阿司匹林，100mg/次，口服，3 次/日。</li>
                                                <li>处方二： 2 天后，阿司匹林，100mg/次，口服，1 次/日。</li>
                                                <li>处方三： 尼莫地平，20mg/次，口服，1 次/晚。</li>
                                                <li>处方四： 丁苯酞软胶囊，0.2g/次，口服，3 次/日。</li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li class="bigModuleW"><p><img src="../images/triangle.png">适用于脑血栓形成的溶栓治疗</p>
                                    <ul class="smallW">
                                        <li>
                                            <ul style="padding-top: 21px">
                                                <li>处方一： 注射用阿替普酶以灭菌注射用水适量溶解后，再以 0.9%氯化钠注射液稀释为0.2mg/ml
                                                    的阿替普酶溶液，0.9mg/（kg.次），10%静脉推注，剩余 90%静脉滴注 90 分钟。
                                                </li>
                                                <li>处方二： 0.9%氯化钠注射液 100ml+尿激酶 100 万~150 万 U，静脉滴注。</li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li class="bigModuleW"><p><img src="../images/triangle.png">适用于脑栓塞与脑血栓形成的抗凝治疗</p>
                                    <ul class="smallW">
                                        <li>
                                            <ul style="padding-top: 21px">
                                                <li>处方一： 低分子肝素钠注射液，0.4ml/次，皮下注射，2 次/日。</li>
                                                <li>处方二： 华法林钠，3mg/次，口服，1 次/日。</li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li class="bigModuleW"><p><img src="../images/triangle.png">适用于脑栓塞与脑血栓形成的抗血小板聚集治疗</p>
                                    <ul class="smallW">
                                        <li>
                                            <ul style="padding-top: 21px">
                                                <li>处方一： 阿司匹林，100mg/次，口服，1 次/日。</li>
                                                <li>处方二： 氯吡格雷，75mg/次，口服，1 次/日。</li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li class="bigModuleW"><p><img src="../images/triangle.png">适用于脑栓塞与脑血栓形成的脱水降颅压治疗</p>
                                    <ul class="smallW">
                                        <li>
                                            <ul style="padding-top: 21px">
                                                <li>处方一： 甘油果糖注射液，500ml/次，静脉滴注，1~2 次/日。</li>
                                                <li>处方二： 20%甘露醇注射液，250ml/次，快速静脉滴注，2~4 次/日。</li>
                                                <li>处方三： 20%白蛋白注射液，10g/次，静脉滴注，1~2 次/日。</li>
                                                <li>处方四： 呋塞米注射液，20~40mg/次，静脉注射，2~4 次/日。</li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li class="bigModuleW"><p><img src="../images/triangle.png">适用于脑血栓形成的稳定斑块治疗</p>
                                    <ul class="smallW">
                                        <li>
                                            <ul style="padding-top: 21px">
                                                <li>处方一： 阿托伐他汀钙，20mg/次，口服，睡前 1 次；或辛伐他汀，20mg/次，口服，睡前 1
                                                    次；或瑞舒伐他汀钙，10mg/次，口服，睡前 1 次。
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li class="bigModuleW"><p><img src="../images/triangle.png">适用于脑栓塞与脑血栓形成神志不清患者的促醒治疗</p>
                                    <ul class="smallW">
                                        <li>
                                            <ul style="padding-top: 21px">
                                                <li>处方一： 纳洛酮注射液，0.2~0.4mg/次，静脉注射，每 2~4 小时 1 次；或 0.9%氯化钠注射液
                                                    250ml+纳洛酮 2.4~4.8mg，静脉滴注，1~2 次/日。
                                                </li>
                                                <li>处方二： 0.9%氯化钠注射液 500ml+醒脑静 20~40ml，静脉滴注，1 次/日。</li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="Y_DrugbCon1">
                            <h3>注意事项</h3>
                            <p>1.严格掌握溶栓治疗的时间窗、适应证及禁忌证，以免增加出血风险。</p>
                            <p>2.使用阿替普酶或尿激酶溶栓 24 小时后方可使用抗血小板药物。</p>
                            <p>3.依达拉奉有加重急性肾功能不全或肾衰竭而致死的病例，因此在给药过程中应进行多 次肾功能检测，同时在给药结束后继续密切观察，出现肾功能下降的表现或少尿等症状的情
                                况下立即停止给药，尤其是高龄患者。</p>
                            <p>4.餐后服用丁苯酞软胶囊影响药物吸收，故应餐前服用。</p>
                            <p>5.心源性脑栓塞的梗死区极易出血，且血栓不易被溶栓药物溶解，因此一般不予溶栓、 降纤治疗，根据病情慎用抗凝药物。抗凝药物对预防心脏血栓所致的脑栓塞效果较抗血小板
                                药物好，为首选。</p>
                        </div>
                    </div>
                    <div class="Y_DrugbWrap" style="display: none">
                        <h2><a><img src="../images/Y_primaryicon1.png" class="Y_primary_img1">蛛网膜下腔出血<img src="../images/Y_primaryicon1.png" class="Y_primary_img2"></a></h2>

                        <div class="Y_DrugbCon1">
                            <h3>推荐处方</h3>
                            <ul class="recommendW">
                                <li class="bigModuleW"><p><img src="../images/triangle.png">适用于蛛网膜下腔出血的降颅内压治疗</p>
                                    <ul class="smallW">
                                        <li>
                                            <ul style="padding-top: 21px;">
                                                <li>处方一： 甘油果糖注射液，500ml/次，静脉滴注，1~2 次/日。
                                                </li>
                                                <li>处方二： 20%甘露醇注射液，250ml/次，快速静脉滴注，2~4 次/日。</li>
                                                <li>处方三： 20%白蛋白注射液，10g/次，静脉滴注，1~2 次/日。</li>
                                                <li>处方四： 呋塞米注射液，20~40mg/次，静脉注射，2~4 次/日。</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="bigModuleW"><p><img src="../images/triangle.png">适用于蛛网膜下腔出血的抗纤维蛋白溶解治疗
                                </p>
                                    <ul class="smallW">
                                        <li>
                                            <ul style="padding-top: 21px">
                                                <li>处方一： 5%葡萄糖注射液 1000ml+氨基己酸 30g，静脉滴注，维持 24 小时。</li>
                                                <li>处方二：接 5%葡萄糖注射液 1000ml+氨基己酸 24g，静脉滴注，1 次/日，疗程为 7~10 天。</li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li class="bigModuleW"><p><img src="../images/triangle.png">适用于蛛网膜下腔出血的预防脑血管痉挛治疗</p>
                                    <ul class="smallW">
                                        <li>
                                            <ul style="padding-top: 21px">
                                                <li>处方一： 尼莫地平，20~40mg/次，口服，3 次/日。
                                                </li>
                                                <li>处方二： 尼莫地平注射液，30mg/次，静脉滴注，2 次/日。</li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li class="bigModuleW"><p><img src="../images/triangle.png">适用于蛛网膜下腔出血的预防脑膜粘连治疗</p>
                                    <ul class="smallW">
                                        <li>
                                            <ul style="padding-top: 21px">
                                                <li>处方一： 5%葡萄糖注射液 250ml+地塞米松 5~10mg，静脉滴注，1 次/日，5~7 天后减量停用。</li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li class="bigModuleW"><p><img src="../images/triangle.png">降颅内压治疗</p>
                                    <ul class="smallW">
                                        <li>
                                            <ul style="padding-top: 21px">
                                                <li>处方一： 20%甘露醇，125ml/次，快速静脉滴注，2~4次/日。</li>
                                                <li>处方二： 和/或甘油果糖，250ml/次，静脉滴注，1~2次/日。</li>
                                                <li>处方三： 和/或20%白蛋白，10g/次，静脉滴注，1~2次/日。</li>
                                                <li>处方四： 和/或呋塞米，20~40mg/次，静脉注射，2~4次/日。</li>
                                                <li>注意事项：用药期间注意监测肝肾功能、电解质，注意肾功能损害、电解质失衡等药物副作用，根据病情适时调整药物剂量。同时应严密监测患者神志、瞳孔及生命体征的变化。积极手术治疗原发病，如颅内动脉瘤或动静脉畸形等。</li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li class="bigModuleW"><p><img src="../images/triangle.png">止血治疗（抗纤维蛋白溶解药物）</p>
                                    <ul class="smallW">
                                        <li>
                                            <ul style="padding-top: 21px">
                                                <li>处方一： 6-氨基己酸12g+5%葡萄糖溶液250ml，静脉滴注，每12小时一次。</li>
                                                <li>处方二： 氨甲环酸0.5g +5%葡萄糖溶液250ml，静脉滴注，每12小时一次。</li>
                                                <li>止血药物一般疗程7~10天，若已行手术治疗（颅内动脉瘤介入栓塞术或开颅动脉瘤夹闭术）后应停用止血药物。</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="bigModuleW"><p><img src="../images/triangle.png">预防脑血管痉挛治疗</p>
                                    <ul class="smallW">
                                        <li>
                                            <ul style="padding-top: 21px">
                                                <li>处方一： 尼莫地平注射液，10mg/次，静脉滴注（输液微泵），每12小时或每8小时一次。</li>
                                                <li>处方二： 法舒地尔注射液，30mg+5%葡萄糖溶液250ml，静脉滴注，每12小时一次。</li>
                                                <li>处方三： 尼莫地平片，20~40mg/次，口服，3次/日。</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="bigModuleW"><p><img src="../images/triangle.png">降压治疗</p>
                                    <ul class="smallW">
                                        <li>
                                            <ul style="padding-top: 21px">
                                                <li>若患者收缩压在180mmHg以下则应停用降血压药物；使用抗血管痉挛的药物后患者收缩压仍高于180mmHg，则用使用降压药物，如艾司洛尔或拉贝洛尔等，并严密监测血压。</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="bigModuleW"><p><img src="../images/triangle.png">控制其他危险因素</p>
                                    <ul class="smallW">
                                        <li>
                                            <ul style="padding-top: 21px">
                                                <li>戒烟、限酒、控制血糖等。</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="Y_DrugbCon1">
                            <h3>注意事项</h3>
                            <p>对有明确手术指征的蛛网膜下腔出血，应当尽早实施颅内动脉瘤介入栓塞术或至神经外科行动脉瘤夹闭术治疗，积极处理动脉瘤或血管畸形，防止再出血等危及生命的并发症。术后通过腰椎穿刺脑脊液置换术或持续腰大池引流术引流血性脑脊液，减少红细胞降解产物对脑血管的刺激和炎性粘连，可有效防止脑血管痉挛和迟发性脑积水（交通性）的发生，且可明确改善患者预后。</p>
                        </div>
                    </div>
                    <div class="Y_DrugbWrap" style="display: none">
                                               <h2><a><img src="../images/Y_primaryicon1.png" class="Y_primary_img1">短暂性脑缺血发作（TIA）<img src="../images/Y_primaryicon1.png" class="Y_primary_img2"></a></h2>

                        <div class="Y_DrugbCon1">
                            <h3>推荐处方</h3>
                            <ul class="recommendW">
                                <li class="bigModuleW"><p><img src="../images/triangle.png">抗血小板聚集治疗：</p>
                                    <ul class="smallW">
                                        <li>
                                            <ul style="padding-top: 21px;">
                                                <li>处方一：阿司匹林，100mg/次，口服，1次/日。
                                                </li>
                                                <li>处方二：和/或氯吡格雷，75mg/次，口服，1次/日。</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="bigModuleW"><p style="height: 32px;line-height: 28px;"><img src="../images/triangle.png">抗凝治疗（抗凝治疗不作为TIA的常规治疗，但对于心源性脑栓塞风险的患者（人工瓣膜、心房颤动、心壁血栓形成者），其抗凝治疗效果优于抗血小板聚集治疗，对该类患者推荐首选抗凝治疗：
                                    </p>
                                    <ul class="smallW">
                                        <li>
                                            <ul style="padding-top: 31px">
                                                <li>处方一：早期予以低分子肝素钠注射液，5000IU/次，皮下注射，2次/日。</li>
                                                <li>处方二：随后予以华法令，2.5mg/次，口服，1次/日（监测凝血常规，逐步调整剂量使INR值达2~3之间）。</li>
                                                <li>处方三：达比加群，150mg/次，口服，2次/日（新型抗凝药物，无需监测凝血功能）。</li>
                                                <li>处方四：利伐沙班，10~20mg/次，口服，1次/日（新型抗凝药物，无需监测凝血功能，但费用较高）。</li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li class="bigModuleW"><p style="height: 32px;line-height: 28px;"><img src="../images/triangle.png">降脂、稳定斑块，又称强化他汀治疗（用于非心源性TIA有高胆固醇血症、有颈动脉斑块或严重颅内动脉粥样硬化患者，肝酶超过3倍正常值上限，肌酶超过5倍正常值上限，应停药观察）：</p>
                                    <ul class="smallW">
                                        <li>
                                            <ul style="padding-top: 31px">
                                                <li>处方一：阿托伐他汀，40-80mg/次，口服，1次/晚。
                                                </li>
                                                <li>处方二：或瑞舒伐他汀，20mg/次，口服，1次/晚。</li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li class="bigModuleW"><p><img src="../images/triangle.png">监测血压：</p>
                                    <ul class="smallW">
                                        <li>
                                            <p>急性期血压不宜太低，若7-10天后血压仍高于140/90mmHg则应启动降压治疗。</p>
                                            <ul style="padding-top: 21px">
                                                <li>处方一： 苯磺酸氨氯地平，5mg/次，口服，1次/天。</li>
                                                <li>处方二： 培哚普利，4mg/次，口服，1次/天。</li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li class="bigModuleW"><p style="height: 32px;line-height: 28px;"><img src="../images/triangle.png">监测空腹血糖及HbA1c，对血糖异常患者可考虑口服降糖药或胰岛素降糖治疗，但应注意防治低血糖的发生：</p>
                                    <ul class="smallW">
                                        <li>
                                            <ul style="padding-top: 31px">
                                                <li>处方一：二甲双胍，500mg/次，口服，2次/天。</li>
                                                <li>处方二：普通胰岛素，6IU/次，皮下注射，3次/天。</li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li class="bigModuleW"><p style="height: 56px;line-height: 28px;"><img src="../images/triangle.png">通过积极控制脑卒中的其他危险因素，如戒烟、低盐低脂饮食、适当运动、控制体重避免肥胖或超重、持续正压通气控制睡眠呼吸暂停、补充叶酸降低同型半胱氨酸水平等。</p>

                                </li>
                            </ul>
                        </div>
                    </div>
                    <!---脑出血（ICH）-->
                    <div class="Y_DrugbWrap" style="display: none">
                        <h2><a><img src="../images/Y_primaryicon1.png" class="Y_primary_img1">脑出血(ICH)<img src="../images/Y_primaryicon1.png" class="Y_primary_img2"></a></h2>
                        <div class="Y_DrugbCon1">
                            <h3>治疗原则</h3>
                            <p>脑出血患者在发病后的最初数天病情往往不稳定，应常规予以持续生命体征监测、神经系统评估、持续心肺监护，包括袖带血压监测、心电图监测、氧饱和度监测。</p>
                        </div>
                        <div class="Y_DrugbCon1">
                            <h3>推荐处方</h3>
                            <ul class="recommendW">
                                <li class="bigModuleW"><p><img src="../images/triangle.png">调控血压</p>
                                    <ul class="smallW">
                                        <li>
                                            <p>降压治疗原则：脑出血的急性期血压多增高，过高的血压有可能使破裂的小动脉继续出血或再出血加重病情；而过低的血压又会导致脑灌注压降低加重脑损害；因此，对于脑出血患者的降压治疗应权衡利弊谨慎处理。在降压治疗期间应严密观察血压水平的变化，每隔5～15分钟进行1次血压监测。</p>
                                            <ul style="padding-top: 21px;">
                                                <li>处方一：应综合管理脑出血患者的血压，分析血压升高的原因，再根据血压情况决定是否进行降压治疗；</li>
                                                <li>处方二： 当急性脑出血患者收缩压>220 mmHg时，应积极使用静脉降压药物降低血压；当患者收缩压>180 mmHg时，可使用静脉降压药物控制血压，根据患者临床表现调整降压速度，160/90 mmHg可作为参考的降压目标值；</li>
                                                <li>处方三： 降压药物应选择使用方便、降压平稳、起效快、对颅内压影响不大的药物，如静脉地尔硫卓、乌拉地尔等，
                                                    微量输液泵控制性降压。待病情平稳后，再逐步过渡到口服药物，如：苯磺酸氨氯地平，5mg/次，口服，1次/天；培哚普利，4mg/次，口服，1次/天；</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="bigModuleW"><p><img src="../images/triangle.png">降颅内压治疗
                                </p>
                                    <ul class="smallW">
                                        <li>
                                            <p>较大的脑内出血会导致出血周围脑组织水肿，多于出血后3-4天达到高峰，一般约1~2周后水肿逐步消退；患者处于水肿高峰期可出现颅内压过高和脑疝危及生命。治疗颅内压常用药物如下：</p>
                                            <ul style="padding-top: 21px">
                                                <li>处方一： 20%甘露醇，125ml/次，快速静脉滴注，2~4次/日；</li>
                                                <li>处方二：和/或甘油果糖，250ml/次，静脉滴注，1~2次/日；</li>
                                                <li>处方三：和/或20%白蛋白，10g/次，静脉滴注，1~2次/日；</li>
                                                <li>处方四：和/或呋塞米，20~40mg/次，静注，2~4次/日；</li>
                                                <li>注意事项：用药期间注意监测肝肾功能、电解质，注意肾功能损害、电解质失衡等药物副作用，根据病情适时调整药物剂量。同时应严密监测患者神志、瞳孔及生命体征的变化，动态复查头部明确CT血肿有无扩大，大脑半球出血量在30ml以上和小脑出血量在10ml以上者，可考虑手术治疗。</li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li class="bigModuleW"><p><img src="../images/triangle.png">血糖管理</p>
                                    <ul class="smallW">
                                        <li>
                                            <p>血糖值可控制在7.7～10.0mmol/L的范围内。应加强血糖监测并相应处理：血糖超过10mmol/L时可给予胰岛素治疗；血糖低于3.3mmol/L时，可给予10%～20%葡萄糖口服或注射治疗。目标是达到正常血糖水平。</p>
                                        </li>

                                    </ul>
                                </li>
                                <li class="bigModuleW"><p><img src="../images/triangle.png">止血治疗</p>
                                    <ul class="smallW">
                                        <li>
                                            <p>脑出血不推荐常规使用止血药物，仅用于并发消化道或凝血障碍时。</p>
                                            <ul style="padding-top: 21px">
                                                <li>处方一： 6-氨基己酸12g+5%葡萄糖溶液250ml，静脉滴注，1次/日；</li>
                                                <li>处方二：氨甲环酸0.25~0.5g+5%葡萄糖溶液250ml，静脉滴注，1次/日；</li>
                                                <li>处方三：酚磺乙胺0.25~0.5g+5%葡萄糖溶液250ml，静脉滴注，1次/日；</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="bigModuleW"><p><img src="../images/triangle.png">病因治疗</p>
                                    <ul class="smallW">
                                        <li>
                                            <p>停用一切可致凝血功能障碍的药物，如口服抗凝药、肝素钠、溶栓药物、抗血小板聚集药物等。</p>
                                        </li>

                                    </ul>
                                </li>
                                <li class="bigModuleW"><p><img src="../images/triangle.png">并发症治疗</p>
                                    <ul class="smallW">
                                        <li>
                                            <ul style="padding-top: 21px">
                                                <li>处方一：痫性发作：丙戊酸钠，0.2g/次，3次/天；</li>
                                                <li>处方二：深静脉血栓形成：监测D-二聚体及多普勒超声检查；鼓励患者尽早活动、腿抬高；尽可能避免下肢静脉输液，特别是瘫痪侧肢体；可联合使用弹力袜加间歇性空气压缩装置预防深静脉血栓及相关栓塞事件；对易发生深静脉血栓的高危患者（排除凝血功能障碍所致的脑出血患者），证实出血停止后可考虑皮下注射小剂量低分子肝素或普通肝素预防深静脉血栓形成，但应注意出血的风险；</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--脑出血（ICH）end-->
                </div>
            </div>
            <div class="Y_slowDisRt">
                <%- include('ejs/related_Articles')%>
            </div>
        </div>
    </div>
</div>
<%- include('ejs/footer') %>
<%- include('ejs/foot') %>
</body>
</html>
