<%- include('ejs/head') %>
<body>
<%- include('ejs/header') %>
<div class="isBodyWapper">
    <div class="isBody">
        <div class="JpositionNav">
            <a href="">首页</a> >
            <a href="">健康自测</a>
        </div>
        <div class="JnewsCont clearfix">
            <ul class="Wrate_wrap clearfix">
                <li>
                    <div class="case1"><i class="icon1"></i>
                        <p>心脏功能自测</p></div>
                    <div class="case2">
                        <p>心脏功能自测.</p>
                        <a href="./WselfRated_detail.html">  <span>马上进行自评</span> </a>
                    </div>
                </li>
               <!-- <li>
                    <div class="case1"><i class="icon2"></i>
                        <p>动脉血管年龄预测</p></div>
                    <div class="case2">
                        <p>遍布全身的血管，就好比住宅中的自来水管道，用的时间长了，内壁就会有沉积。胆固醇等血脂在血管壁沉积后，血管柔韧性...</p>
                        <a href="./WselfRated_detail2.html"> <span>马上进行自评</span></a>
                    </div>
                </li>-->
                <li class="second">
                    <div class="case1"><i class="icon3"></i>
                        <p>2型糖尿病风险评估</p></div>
                    <div class="case2">
                        <p>芬兰糖尿病风险评分（FINDRISC）评估成人10年糖尿病风险</p>
                        <a href="./WselfRated_detail3.html"> <span>马上进行自评</span></a>
                    </div>
                </li>
                <li  class="lastChild third">
                    <div class="case1"><i class="icon4"></i>
                        <p>心理压力程度自测</p></div>
                    <div class="case2">
                        <p>压力无时不在，又随处可见，可以来自工作学习、生活家庭和自身健康的各个方面。压力是人类生存所必须的，没有它，世...</p>
                        <a href="./WselfRated_detail4.html ">
                            <span>马上进行自评</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="case1"><i class="icon5"></i>
                        <p>肺功能状况自测</p></div>
                    <div class="case2">
                        <p>保持肺功能的正常，对于我们保持高质量的生活意义非常重大。</p>
                        <a href="./WselfRated_detail5.html"> <span>马上进行自评</span></a>
                    </div>
                </li>
                <li>
                    <div class="case1"><i class="icon6"></i>
                        <p>心理年龄自测</p></div>
                    <div class="case2">
                        <p>为便于理解自己的心理衰老程度，并大约估计自己的心理年龄，心理学家设计了心理年龄自我测验表（见下表），提出了30个...</p>
                        <a href="./WselfRated_detail6.html"> <span>马上进行自评</span></a>
                    </div>
                </li>
                <li class="lastChild">
                    <div class="case1"><i class="icon7"></i>
                        <p>自测老年痴呆的可能性</p></div>
                    <div class="case2">
                        <p>以下是由日本专家吉泽勋先生多年临床体验制定的测试题。请结合自己的实际对照作题，评判自己将来患老年痴呆的可能性。....</p>
                        <a href="./WselfRated_detail7.html"> <span>马上进行自评</span></a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>
<%- include('ejs/footer') %>
<%- include('ejs/foot') %>
</body>
</html>