<%- include('ejs/head') %>
<body>
<%- include('ejs/header') %>
<div class="isBodyWapper">
    <div class="isBody">
        <div class="JpositionNav">
            <a href="">首页</a> >
            <a href="">健康自测</a> >
            <a href="">2型糖尿病风险评估</a>
        </div>
        <div class="JnewsCont clearfix">
            <div class="WrateDtail_wrap">
                <div class="question">
                    <h2 class="mainColor" id="cardiac_func">2型糖尿病风险评估</h2>
                    <h3 id='statistic'>
                        <div><span class="mainFontColor" id="peopleCount"></span>人已测试过</div>
                        <div>本测试共<span class="mainFontColor" id="totalNum" data-total="8">8</span>题</div>
                        <div>已完成<span class="mainFontColor" id="doneNum"></span>题</div>
                        <div>还剩<span class="mainFontColor" id="leftNum"></span>题未完成</div>
                    </h3>
                    <div class="section sec1" data-quest="1">
                        <h4><span>第1题&nbsp;:</span><b>年龄？</b></h4>
                        <ul>
                            <li>
                                <div onclick="changeNum(1,0,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    <45岁
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(1,2,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    45--54岁
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(1,3,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    54--64岁
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(1,4,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    >64岁
                                </div>
                            </li>
                        </ul>

                    </div>
                    <div class="section" data-quest="2">
                        <h4><span>第2题&nbsp;:</span><b>体重指数</b></h4>
                        <ul>
                            <li>
                                <div onclick="changeNum(2,0,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    <25kg/m2
                                </div>

                            </li>
                            <li>
                                <div onclick="changeNum(2,1,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    25--30kg/m2
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(2,3,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    >30kg/m2
                                </div>
                            </li>
                        </ul>
                        <button class="mainColor">上一题</button>
                    </div>
                    <div class="section" data-quest="3">
                        <h4><span>第3题&nbsp;:</span><b>肋骨下方腰围（一般为平脐水平）</b></h4>
                        <ul>
                            <li>
                                <div onclick="changeNum(3,0,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    男性<94cm
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(3,3,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    男性94--102cm
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(3,4,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    男性>102cm
                                </div>


                            </li>
                            <li>
                                <div onclick="changeNum(3,0,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    女性<80cm
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(3,3,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    女性80-88cm
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(3,4,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    女性>88cm
                                </div>
                            </li>
                        </ul>
                        <button class="mainColor">上一题</button>
                    </div>
                    <div class="section" data-quest="4">
                        <h4><span>第4题&nbsp;:</span><b>您每天在工作中和/或休闲时间至少进行30分钟的体力活动（包括正常的日常活动）吗？</b></h4>
                        <ul>
                            <li>
                                <div onclick="changeNum(4,0,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    是
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(4,2,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    否
                                </div>
                            </li>
                        </ul>
                        <button class="mainColor">上一题</button>
                    </div>
                    <div class="section" data-quest="5">
                        <h4><span>第5题&nbsp;:</span><b>您摄入蔬菜、水果或莓类的频率是？</b></h4>
                        <ul>
                            <li>
                                <div onclick="changeNum(5,0,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    每天摄入
                                </div>

                            </li>
                            <li>
                                <div onclick="changeNum(5,2,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    不是每天摄入
                                </div>
                            </li>

                        </ul>
                        <button class="mainColor">上一题</button>

                    </div>
                    <div class="section" data-quest="6">
                        <h4><span>第6题&nbsp;:</span><b>您曾常规服用降压药吗？</b></h4>
                        <ul>
                            <li>
                                <div onclick="changeNum(6,0,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    从未
                                </div>

                            </li>
                            <li>
                                <div onclick="changeNum(6,2,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    是
                                </div>
                            </li>

                        </ul>
                        <button class="mainColor">上一题</button>
                    </div>
                    <div class="section" data-quest="7">
                        <h4><span>第7题&nbsp;:</span><b>您曾发现过高血糖吗（如体检、患病或妊娠过程中）？</b></h4>
                        <ul>
                            <li>
                                <div onclick="changeNum(7,0,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    从未
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(7,5,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    是
                                </div>
                            </li>
                        </ul>
                        <button class="mainColor">上一题</button>
                    </div>
                    <div class="section" data-quest="8">
                        <h4><span>第8题&nbsp;:</span><b>您的直系亲属或其他亲属中有人被诊断为（1型或2型）糖尿病吗？</b></h4>
                        <ul>
                            <li>
                                <div onclick="changeNum(8,0,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    无

                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(8,3,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    是：祖父母/外祖父母、姑母/姨母、叔父/舅父，或一级堂表亲 （但父母、兄弟、姐妹和子女没有）
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(8,5,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    是：父母、兄弟、姐妹，或子女
                                </div>
                            </li>
                        </ul>
                        <button class="mainColor" id="last">上一题</button>
                        <button class="mainColor lastQuestion" id="submit" style="display: none">查看结果</button>
                    </div>

                    <div id="result" style="display: none">
                        <h5>我的得分<i class="mainFontColor" id="score"></i>分</h5>
                        <p class="title">评价标准</p>
                        <ul class="evaluate">
                            <li>自我统计总分后请评价:</li>
                            <li>10年内发生2型糖尿病的风险:</li>
                            <li><7分 低：估计100人中有1人会发生2型糖尿病。</li>
                            <li>7-11分 轻微升高：估计25人中有1人会发生2型糖尿病。</li>
                            <li>12-14分 中： 估计6人中有1人会发生2型糖尿病。</li>
                            <li>15-20分 高： 估计3人中有1人会发生2型糖尿病。</li>
                            <li>>20分 极高：估计2人中有1人会发生2型糖尿病。</li>
                        </ul>
                        <div class="evaluate_btn clearfix">
                            <button class="mainColor" id="invite">邀请好友测试</button>
                            <button class="mainColor last" id="retest">再测一次</button>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('ejs/related_Articles')%>
        </div>
    </div>
</div>
<%- include('ejs/footer') %>
<%- include('ejs/foot') %>
<script src="../js/common/jquery.1.11.0.min.js"></script>

</body>
</html>