<%- include('ejs/head') %>
<body>
<%- include('ejs/header') %>
<div class="isBodyWapper">
    <div class="isBody">
        <div class="JpositionNav">
            <a href="">首页</a> >
            <a href="">健康自测</a> >
            <a href="">心理压力程度自测</a>
        </div>
        <div class="JnewsCont clearfix">
            <div class="WrateDtail_wrap">
                <div class="question">
                    <h2 class="mainColor" id="cardiac_func">心理压力程度自测</h2>
                    <h3 id='statistic'>
                        <div><span class="mainFontColor" id="peopleCount"></span>人已测试过</div>
                        <div>本测试共<span class="mainFontColor" id="totalNum" data-total="17">17</span>题</div>
                        <div>已完成<span class="mainFontColor" id="doneNum"></span>题</div>
                        <div>还剩<span class="mainFontColor" id="leftNum"></span>题未完成</div>
                    </h3>
                    <div class="section sec1" data-quest="1">
                        <h4><span>第1题&nbsp;:</span><b>觉得手上工作太忙，无法应付。</b></h4>
                        <ul>
                            <li>
                                <div onclick="changeNum(1,0,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    从未发生
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(1,1,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    偶尔发生
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(1,3,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    经常发生
                                </div>
                            </li>
                        </ul>

                    </div>
                    <div class="section" data-quest="2">
                        <h4><span>第2题&nbsp;:</span><b>觉得没有时间消遣，终日记挂着工作。</b></h4>
                        <ul>
                            <li>
                                <div onclick="changeNum(2,0,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    从未发生
                                </div>

                            </li>
                            <li>
                                <div onclick="changeNum(2,1,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    偶尔发生
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(2,2,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    经常发生
                                </div>
                            </li>
                        </ul>
                        <button class="mainColor">上一题</button>
                    </div>
                    <div class="section" data-quest="3">
                        <h4><span>第3题&nbsp;:</span><b>觉得时间不够，要争分夺秒。例如过马路闯红灯、走路和说话节奏很快。</b></h4>
                        <ul>
                            <li>
                                <div onclick="changeNum(3,0,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    从未发生
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(3,1,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    偶尔发生
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(3,2,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    经常发生
                                </div>


                            </li>
                        </ul>
                        <button class="mainColor">上一题</button>
                    </div>
                    <div class="section" data-quest="4">
                        <h4><span>第4题&nbsp;:</span><b>遇到挫败时易发脾气。</b></h4>
                        <ul>
                            <li>
                                <div onclick="changeNum(4,0,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    从未发生
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(4,1,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    偶尔发生
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(4,2,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    经常发生
                                </div>
                            </li>
                        </ul>
                        <button class="mainColor">上一题</button>
                    </div>
                    <div class="section" data-quest="5">
                        <h4><span>第5题&nbsp;:</span><b>担心别人对自己工作表现的评价。</b></h4>
                        <ul>
                            <li>
                                <div onclick="changeNum(5,0,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    从未发生
                                </div>

                            </li>
                            <li>
                                <div onclick="changeNum(5,1,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    偶尔发生
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(5,2,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    经常发生
                                </div>
                            </li>
                        </ul> <button class="mainColor">上一题</button>

                    </div>
                    <div class="section" data-quest="6">
                        <h4><span>第6题&nbsp;:</span><b>担心自己的经济状况。</b></h4>
                        <ul>
                            <li>
                                <div onclick="changeNum(6,0,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    从未发生
                                </div>

                            </li>
                            <li>
                                <div onclick="changeNum(6,1,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    偶尔发生
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(6,2,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    经常发生
                                </div>
                            </li>
                        </ul>
                        <button class="mainColor">上一题</button>
                    </div>
                    <div class="section" data-quest="7">
                        <h4><span>第7题&nbsp;:</span><b>有头痛、胃痛、背痛的毛病，难以治愈。</b></h4>
                        <ul>
                            <li>
                                <div onclick="changeNum(7,0,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    从未发生
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(7,1,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    偶尔发生
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(7,2,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    经常发生
                                </div>
                            </li>
                        </ul>
                        <button class="mainColor">上一题</button>
                    </div>
                    <div class="section" data-quest="8">
                        <h4><span>第8题&nbsp;:</span><b>需要借烟酒、药物、零食等抑制不安的成绩。</b></h4>
                        <ul>
                            <li>
                                <div onclick="changeNum(8,0,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    从未发生
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(8,1,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    偶尔发生

                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(8,2,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    经常发生

                                </div>
                            </li>
                        </ul>
                        <button class="mainColor">上一题</button>
                    </div>
                    <div class="section" data-quest="9">
                        <h4><span>第9题&nbsp;:</span><b>需要借助安眠药帮助入睡。</b></h4>
                        <ul>
                            <li>
                                <div onclick="changeNum(9,0,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    从未发生

                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(9,1,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    偶尔发生

                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(9,2,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    经常发生

                                </div>
                            </li>
                        </ul>
                        <button class="mainColor">上一题</button>
                    </div>
                    <div class="section" data-quest="10">
                        <h4><span>第10题&nbsp;:</span><b>觉得上司和家人都不欣赏自己。</b></h4>
                        <ul>
                            <li>
                                <div onclick="changeNum(10,0,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    从未发生

                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(10,1,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    偶尔发生

                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(10,2,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    经常发生

                                </div>
                            </li>

                        </ul>
                        <button class="mainColor">上一题</button>
                    </div>
                    <div class="section" data-quest="11">
                        <h4><span>第11题&nbsp;:</span><b>家人、朋友、同事的相处令你发脾气。</b></h4>
                        <ul>
                            <li>
                                <div onclick="changeNum(11,0,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    从未发生
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(11,1,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    偶尔发生
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(11,0,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    经常发生
                                </div>
                            </li>
                        </ul>
                        <button class="mainColor">上一题</button>
                    </div>
                    <div class="section" data-quest="12">
                        <h4><span>第12题&nbsp;:</span><b>做事急躁、任性，然后感到内疚。</b></h4>
                        <ul>
                            <li>
                                <div onclick="changeNum(12,0,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    从未发生
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(12,1,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    偶尔发生

                                </div>

                            </li>
                            <li>
                                <div onclick="changeNum(12,2,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    经常发生

                                </div>
                            </li>
                        </ul>
                        <button class="mainColor">上一题</button>
                    </div>
                    <div class="section" data-quest="13">
                        <h4><span>第13题&nbsp;:</span><b>与人交谈时，打断对方的话题。</b></h4>
                        <ul>
                            <li>
                                <div onclick="changeNum(13,0,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    从未发生

                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(13,1,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    偶尔发生
                                </div>

                            </li>
                            <li>
                                <div onclick="changeNum(13,2,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    经常发生
                                </div>
                            </li>
                        </ul>
                        <button class="mainColor">上一题</button>
                    </div>
                    <div class="section" data-quest="14">
                        <h4><span>第14题&nbsp;:</span><b>上床后思潮起伏，很多事情牵挂，难以入睡。</b></h4>
                        <ul>
                            <li>
                                <div onclick="changeNum(14,0,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    从未发生
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(14,1,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    偶尔发生
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(14,2,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    经常发生
                                </div>
                            </li>
                        </ul>
                        <button class="mainColor">上一题</button>
                    </div>
                    <div class="section" data-quest="15">
                        <h4><span>第15题&nbsp;:</span><b>太多工作，不能每件事尽善尽美。</b></h4>
                        <ul>
                            <li>
                                <div onclick="changeNum(15,0,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    从未发生
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(15,1,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    偶尔发生
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(15,2,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    经常发生
                                </div>
                            </li>
                        </ul>
                        <button class="mainColor">上一题</button>
                    </div>
                    <div class="section" data-quest="16">
                        <h4><span>第16题&nbsp;:</span><b>空闲时轻松一下也会感到内疚。</b></h4>
                        <ul>
                            <li>
                                <div onclick="changeNum(16,0,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    从未发生
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(16,1,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    偶尔发生
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(16,2,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    经常发生
                                </div>
                            </li>
                        </ul>
                        <button class="mainColor">上一题</button>
                    </div>
                    <div class="section" data-quest="17">
                        <h4><span>第17题&nbsp;:</span><b>觉得自己不应该享乐。</b></h4>
                        <ul>
                            <li>
                                <div onclick="changeNum(17,0,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    从未发生
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(17,1,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    偶尔发生
                                </div>
                            </li>
                            <li>
                                <div onclick="changeNum(17,2,this)" class="option_wrap">
                                    <div class="option"><span></span></div>
                                    经常发生
                                </div>
                            </li>
                        </ul>
                        <button class="mainColor" id="last">上一题</button>
                        <button class="mainColor lastQuestion" id="submit" style="display: none">查看结果</button>
                    </div>
                    <div id="result" style="display: none">
                        <h5>我的得分<i class="mainFontColor" id="score"></i>分</h5>
                        <p class="title">评价标准</p>
                        <ul class="evaluate">
                            <li>自我统计总分后请评价:</li>
                            <li>0-11分：精神压力程度偏低。但可能表示你缺乏刺激，比较简单、沉闷，个人做事动力不高。</li>
                            <li>12-15分：精神压力程度适中。虽然某些时候感到压力较大，但仍可应付。</li>
                            <li>16分以上：精神压力偏大。应反省一下压力来源和寻找一下解决办法。</li>
                            <!--解压方法：
                            学会正面思考问题。正面对待压力，让压力变成良性刺激，从而激发前进动力。
                            学会忙里偷闲。工作中短暂休息，以提高工作效率，找到自信乃至成功感。
                            生活中充满活力、新鲜和乐趣，以较轻松的方式思考和行动。
                            学些简单而实用的减压技巧。如冥想、听音乐、幽默，做些肌肉放松活动。
                            旅游、运动、保证睡眠等都是解压的有效办法。-->
                        </ul>
                        <div class="evaluate_btn clearfix">
                            <button class="mainColor" id="invite">邀请好友测试</button>
                            <button class="mainColor last" id="retest">再测一次</button>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('ejs/related_Articles')%>
        </div>
    </div>
</div>
<%- include('ejs/footer') %>
<%- include('ejs/foot') %>
<script src="../js/common/jquery.1.11.0.min.js"></script>

</body>
</html>