<%- include('ejs/head') %>
<body>
<%- include('ejs/header') %>
<div class="isBodyWapper">
    <div class="isBody">
        <div class="JpositionNav">
            <a href="">首页</a> >
            <a href="">健康自测</a> >
            <a href="">心脏功能自测</a>
        </div>
        <div class="JnewsCont clearfix">
            <div class="WrateDtail_wrap">
                <div class="question">
                    <h2 class="mainColor" id="cardiac_func">心脏功能自测</h2>
                      <h3 id='statistic'>
                          <div><span class="mainFontColor" id="peopleCount"></span>人已测试过</div>
                          <div>本测试共<span class="mainFontColor" id="totalNum" data-total="15">15</span>题</div>
                          <div>已完成<span class="mainFontColor" id="doneNum"></span>题</div>
                          <div>还剩<span class="mainFontColor" id="leftNum"></span>题未完成</div>
                      </h3>
                    <div class="section sec1" data-quest="1">
                         <h4><span>第1题&nbsp;:</span><b>幼年患过流感、扁桃腺炎、猩红热、中耳炎吗？</b></h4>
                         <ul>
                             <li>
                                 <div onclick="changeNum(1,1,this)" class="option_wrap">
                                     <div class="option"><span></span></div>
                                     从未患过，只是偶尔感冒，也会很快痊愈
                                 </div>
                             </li>
                             <li>
                                 <div onclick="changeNum(1,2,this)" class="option_wrap">
                                     <div class="option"><span></span></div>
                                     患过，但不严重，治疗后得到康复
                                 </div>
                             </li>
                             <li>
                                 <div onclick="changeNum(1,3,this)" class="option_wrap">
                                     <div class="option"><span></span></div>
                                     多次患过，未得到及时治疗
                                 </div>
                             </li>
                         </ul>

                     </div>
                     <div class="section" data-quest="2">
                         <h4><span>第2题&nbsp;:</span><b>性格是否不善于适应环境，缺乏泰然自若的态度，爱争强好胜，情绪处于紧张激动之中？</b></h4>
                         <ul>
                             <li>
                                 <div onclick="changeNum(2,3,this)" class="option_wrap">
                                     <div class="option"><span></span></div>
                                     完全符合
                                 </div>

                             </li>
                             <li>
                                 <div onclick="changeNum(2,2,this)" class="option_wrap">
                                     <div class="option"><span></span></div>
                                     有些方面符合
                                 </div>
                             </li>
                             <li>
                                 <div onclick="changeNum(2,1,this)" class="option_wrap">
                                     <div class="option"><span></span></div>
                                     不符合
                                 </div>
                             </li>
                         </ul>
                         <button class="mainColor">上一题</button>
                     </div>
                     <div class="section" data-quest="3">
                         <h4><span>第3题&nbsp;:</span><b>和家人朋友的关系是:</b></h4>
                         <ul>
                             <li>
                                 <div onclick="changeNum(3,1,this)" class="option_wrap">
                                     <div class="option"><span></span></div>
                                     亲密友好
                                 </div>
                             </li>
                             <li>
                                 <div onclick="changeNum(3,3,this)" class="option_wrap">
                                     <div class="option"><span></span></div>
                                     关系紧张，极不顺心
                                 </div>
                             </li>
                             <li>
                                 <div onclick="changeNum(3,2,this)" class="option_wrap">
                                     <div class="option"><span></span></div>
                                     偶有不快，但很快恢复
                                 </div>


                             </li>
                         </ul>
                         <button class="mainColor">上一题</button>
                     </div>
                     <div class="section" data-quest="4">
                         <h4><span>第4题&nbsp;:</span><b>经常参加体育锻炼吗？</b></h4>
                         <ul>
                             <li>
                                 <div onclick="changeNum(4,1,this)" class="option_wrap">
                                     <div class="option"><span></span></div>
                                     经常参加
                                 </div>
                             </li>
                             <li>
                                 <div onclick="changeNum(4,2,this)" class="option_wrap">
                                     <div class="option"><span></span></div>
                                     较少参加，或时停时续
                                 </div>
                             </li>
                             <li>
                                 <div onclick="changeNum(4,3,this)" class="option_wrap">
                                     <div class="option"><span></span></div>
                                     从不参加
                                 </div>
                             </li>
                         </ul>
                         <button class="mainColor">上一题</button>
                     </div>
                     <div class="section" data-quest="5">
                         <h4><span>第5题&nbsp;:</span><b>在饮食上倾向于:</b></h4>
                         <ul>
                             <li>
                                 <div onclick="changeNum(5,1,this)" class="option_wrap">
                                     <div class="option"><span></span></div>
                                     喜食新鲜蔬菜、豆制品，适度食用鱼肉或其它瘦肉
                                 </div>

                             </li>
                             <li>
                                 <div onclick="changeNum(5,3,this)" class="option_wrap">
                                     <div class="option"><span></span></div>
                                     有胃口，喜爱吃肉，很少吃蔬菜
                                 </div>
                             </li>
                             <li>
                                 <div onclick="changeNum(5,2,this)" class="option_wrap">
                                     <div class="option"><span></span></div>
                                     介于两者之间
                                 </div>
                             </li>
                         </ul> <button class="mainColor">上一题</button>

                     </div>
                       <div class="section" data-quest="6">
                           <h4><span>第6题&nbsp;:</span><b>体重理想吗？（男性标准体重（千克）= 身高（厘米）-105 ，女性标准体重（千克）=身高（厘米）-100，超过5%为比较理想，超过10%为不理想。）</b></h4>
                           <ul>
                               <li>
                                   <div onclick="changeNum(6,1,this)" class="option_wrap">
                                       <div class="option"><span></span></div>
                                       理想
                                   </div>

                               </li>
                               <li>
                                   <div onclick="changeNum(6,3,this)" class="option_wrap">
                                       <div class="option"><span></span></div>
                                       不理想
                                   </div>
                               </li>
                               <li>
                                   <div onclick="changeNum(6,2,this)" class="option_wrap">
                                       <div class="option"><span></span></div>
                                       比较理想
                                   </div>
                               </li>
                           </ul>
                           <button class="mainColor">上一题</button>
                       </div>
                       <div class="section" data-quest="7">
                           <h4><span>第7题&nbsp;:</span><b>你每天平均食盐量为:</b></h4>
                           <ul>
                               <li>
                                   <div onclick="changeNum(7,3,this)" class="option_wrap">
                                       <div class="option"><span></span></div>
                                       10克以上
                                   </div>
                               </li>
                               <li>
                                   <div onclick="changeNum(7,1,this)" class="option_wrap">
                                       <div class="option"><span></span></div>
                                       6克以下
                                   </div>
                               </li>
                               <li>
                                   <div onclick="changeNum(7,2,this)" class="option_wrap">
                                       <div class="option"><span></span></div>
                                       8克以上
                                   </div>
                               </li>
                           </ul>
                           <button class="mainColor">上一题</button>
                       </div>
                       <div class="section" data-quest="8">
                           <h4><span>第8题&nbsp;:</span><b>你每天吸烟量为:</b></h4>
                           <ul>
                               <li>
                                   <div onclick="changeNum(8,3,this)" class="option_wrap">
                                       <div class="option"><span></span></div>
                                       大量（每天20支以上）

                                   </div>
                               </li>
                               <li>
                                   <div onclick="changeNum(8,1,this)" class="option_wrap">
                                       <div class="option"><span></span></div>
                                       从不吸烟

                                   </div>
                               </li>
                               <li>
                                   <div onclick="changeNum(8,2,this)" class="option_wrap">
                                       <div class="option"><span></span></div>
                                       少量（不超过10支）

                                   </div>
                               </li>
                           </ul>
                           <button class="mainColor">上一题</button>
                       </div>
                       <div class="section" data-quest="9">
                           <h4><span>第9题&nbsp;:</span><b>你的工作负荷是:</b></h4>
                           <ul>
                               <li>
                                   <div onclick="changeNum(9,3,this)" class="option_wrap">
                                       <div class="option"><span></span></div>
                                       疲劳不堪、头昏脑胀、严重失眠

                                   </div>
                               </li>
                               <li>
                                   <div onclick="changeNum(9,1,this)" class="option_wrap">
                                       <div class="option"><span></span></div>
                                       有劳有逸，感到愉快

                                   </div>
                               </li>
                               <li>
                                   <div onclick="changeNum(9,2,this)" class="option_wrap">
                                       <div class="option"><span></span></div>
                                       身体有些劳累，偶尔失眠

                                   </div>
                               </li>
                           </ul>
                           <button class="mainColor">上一题</button>
                       </div>
                       <div class="section" data-quest="10">
                           <h4><span>第10题&nbsp;:</span><b>你的脉搏每分钟跳多少次？</b></h4>
                           <ul>
                               <li>
                                   <div onclick="changeNum(10,1,this)" class="option_wrap">
                                       <div class="option"><span></span></div>
                                       60次以下或100次以上

                                   </div>
                               </li>
                               <li>
                                   <div onclick="changeNum(10,3,this)" class="option_wrap">
                                       <div class="option"><span></span></div>
                                       70次或80次左右，身体好可低于60次

                                   </div>
                               </li>

                           </ul>
                           <button class="mainColor">上一题</button>
                       </div>
                       <div class="section" data-quest="11">
                           <h4><span>第11题&nbsp;:</span><b>你的血压正常吗？</b></h4>
                           <ul>
                               <li>
                                   <div onclick="changeNum(11,2,this)" class="option_wrap">
                                       <div class="option"><span></span></div>
                                       有点高，适当休息即恢复正常
                                   </div>
                               </li>
                               <li>
                                   <div onclick="changeNum(11,3,this)" class="option_wrap">
                                       <div class="option"><span></span></div>
                                       血压高或高低波动大
                                   </div>
                               </li>
                               <li>
                                   <div onclick="changeNum(11,1,this)" class="option_wrap">
                                       <div class="option"><span></span></div>
                                       正常
                                   </div>
                               </li>
                           </ul>
                           <button class="mainColor">上一题</button>
                       </div>
                       <div class="section" data-quest="12">
                           <h4><span>第12题&nbsp;:</span><b>在劳累或精神紧张时出现心悸、胸闷、胸痛的感觉吗？</b></h4>
                           <ul>
                               <li>
                                   <div onclick="changeNum(12,2,this)" class="option_wrap">
                                       <div class="option"><span></span></div>
                                       出现过心悸，但时间很短
                                   </div>
                               </li>
                               <li>
                                   <div onclick="changeNum(12,1,this)" class="option_wrap">
                                       <div class="option"><span></span></div>
                                       出现过上述症状，但休息后好转

                                   </div>

                               </li>
                               <li>
                                   <div onclick="changeNum(12,3,this)" class="option_wrap">
                                       <div class="option"><span></span></div>
                                       从未出现过上述症状

                                   </div>
                               </li>
                           </ul>
                           <button class="mainColor">上一题</button>
                       </div>
                       <div class="section" data-quest="13">
                           <h4><span>第13题&nbsp;:</span><b>观察你的耳垂:</b></h4>
                           <ul>
                               <li>
                                   <div onclick="changeNum(13,1,this)" class="option_wrap">
                                       <div class="option"><span></span></div>
                                       有折皱，很深

                                   </div>
                               </li>
                               <li>
                                   <div onclick="changeNum(13,3,this)" class="option_wrap">
                                       <div class="option"><span></span></div>
                                       平滑
                                   </div>

                               </li>
                               <li>
                                   <div onclick="changeNum(13,2,this)" class="option_wrap">
                                       <div class="option"><span></span></div>
                                       有些折皱，但很浅
                                   </div>
                               </li>
                           </ul>
                           <button class="mainColor">上一题</button>
                       </div>
                       <div class="section" data-quest="14">
                           <h4><span>第14题&nbsp;:</span><b>你睡觉时，如平卧，感觉</b></h4>
                           <ul>
                               <li>
                                   <div onclick="changeNum(14,1,this)" class="option_wrap">
                                       <div class="option"><span></span></div>
                                       很舒服，没设么不适
                                   </div>
                               </li>
                               <li>
                                   <div onclick="changeNum(14,3,this)" class="option_wrap">
                                       <div class="option"><span></span></div>
                                       胸部发闷，无法平卧
                                   </div>
                               </li>
                               <li>
                                   <div onclick="changeNum(14,2,this)" class="option_wrap">
                                       <div class="option"><span></span></div>
                                       偶尔胸闷
                                   </div>
                               </li>
                           </ul>
                           <button class="mainColor">上一题</button>
                       </div>
                       <div class="section" data-quest="15">
                           <h4><span>第15题&nbsp;:</span><b>观察你的嘴唇</b></h4>
                           <ul>
                               <li>
                                   <div onclick="changeNum(15,1,this)" class="option_wrap">
                                       <div class="option"><span></span></div>
                                       红润
                                   </div>
                               </li>
                               <li>
                                   <div onclick="changeNum(15,3,this)" class="option_wrap">
                                       <div class="option"><span></span></div>
                                       发乌、发紫
                                   </div>

                               </li>
                               <li>
                                   <div onclick="changeNum(15,2,this)" class="option_wrap">
                                       <div class="option"><span></span></div>
                                       介于两者之间
                                   </div>

                               </li>
                           </ul>
                           <button class="mainColor" id="last">上一题</button>
                           <button class="mainColor lastQuestion" id="submit" style="display: none">查看结果</button>
                       </div>
                    <div id="result" style="display: none">
                        <h5>我的得分<i class="mainFontColor" id="score"></i>分</h5>
                        <p class="title">评价标准</p>
                        <ul class="evaluate">
                            <li>自我统计总分后请评价:</li>
                            <li>15-20分：说明你的心脏功能良好，能适应繁重的工作和劳动，不易得心脏病。</li>
                            <li>21-30分：心脏功能中等，能从事一般劳动。如能注意生活方式，如保持精神愉快，不吸烟、不酗酒，积极参与体育锻炼，心脏功能还会不断增强。</li>
                            <li>31-45分：心脏功能差，可能会导致疾病，应到医院去做身体检查。</li>
                        </ul>
                        <div class="evaluate_btn clearfix">
                            <button class="mainColor" id="invite">邀请好友测试</button>
                            <button class="mainColor last" id="retest">再测一次</button>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('ejs/related_Articles')%>
        </div>
    </div>
</div>
<%- include('ejs/footer') %>
<%- include('ejs/foot') %>

</body>
</html>