<%- include('ejs/head') %>
<body>
<%- include('ejs/header') %>
<div class="isBodyWapper">
  <div class="isBody">
     <div class="JpositionNav">
         <a href="javascript:">首页</a> >
         <a href="javascript:">名医</a> >
         <a href="javascript:" class="JDocName">名医</a>
     </div>
      <!---内容-->
      <div class="Y_faDoctorsparCon">
          <!--<dl>
              <dt><img src="../images/Y_mybg2.png"></dt>
              <dd>
                  <h2><span>肖平</span><span>主任医师教授</span><span>内分泌科</span></h2>
                  <h3>湖南中南大学湘雅三院</h3>
              </dd>
          </dl>
          <div class="Y_faDoctorsparBot">
              <h2 class="tit">详细介绍</h2>
              <p>肖平，男，汉族、医学博士、内科学教授、主任医师，博士生导师。现任中南大学党委委员、中南大学湘雅医院党委书记、湖南省第十二届人大代表。
                  兼任中国卫生思想政治工作促进会医学教育专业委员会常务理事，卫生部医管司内镜临床诊疗质量评价专家委员会委员，中国医师协会内镜微创装备与消毒管理专业委员会主任委员，中国医院协会自律维权工作委员会常委，中华医学会湖南省分会、湖南省医师协会常务理事，湖南省医院协会第三届医院文化专业委员会副主任委员，湖南省实验动物学会第五届理事会副理事长，湖南省健康管理学会常务副会长，中国医药生物技术学会纳米生物技术分会常务理事，中国卫生影像杂志编委会委员等职。</p>
          </div>
          <div class="Y_faDoctorsparBot">
              <h2 class="tit">医生擅长</h2>
              <p>肖平，男，汉族、医学博士、内科学教授、主任医师，博士生导师。现任中南大学党委委员、中南大学湘雅医院党委书记、湖南省第十二届人大代表。
                  兼任中国卫生思想政治工作促进会医学教育专业委员会常务理事，卫生部医管司内镜临床诊疗质量评价专家委员会委员，中国医师协会内镜微创装备与消毒管理专业委员会主任委员，中国医院协会自律维权工作委员会常委，中华医学会湖南省分会、湖南省医师协会常务理事，湖南省医院协会第三届医院文化专业委员会副主任委员，湖南省实验动物学会第五届理事会副理事长，湖南省健康管理学会常务副会长，中国医药生物技术学会纳米生物技术分会常务理事，中国卫生影像杂志编委会委员等职。</p>
          </div>
          <div class="Y_faDoctorsparBot">
              <h2 class="tit">出诊信息</h2>
              <p>出诊信息仅供参考，有可能随时有更新，以门诊公布为准！</p>
          </div>-->
      </div>
  </div>
</div>
<%- include('ejs/footer') %>
<%- include('ejs/foot') %>
</body>
</html>