<%- include('ejs/head') %>
<body>
<%- include('ejs/header') %>

<div class="isBodyWapper">
    <div class="Y_banner">
        <div class="Y_bannerCon">
            <div class="Y_banConLt">
                <dl class="Y_dl1 clearfix">
                    <dt><img src="../images/Y_ztbg6.png"></dt>
                    <dd>
                        <!--<h2>您身边的</h2>
                        <h3>智能慢病管家</h3>-->
                        <img src="../images/Y_ztwz.png">
                    </dd>
                </dl>
                <dl class="Y_dl2 clearfix">
                    <dt><img src="../images/Y_ztbg7.png"></dt>
                    <dd>
                        <button type="button" class="Y_btn1"><img src="../images/Y_zticon1.png">IPhone版下载</button><br>
                        <button type="button" class="Y_btn2"><img src="../images/Y_zticon2.png">Andriod版下载</button>
                    </dd>
                </dl>
            </div>
            <div class="Y_banConRt">
                <img src="../images/Y_ztbg8.png">
            </div>
        </div>
    </div>

      <div class="Y_SlowDisWrap clearfix">
         <div class="Y_wrapCon1">
             <div class="Y_wrapCon1_con">
                  <dl class="clearfix">
                      <dd><img src="../images/Y_ztbg2.png"></dd>
                      <dt>
                          <h2>智能检测</h2>
                          <p>自动生成健康档案</p>
                      </dt>
                  </dl>
             </div>
         </div>
          <div class="Y_wrapCon1">
              <div class="Y_wrapCon1_con Y_wrapCon2_con">
                  <dl class="clearfix">
                      <dt>
                         <h2>智能问诊</h2>
                         <p>精准匹配专科医生</p>
                      </dt>
                      <dd><img src="../images/Y_ztbg3.png"></dd>
                  </dl>
              </div>
          </div>
          <div class="Y_wrapCon1">
              <div class="Y_wrapCon1_con">
                  <dl class="clearfix">
                      <dd><img src="../images/Y_ztbg4.png"></dd>
                      <dt>
                         <h2>智能推荐</h2>
                         <p>个性化医学知识推荐</p>
                      </dt>
                  </dl>
              </div>
          </div>
      </div>
  </div>
<%- include('ejs/footer') %>
<%- include('ejs/foot') %>
</body>
</html>