<div class="footernav"></div>
<div class="bottomWapper">
    <div class="bottom">
        <div class="Bline">
            <h4>合作伙伴<span>cooperative partner</span></h4>
        </div>
        <div class="link clearfix">
            <h6><a href="http://www.zmxybyjs.com/"><img src="../../img/link1.png" />武警部队眩晕病研究所</a></h6>
            <h6><a href="http://www.xizhengxuanyun.com/"><img src="../../img/link2.png" />北京希征国际眩晕医学研究院</a></h6>
            <h6><a href="http://guojixuanyun.com/"><img src="../../img/link3.png" /></a></h6>
        </div>
    </div>
</div>
<div class="fotter">
    <p>Copyright © 2000-2014 xy.cloudh.net.cn. All rights reserved.   版权所有 北京健科云网科技有限公司  备案号申请中</p>
    <p>地址：北京市海淀区上地东路35号颐泉汇628   网站信息仅供参考，不能作为诊断及医疗的依据，就医请遵照医生诊断</p>
</div>