<div class="topWapper">
    <div class="top clearfix">
        <p><i></i>  您好，欢迎来到健科互联网医疗服务平台！</p>
        <div class="topR">
            <h5 class="topr1"><a href="../webPage/login.html">登录</a> | <a href="../webPage/loginUp.html">注册</a></h5>
            <a href="javaScript:;" class="topr1 Jlogin">我是医生</a>
            <a class="topr1 topr2" href="javaScript:;">个人中心</a>
        </div>
    </div>
</div>
<div class="logoW clearfix">
    <div class="logo">
        <a href="/index.html"><img src="../../img/logo.png"/></a>
    </div>
</div>
<div class="navW clearfix">
    <ul class="nav">
        <li class="active"><a href="/index.html?navActive=0">首页</a></li>
        <li><a href="../webPage/OnlineVisits.html?navActive=1">在线咨询</a></li>
        <li><a href="../webPage/onlineBooking.html?navActive=2">在线预约</a></li>
        <li><a href="javaScript:;">精准预约</a></li>
        <li><a href="../webPage/commonDiseases.html?navActive=4">常见疾病</a></li>
        <li><a href="../webPage/qd.html?navActive=5">会诊中心</a></li>
        <li><a href="../webPage/qd.html?navActive=6">眩晕课堂</a></li>
        <li><a href="../webPage/qd.html?navActive=7">医生园地</a></li>
    </ul>
</div>