<!--完善个人信息弹窗-->
<div class="perfect">
    <div class="popup-in">
        <div class="top clearfix">
            <h3 class="floatL">完善个人信息</h3>
            <a href="javaScript:;" class="floatR close">×</a>
        </div>
        <p class="tit">（请完善您的个人信息，<b>*</b> 为必填项）</p>
        <form>
            <p class="clearfix p">
                <span class="floatL">姓名</span>
                <input type="text" placeholder="请输入您的姓名" class="floatL">
                <i class="floatL">*</i>
            </p>
            <div class="clearfix p">
                <span class="floatL">性别</span>
                <input type="text" placeholder="请选择您的性别" class="floatL sex">
                <ul class="gender">
                    <li>女</li>
                    <li>男</li>
                </ul>
                <b></b>
                <i class="floatL">*</i>
            </div>

            <p class="clearfix p">
                <span class="floatL">手机号</span>
                <input type="text" placeholder="请输入您的手机号" class="floatL" readonly="readonly">
                <i class="floatL">*</i>
            </p>
            <p class="clearfix p id">
                <span class="floatL">身份证号</span>
                <input type="text" placeholder="请输入您的身份证号" class="floatL" >
                <i class="floatL">*</i>
                <span class="tip Jerror" >请输入正确的身份证号</span>

            </p>
            <p class="clearfix p">
                <span class="floatL">年龄</span>
                <input type="text" placeholder="请选择您的出生日期
" class="floatL acc"  onkeypress="javascript:return false" readonly="readonly">

                <i class="floatL">*</i>
                <b class="chushen Jerror">请选择正确的年龄</b>
            </p>
            <p class="clearfix p">
                <span class="floatL">居民健康卡号</span>
                <input type="text" placeholder="请输入居民健康卡号" class="floatL">
            </p>
            <p class="clearfix last p">
                <span class="floatL">地址</span>
                <textarea  placeholder="请输入您的地址" class="floatL"></textarea>
            </p>
            <input type="button" value="保存" class="save cur">
        </form>
    </div>
</div>