<div class="slider">
    <ul class="imgBox" id="list">

        <!--<li class="active"><img src="img/banner1.png"/></li>-->
        <li><img src="../../img/banner2.png"/></li>
        <!--<li><img src="img/banner3.png"/></li>-->

    </ul>
    <!--<div class="focus-btn pic_list" id="btns">
        <a class="on" href="javascript:;"></a>
        <a href="javascript:;"></a>
        <a href="javascript:;"></a>
    </div>-->
</div>