html {
  font-size: 100px;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, form, input, textarea, select, td, th, figure, summary {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-family: microsoft yahei, sans-serif;
  font-size: 0.16rem;
  color: #333;
  background: #f5f5f5;
  position: relative;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  max-width: 1920px;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%
}

/**修改添加select**/
ul, li {
  list-style: none;
}

input, button, select, textarea {
  font-family: microsoft yahei, sans-serif;
  outline: none;
  font-size: 0.16rem;
}

/**修改添加select**/
textarea {
  outline: none;
  resize: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  width: auto \9;
}

input:focus {
  outline: none;
}

em, span, b, i, dfn {
  font-style: normal;
}

a {
  text-decoration: none;
}

a:visited {
  color: #333;
}

hgroup h2 a:hover {
  color: #00bab9
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
}

.clearfix {
  zoom: 1;
}

.fff {
  color: #fff;
}

.size18 {
  font-size: 0.18rem;
}

.size16 {
  font-size: 0.16rem;
}

.size28 {
  font-size: 0.28rem;
}

.errorColor {
  color: #f08767
}

.floatL {
  float: left;
}

.floatR {
  float: right;
}

.W158 {
  width: 1.58rem;
}

.W278 {
  width: 2.78rem;
}

.W442 {
  width: 4.42rem;
}

.W1134 {
  width: 11.34rem;
}

.MarTop40 {
  margin-top: 0.40rem;
}

.MarTop80 {
  margin-top: 0.80rem;
}

.MarR40 {
  margin-right: 0.40rem;
}

.MarR30 {
  margin-right: 0.30rem;
}

.MarR8 {
  margin-right: 0.08rem;
}

.MarR68 {
  margin-right: 0.68rem;
}

.MarB50 {
  margin-bottom: 0.50rem;
}
.loginMT28 {
  margin-top: 0.28rem;
}
button{
  cursor: pointer;
}
/*++++++++++++++++++++++++++++++++++++++++++_______________________________________________*/
.bgL {
  width: 3.01rem;
  height: 5.01rem;
}

.loginBox .lin_title {
  line-height: 1rem;
  color: #17c1af;
  position: relative;
  padding-top: 0.15rem;
}

.btn_success {
  background: #00bab9;
  color: #fff;
}

.btn_success:hover {
  background: #019d9c;
}

.loginBox input {
  border: 0;
  float: left;
  width: 3.7rem;
  padding-left: 0.1rem;
}

.loginBox h4 {
  position: relative;
  line-height: 0.79rem;
  float: left;
  width: 4.97rem;
}

.loginBox label {
  float: left;
  padding-left: 0.20rem;
  color: #666;
  width: 0.92rem;
  text-align: right;
}

.loginBox button {
  clear: both;
  width: 4.99rem;
  height: 0.80rem;
  font-size: 0.24rem;
  border-radius: 0;
}

.form-control {
  height: 0.30rem;
  font-size: 0.18rem;
  color: #999;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e5e8ee;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

/*判断对错小图标开*/
.form-control .loginSucc, .loginError {
  position: absolute;
  display: block;
  width: 0.2rem;
  height: 0.2rem;
  background: #00bab9;
  color: #fff;
  border-radius: 50%;
  -right: 0.12rem;
  right: 0.12rem;
  -top: 0.18rem;
  top: 0.28rem;
  text-align: center;
  line-height: 0.2rem;
}

.form-control .loginSucc::after {
  content: '√';
  display: block
}

.form-control .loginError {
  display: block;
  background: #ec6941;
  line-height: 0.16rem;
}

.form-control .loginError::after {
  content: 'x';
  display: block
}
/*判断对错小图标关*/


/*注册页样式开*/
.cont ul{
  font-size: 0.18rem;
  padding: .77rem 1.1rem 0;
  color: #bbbbbb;
  overflow: hidden;
  width: 7.08rem;
}
.cont ul li{
  float: left;
  width: 1.95rem;
  line-height: 0.23rem;
}
.cont ul li:nth-child(4) {
  width: 1.11rem;
}
.cont ul li span {
  display: inline-block;
  vertical-align: middle;
  width: .24rem;
  height: .24rem;
  background: url("../loginupG.png");
  background-size: 100%;
  margin-right: .11rem;
}
.cont ul li .blue {
  background: url("../loginupL.png");
  background-size: 100%;
}

.cont ul li i {
  display: inline-block;
  vertical-align: middle;
  margin-left: .13rem;
  width: .61rem;
  height: .02rem;
  background: url("../loginupS.png");
  background-size: 100%;
}
/*////////////注册头结束///////////*/
.loginUpBox{
  padding-top: 0.15rem;
  width: 9.28rem;
  height:initial;
}
.loginUpBox h4 {
  position: relative;
  width: 9.28rem;
  height: 0.77rem;
  border: 0;
}
.loginUpBox label{
  padding-right: 0.18rem;
  text-align: right;
  padding-left:2.11rem;
  color: #666;
}
.loginUpBox .submit {
  border-radius: 0.03rem;
  margin-top: 0.09rem;
  font-size: 0.18rem;
  margin-left: 2.73rem;
  width: 4.02rem;
}
.loginUpBox input{
  height: 0.46rem;
  border: 0.02rem solid #dee2ea;
}


/*注册页样式关*/


/*jing1125*/
/**分页**/
#pageToolbar {
  margin: 29px 0;
}

.ui-paging-container {
  color: #666;
  font-size: 16px;
  text-align: center;
}

.ui-paging-container ul {
  overflow: hidden;
  text-align: center;
}

.ui-paging-container ul, .ui-paging-container li {
  list-style: none;
}

.ui-paging-container li {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 14px;
  color: #999999;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.ui-paging-container li.ui-pager {
  cursor: pointer;
  border: 1px solid #f5f5f5;
}

.ui-paging-container li.js-page-prev i {
  width: 9px;
  height: 12px;
  display: inline-block;
  background: url("../sprit.png") 0 -287px no-repeat;
}

.ui-paging-container li.js-page-next i {
  width: 9px;
  height: 12px;
  display: inline-block;
  background: url("../sprit.png") -10px -287px no-repeat;
}

.ui-paging-container li.ui-pager:hover, .ui-paging-container li.focus {
  background-color: #00bab9;
  color: #FFFFFF;
}

.ui-paging-container li.ui-paging-ellipse {
  border: 1px solid #f5f5f5;
}

.ui-paging-container li.ui-paging-toolbar {
  width: auto;
  margin-left: 23px;
}

.ui-paging-container li.ui-paging-toolbar input {
  text-align: center;
  line-height: 28px;
  height: 28px;
  width: 28px;
  border: 1px solid #00bab9;
  margin-left: 11px;
}

.ui-paging-container li.ui-paging-toolbar a {
  text-decoration: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 7px;
  color: #999999;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #f5f5f5;
}

.ui-paging-container li.ui-pager-disabled, .ui-paging-container li.ui-pager-disabled:hover {
  background-color: #f6f6f6;
  cursor: default;
  border: none;
  color: #ddd;
}

.h62 {
  height: 62px;
}

.h190 {
  height: 190px;
}
.loginH78 {
  height: 0.78rem;
}


.BottomNum {
  top: 74px;
}

/*wnn   登陆注册*/

.form-btn {
  text-align: left;
  padding-left: 1.18rem;
}

.btn {
  padding: 0.14rem 0.40rem;
  background: #e5e5e5;
  border-radius: 3px;
  border: 0;
}

.btn_default {
  background: #e5e5e5;
  color: #666;
}
.btn_default:hover {
  background: #d8d8d8;
}
.btn_success {
  background: #00bab9;
  color: #fff
}

.btn_success:hover {
  background: #019d9c;
}

.mT15 {
  margin-top: 0.15rem !important;
}

.addbtn {
  width: 128px;
  height: 46px;
  border: 1px solid #00bab9;
  font-family: microsoft yahei, sans-serif;
  border-radius: 6px;
  font-size: 16px;
  color: #00bab9;
  background: #fff;
  float: right;
}

.addbtn i {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url("../sprit.png") 0 -304px no-repeat;
  margin-right: 7px;
  vertical-align: middle;
}

.addbtn:hover {
  background: #00bab9;
  color: #fff
}

.addbtn:hover i {
  background: url("../sprit.png") 0 -328px no-repeat;
}

.fff {
  color: #fff;
}

.errorColor {
  color: #f08767
}

.Lin_error {
  display: block;
  line-height: 0.16rem;
  margin-top: -0.15rem;
}

/*jing 11-23*/
.content {
  width: 100%;
  height: calc(100% - 100px)
}

.main {
  width:87%;height:100%;min-width:11rem;
}

.mainBox {
  margin: 2%;
  background: #fff;
  width: 94%;
  margin-right: 7px;
  padding: 0 0.2rem;
  overflow: auto;
  overflow-x: hidden;
  height: calc(100% - 52px)
}

/*//////////////////////////////////////////////////////*/

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 186, 185, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 186, 185, .6)
}

.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
  font-size: 0.16rem;
}

.form-control:-ms-input-placeholder {
  color: #999;
  font-size: 0.16rem;
}

.form-control::-webkit-input-placeholder {
  color: #999;
  font-size: 0.16rem;
}

/***login**/
.content {
  background: #f1f1f1;
}

.cont {
  position: relative;
  width: 100%;
  height: 5.01rem;
  background: #ffffff;
  box-shadow: 0 0 10px #dadada;
}

.cont img {
  float: left;
}

.cont .flag {
  position: absolute;
  top: 0;
  right: 0.5rem;
  width: 0.30rem;
  height: 0.51rem;
  background: url("../flag.png");
  background-size: 100%;
}

.loginOne {
  height: 100%;
  width: 5.51rem;
  padding-left: 3.77rem;
}

.jlogo {
  line-height: 1rem;
  font-size: 0.38rem;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.jlogo img{
  width:1.61rem;
  height:0.5rem;
}

.loginBox {
  width: 5.51rem;
  height: 100%;
  background: #fff;
}

/*jing 1130*/

.loginWapper {
  background: url(../login1.png) no-repeat;
  width: 100%;
  display: flex;
  height: 9.05rem;
  background-size: 100% 4.36rem;
}

.loginCon {
  margin: auto;
  height: 6.01rem;
}

.view {
  height: 100%;
  position: relative
}

.wid {
  width: 23% !important;
}

.FerrorNew {
  position: absolute;
  color: #ec6941;
  line-height: 1;
  font-size: 14px;
  top: 40px;
}

.FerrorNew i {
  width: 16px;
  height: 16px;
  background: #ec6941;
  float: left;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 12px;
  font-weight: bold;
  color: #fff
}

.form-group select.form-control {
  display: block;
  padding: 3px 10px;
  width: 100%;
  height: 36px;
  color: #1f2d3d;
  background-color: #fff;
  border: 1px solid #C0CCDA;
  border-radius: 4px;
  outline: 0;
  font-size: 16px;
  line-height: normal;
}

.form-group {
  line-height: 32px;
  position: relative
}

.stars {
  color: #11bfbe;
  margin-right: 5px;
  font-weight: bold
}

.form-group label {
  width: 98px;
  text-align: right;
  color: #5e6d82;
  margin-right: 20px;
}

.clearBor .el-input.is-disabled .el-input__inner, .clearBor .form-group select {
  border: none;
  background: none;
  appearance: none;
  -moz-appearance: none;
  cursor: default;
  -webkit-appearance: none;
  color: #1f2d3d
}

.clearBor .el-input.is-disabled .el-input__inner {
  color: #1f2d3d
}
.FerrorNew {
  position: absolute;
  color: #ec6941;
  line-height: 1;
  font-size: 14px;
  top: 40px;
}

.FerrorNew i {
  width: 16px;
  height: 16px;
  background: #ec6941;
  float: left;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 12px;
  font-weight: bold;
  color: #fff
}
.form-group select.form-control {
  display: block;
  padding: 3px 10px;
  width: 100%;
  height: 36px;
  color: #1f2d3d;
  background-color: #fff;
  border: 1px solid #C0CCDA;
  border-radius: 4px;
  outline: 0;
  font-size: 16px;
  line-height: normal;
}
.form-group {
  line-height: 32px;
  position: relative
}

.stars {
  color: #11bfbe;
  margin-right: 5px;
  font-weight: bold
}

.form-group label {
  width: 98px;
  text-align: right;
  color: #5e6d82;
  margin-right: 20px;
}
.clearBor .el-input.is-disabled .el-input__inner,.clearBor .form-group select{
  border:none;background:none;
  appearance:none;
  -moz-appearance:none;cursor: default;
  -webkit-appearance:none;color:#1f2d3d
}
.dialogDetail .el-dialog__body{padding:30px;}
.dialogDetail .photoBox{float:none;margin:0 auto;background:#02bab8;border:5px solid #b6e6e6;text-align:center;}
.dialogPer .photoBox{float:none;margin:0 auto;background:#02bab8;border:5px solid #b6e6e6; text-align:center; }

.dialogDetail .lines{height:46px;line-height: 46px;border-bottom:1px solid #dee2ea;color:#00bab9;font-size: 16px;}
.dialogDetail .el-form{width:332px;margin:0 auto;}
.dialogDetail  label{color:#666;}
.dialogDetail p{color:#999;word-break: break-all;word-wrap:break-word}
.dialogDetail .el-form-item{margin-top:26px;}
.dialogDetail .el-form-item__label{height: 36px;line-height: 36px;padding: 0 12px 0 0;}
.clearBor .el-input.is-disabled .el-input__inner{color:#1f2d3d}
.dialogBranNew .el-dialog .el-dialog__body{max-height:520px;overflow: hidden;overflow-y:auto;}
.wrong .el-input__inner{
  border-color: #f4704a !important;
}

/*@media screen and (min-width:1000px) and (max-width:1366px){
  .loginCon{transform: scale(0.8);margin:-3% auto 0 auto;}
}
@media screen and (max-width:1300px) {
  .loginCon{
    width:80%;
  }
  .loginCon h1{fint-size:30px;}
  .cont{width:100%;}
  .loginBox input{width:68%;float:right;}
.Jphoto{padding: 12% 0 0 4%; }
  .menuBox li{padding-left:18%}
  .wid{width: 23%!important;margin-right:2%!important}
  .loginCon{margin:2% auto 0 auto}
  .jlogo {line-height:80px;}
  }*/


/*以下是wnn注释的*/
/*@media screen  and (min-width: 1280px) and (max-width: 1359px) {*/
/*.loginCon {*/
/*transform: scale(.9);*/
/*margin: 2% auto;*/
/*width: 60%*/
/*}*/

/*.Jphoto {*/
/*padding: 10% 0 0 0%;*/
/*}*/
/*}*/

/*@media screen  and (min-width: 1360px) and (max-width: 1400px) {*/
/*.loginCon {*/
/*transform: scale(0.8);*/
/*margin: -1% auto;*/
/*width: 56%*/
/*}*/

/*.Jphoto {*/
/*padding: 16% 0 0 6%;*/
/*}*/
/*}*/

/*@media screen and (min-width: 1400px) and (max-width: 1601px) {*/
/*.loginCon {*/
/*transform: scale(0.9);*/
/*margin: 0 auto;*/
/*margin-top: 3%;*/
/*width: 56%*/
/*}*/

/*.Jphoto {*/
/*padding: 16% 0 0 6%;*/
/*}*/
/*}*/

/*@media screen and (min-width: 1600px) and (max-width: 1679px) {*/
/*.loginCon {*/
/*transform: scale(0.9);*/
/*margin: 0 auto;*/
/*margin-top: 3%*/
/*}*/
/*}*/


@media screen  and (min-width:1280px) and (max-width:1359px) {
 /* .loginCon{transform: scale(.9);margin:2% auto;width:60%}
  .Jphoto{padding: 10% 0 0 0%;}*/
  .menuBox li{padding-left:20px;}
}
@media screen  and (min-width:1360px) and (max-width:1400px) {
 /* .loginCon{transform: scale(0.8);margin:-1% auto;width:56%}
  .Jphoto{padding: 16% 0 0 6%;}*/
  .menuBox li{padding-left:20px;}
}

@media screen and (min-width:1400px) and (max-width:1601px){
  /*.loginCon{transform: scale(0.9);margin:0 auto;margin-top:3%;width:56%}
  .Jphoto{padding: 16% 0 0 6%;}*/
  .menuBox li{padding-left:45px;}
}
@media screen and (min-width:1600px) and (max-width:1679px){
  /*.loginCon{transform: scale(0.9);margin:0 auto;margin-top:3%}*/
  .menuBox li{padding-left:45px;}
}


