body,html{background:#f5f5f5;}
/*表单验证错误提示*/
label.error{
    color: #ff5f5f!important;
    display: inline-block;
    position: absolute;
    left: 23px;
    top: 38px;
    font-size: 14px!important;
    width: 100%!important;
    text-align: left!important;
}
.Y_tex1 label.error{
    left: 43px;
    top: 137px;
}
label .reqStar {
    color: #FF0500;
    padding: 2px 2px;
    vertical-align: middle;
}
input{
    padding-left:10px;
}
button{
    width:128px;
    height:48px;
    background:#388cff;
    color:#fff;
    font-size:16px;
    text-align:center;
    line-height:48px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    border:0;
    font-family:'微软雅黑';
    cursor: pointer;
}
button:hover{
    background:#1f77f0;
}
.Ybtn{background:#fff;border:1px solid #388cff;color:#388cff;  width:128px;
    height:48px;
    font-size:16px;
    text-align:center;
    line-height:48px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    font-family:'微软雅黑';
    cursor: pointer;}
.Ybtn:hover{color:#fff; background:#1f77f0;}
.Ydoc_bjbtn{
    position:absolute;
    top:105px;
    right:82px;display:inline-block;width:128px;height:48px;
}
.Ydoc_content{

    padding:36px 82px 64px 45px;
    position:relative;
    /*min-height:929px;*/
    min-width:920px;
}
.Ydoc_content .Ydoc_title{
   font-size:20px;
   color:#333333;
}
.Ydoc_content form{
    margin-left:54px;
    margin-top:51px;
}
.Ydoc_content form .Y_div{
    width:100%;
    clear:both;
}
.Ydoc_content form .Y_div label{
    width:76px;
    text-align:right;
    font-size:16px;
    color:#666666;
    line-height:1.5;
}
.Ydoc_content form .Y_div label,.Ydoc_content form .Y_input{
   float:left;
    margin-bottom:41px;
}
.Ydoc_content form .Y_input p{
    margin-left:18px;
    float:left;
    font-size:16px;
    color:#444444;
    line-height:1.5;
}
.Ydoc_conterEdit .Ydoc_changpasswForm div label{line-height: 40px;}
.Ydoc_content form .Y_input{
    float: left;
    width:670px;
}
.Yimg_upload{
    float:left;
    margin-left:15px;
    width:90px;
    height:90px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    border:2px solid #dfedff;
}
.Yimg_upload img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/*编辑*/
.Ydoc_conterEdit .Y_input input,.Ydoc_conterEdit .Y_input textarea,.Ydoc_conterEdit .Y_input p,.Ydoc_conterEdit .Yimg_upload{
    margin-left:40px!important;
}
.Ydoc_conterEdit .Y_input textarea{
    padding:10px 17px;
}
.Y_sex .sex1{
   margin-left:19px;
    margin-right:20px;
}
.Y_sex label{
    display: block;
    margin-bottom: 10px;
}
.Y_sex input{
    position: absolute; top: -9999px;
}
.Y_sex i{
    display: inline-block;
    width: 17px; height: 17px;
    margin-right: 10px;
    background: url(../images/Doc_Yrcheck.png) no-repeat;
    vertical-align: middle;
}
.Y_sex .checked{
    background: url(../images/Doc_Yrchecked.png) no-repeat;
}
.Ydoc_conterEdit .Y_input{
    position:relative;
}
.Ydoc_conterEdit .Y_input textarea,.Ydoc_conterEdit .Y_input input{
    border:1px solid #dddddd;
    width:819px;
    border-radius:3px;

}
.Ydoc_conterEdit .Y_input span{
    position:absolute;
    bottom:10px;
    left:833px;
}
.Ydoc_conterEdit .Y_input span b{
color:#388cff;
}
.Ydoc_conterEdit button{
    margin-left:104px;
}
.Y_sex{
    margin-bottom:0!important;
}

/*设置密码/修改密码*/
.Ydoc_changpasswForm button{
    margin-left:86px;
}
.Ydoc_changpasswForm .Y_input input{
    width:318px;
    height:38px;
    margin-left:22px!important;
    line-height:38px;
}
.Ydoc_changpasswForm label{
    line-height:38px;
}