@charset "utf-8";
.JEncy,.JEncyCont{width:1200px;margin:0 auto;}
.JEncy{padding-top:19px;}
.JEncy .JinfoTab{width:100%;}
.JEncy .JinfoCont{float:none;height:auto;}
.JEncyCont .JinfoContList{display: block;min-height:400px;position: relative}
.JEncy  .Jinfos{float:left;}
.JEncy .JinfoContList dl{margin-top:20px;padding:18px 27px 42px 12px;width:550px;height:150px;}
.JEncy .JinfoContList dd{width:328px;}
.JEncy  dl h2{font-size:18px;line-height: 38px}
.JEncy  dd p{line-height: 20px;margin-top:9px;}
/*meet界面*/
.isBodywhite{background:#fff}
.J_banners{width:100%;height:100%;}
.J_banners img{width:100%;height:100%;}
.Jmet_cont{width:1064px;margin:0 auto;background:#fff}
.Jmet_cont h2{height:122px;width:536px;margin:0 auto;line-height: 122px;font-size:30px;color:#388cff;text-align: center;background:url(../images/j_metTitle.png) no-repeat center}
.Jmet_cont h3{height:51px;background:#ebf3ff;width:100%;line-height: 51px;}
.Jmet_title p{display:inline-block;margin:0 52px 0 50px;}
.Jmet_title label,.Jmet_title span{font-size: 16px;color:#666;font-weight:normal}
.Jmet_list{width:836px;margin:50px 0 0 103px;}
.Jmet_list li h5{width:154px;float:left;font-size:16px;color:#666;font-weight:normal}
.Jlist_box{float:left;position: relative;background:url(../images/j_metDocBg.png) no-repeat left 0;padding-bottom:30px;}
.Jlist_box i{position: absolute;width:1px;height:100%;background:#a2c7f9;background:rgba(56,140,255,.4);left:9px;top:16px;}
.Jlist_box p,.Jlist_box dfn{padding-left:53px;font-size: 16px;}
.Jlist_box p{line-height: 22px;margin-bottom:10px;width:596px;word-break: break-all;word-wrap: break-word}
.Jmet_pad .Jlist_box{padding-bottom:12px;}

#jdrug{margin-bottom:13px;}
#jdrug>li{position: relative}
#jdrug .jdrugList{position: absolute;background:#fff;display:none;left:0;top:50px;  box-shadow: 0px 0 20px #ddd;
    -moz-box-shadow: 0px 0 20px #ddd;
    -webkit-box-shadow: 0px 0 20px #ddd;}
.jdrugList>li{float:none;height:50px;line-height: 50px}
.jdrugList>li a{padding:0 40px;display:inline-block;white-space:nowrap;height:50px;line-height: 50px;overflow:hidden;text-align:center;color:#666;font-size:14px;}
.jdrugList>li:hover,.JinfoTab .active .jdrugList  a:hover,.jdrugList>li:hover a{background:#388cff;color:#fff}
.JinfoTab .active .jdrugList  a{color:#666}
.J_SlowDisWrap{background:#f6f6f6}
