.WrateDtail_wrap {
    float: left;
    width: 883px;
    padding-bottom: 170px;
    background: #ffffff;
    letter-spacing: 1px;
}

.WrateDtail_wrap h2 {
    display: inline-block;
    margin-top: 28px;
    height: 41px;
    line-height: 41px;
    padding: 0 30px;
    color: #f6f6f6;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
}

.WrateDtail_wrap h3 {
    margin: 22px 65px 29px 60px;
    background: #f6f6f6;
    padding: 0 76px;
    width: 603px;
    height: 51px;
    line-height: 51px;
    font-weight: 400;
    font-size: 0;
}

.WrateDtail_wrap h3 div {
    display: inline-block;
    font-size: 14px;
    margin: 0 22px;
    color: #999999;

}

.WrateDtail_wrap h4 {
    margin:0 72px;
    margin-bottom: 13px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}

.WrateDtail_wrap h4 span {
    vertical-align: top;
    margin-right: 23px;
}

.WrateDtail_wrap h4 b {
    display: inline-block;
    width: 650px;
}

.WrateDtail_wrap .section {
    display: none;
}

.WrateDtail_wrap .question .sec1 {
    display: block;
}

.WrateDtail_wrap .section li {
    margin:0 165px;
    line-height: 35px;
}

.WrateDtail_wrap .section li .option {
    position: relative;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 18px;
    border-radius: 50%;
    border: 1px solid #3d8fff;
    vertical-align: middle;
    cursor: pointer;
}

.WrateDtail_wrap .section li .option_wrap {
    display: inline-block;
    cursor: pointer;
}

.WrateDtail_wrap .section li .option .on {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #388cff;
}

.WrateDtail_wrap .section button {
    width: 131px;
    height: 41px;
    line-height: 41px;
    text-align: center;
    font-size: 16px;
    margin: 45px auto 0;
    border-radius: 9px;
    color: #ffffff;
    letter-spacing: 1px;
    display: block;
    cursor: pointer;
    font-family:'微软雅黑';
}

.WrateDtail_wrap .section .last_button {
    background: #f6f6f6;
    color: #bbbbbb;
}

.WrateDtail_wrap .section .last_button:hover {
    background: #ebebeb;

}

.WrateDtail_wrap .section .lastQuestion {
    margin-top: 24px;
}

.WrateDtail_wrap #result h5 {
    display: block;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 748px;
    margin: 32px auto 30px;
    padding-bottom: 50px;
    border-bottom: 3px dashed #f6f6f6;

}

.WrateDtail_wrap #result h5 i {
    display: inline-block;
    height: 52px;
    line-height: 52px;
    font-size: 52px;
    vertical-align: sub;
    margin: 0 10px;
}

.WrateDtail_wrap #result .title {
    margin-left: 89px;
    margin-bottom: 18px;
    padding-left: 8px;
    border-left: 4px solid #388cff;
    font-size: 18px;
    height: 18px;
    line-height: 18px;
    color: #444444;
}

.WrateDtail_wrap #result .evaluate {
    width: 666px;
    margin: 0 auto 47px;
    line-height: 24px;
    letter-spacing: 0;
}

.WrateDtail_wrap #result .evaluate_btn {
    width: 404px;
    margin: 0 auto;
}

.WrateDtail_wrap #result .evaluate_btn button {
    float: left;
    width: 159px;
    text-align: center;
    height: 41px;
    line-height: 41px;
    color: #ffffff;
    font-size: 16px;
    border-radius: 9px;
    cursor: pointer;
}

.WrateDtail_wrap #result .evaluate_btn .last {
    float: right;
}

.WrateDtail_wrap button:hover {
    background: #2174e5;
}

.WrateDtail_wrap #result .tip {
    width: 666px;
    margin: -15px auto 47px;
    line-height: 24px;
}

.WrateDtail_wrap #result .tip span {
    color: #444;
}

.WrateDtail_wrap #result .tip p {
    text-indent: 2em;
    text-align: justify;
}
