
<!--<header id="head">
    <h1 class="title"><i class="icon-back"></i>血压记录</h1>
</header>-->
<section id="main">
    <div class="content">
        <div class="shadowWrapper">
            <div class="title">
                <span class="time">
                    时间<b>min</b>
                </span>
                <span>
                    高压<b>mmHg</b>
                </span>
                <span>低压<b>mmHg</b></span>
                <span>心率<b>bpm</b></span>
            </div>
            <div class="data_record">

            </div>
        </div>
    </div>
    <div class="weui-loadmore weui-loadmore_line weui-loadmore1">
        <span class="weui-loadmore__tips">暂无数据</span>
    </div>
    <div class="weui-loadmore weui-loadmore2">
        <i class="weui-loading"></i>
        <span class="weui-loadmore__tips">正在加载</span>
    </div>
    <div class="legend">
        <div class="up"><i>●</i><span>偏高</span></div><div class="down"><i>●</i><span>偏低</span></div>
    </div>
    <div class="weui-loadmore weui-loadmore_line weui-loadmore3">
        <span class="weui-loadmore__tips">已展示全部</span>
    </div>
</section>
