<div>
    weui 测试<br/>
    <button id="alert">普通的alert</button><br/>
    <button id="alert-with-callback">带回调的alert</button><br/>
    <button id="alert-with-titleAndCallback">带标题回调的alert</button><br/>
    <hr/><br/>

    <button id="toast">toast</button><br/>

</div>