<div class="mask">
    <div class="cont">
        <div class="logo">
            <img src="img/logo.png" width="45">
        </div>
        <div class="code">
            <img src="img/code.jpg">
            <p>长按二维码关注智医，<br>与您的家人共享健康服务</p>
            <div class="close-wrapper"><img src="img/close.png" class="close" ></div>
        </div>
    </div>
</div>