
<!--<header id="head">
    <h1 class="title">记录</h1>
</header>-->
<section id="main">
    <div class="icons">
        <div class="iconLeft goAddData" >
            <p><img src="img/BP.png" class="BP" width="27" height="40"></p>
            <span>记血压</span>
        </div>
        <div class="line"></div>
        <div class="iconRight goAddSugar">
            <p>
                <img src="img/BS.png" class="BS" width="34" height="39">
            </p>
            <span>记血糖</span>

        </div>
    </div>
    <div class="split"></div>
    <div class="recordCon">
        <h2>
            <b class="blueLine"></b>血压记录
            <div class="titleR goMore"><span>更多</span><img src="img/more.png" class="more" width="13" height="13"/></div>

        </h2>
        <ul class="figure">
            <li>
                <div>
                    <!--<canvas id="canvas1" width="94" height="94"
                            data-total={"num":10,"unit":"mmHg","color":"#F39498","fontColor":"#F8B5B8"}></canvas>-->
                </div>
                <span>高压</span></li>
            <li>
                <div>
                    <!--<canvas id="canvas2" width="94" height="94"
                            data-total={"num":60,"unit":"mmHg","color":"#A3D4FD","fontColor":"#C6E5FE"}></canvas>-->
                </div>
                <span>低压</span></li>
            <li>
                <div>
                    <!--<canvas id="canvas3" width="94" height="94"
                            data-total={"num":72.5,"unit":"bpm","color":"#9FEEE6","fontColor":"#AFF9F1"}></canvas>-->
                </div>
                <span>心率</span></li>
        </ul>
        <div class="date"><img src="img/calendar.png" class="calendar" width="14" height="14"><span></span></div>
    </div>
    <div class="split"></div>
    <div class="healthAide">
        <h2>
            <b class="blueLine"></b>健康助手
        </h2>
        <h3>测量血压的注意事项:
        </h3>
        <ol class="content">
            <li>①测量前请至少休息5分钟，请在放松状态下、安静不动地测量。
            </li>
            <li>②测量血压的最佳时间为早晨起床后1小时之内、排尿后、早餐前，或者晚上就寝之前、服药前。
            </li>
            <li>③请在每天的同一时间测量。
            </li>
        </ol>
    </div>
</section>
