<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>健科智医</title>
    <meta charset='utf-8' />
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body >
    <div id="app-main" style="height:100%;overflow:auto;">
        <div th:text="${result.state}"></div>
        <div th:text="${result.msg}"></div>
        <div th:text="${result.data}"></div>
    </div>
</body>
</html>