<div class="header">
    <div class="navbar-header">
        <img src="../images/Doc_logo.png" />
        <h1 class="navbar-form-custom">湖南省家庭健康及慢病自我管理平台</h1>
    </div>
    <div class="top-right">
        <em><dfn>医生</dfn>您好，欢迎访问湖南省家庭健康及慢病自我管理平台！</em>
        <a ><i class="sign-out"></i> 退出</a>
    </div>
</div>