<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= site %> | <%= local.title %></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=1280,user-scalable=no" />
    <% styles.forEach(function(sty){  %>
    <link rel="stylesheet" href="<%= sty %>">
    <% }) %>
    <%
    if(local.styles) {
    local.styles.forEach(function(sty){  %>
    <link rel="stylesheet" href="<%= sty %>">
    <%      })
    }
    %>
</head>