<div class="footerWap">
    <div class="footer">
        <div class="footerLeft">
            <p class="Footaddress">CopyRight (C) 2017 北京健科云网科技有限公司<span class="bah">京ICP备16061273号-2
</span></p>
            <p>地址：北京市海淀区上地东路35号颐泉汇大厦B座628<span>电话：010-62975580
</span></p>
        </div>
      <!--  <div class="footerRight" >
            <img src="../images/Zdoc.jpg" />
            <p>智医医生端</p>
        </div>
        <div class="footerRight" style="margin-right:82px;">
            <img src="../images/Zpat.jpg" />
            <p>智医患者端</p>
        </div>-->
    </div>
</div>

