<div class="JtopWap">
</div>
<div class="JtitleWap">
    <div class="Jtitle">
      <h1 class="jLogo"><img src="../images/logo.png">湖南省家庭健康及慢病自我管理平台</h1>
        <div class="Jsearch Jplaceholder">
            <input class="seaechVal" type="text" placeholder="请输入您要搜索的内容"/>
            <i class="JsearchIcon"></i>
            <input class="button" type="button" value="搜索" />
        </div>
    </div>
</div>
<div class="JNavWap">
    <div class="JNav">
      <ul>
          <% if(local.Navactive=="index"){ %>
          <li class="active" iTitle="index"><a href="../html/index.html">首页</a></li>
          <li iTitle="Encyclopedia_GXY"><a href="../html/Encyclopedia_GXY.html">慢病百科</a></li>
          <li iTitle="Y_special"><a href="../html/Y_special.html">APP下载</a></li>
          <% } else if(local.Navactive=="Encyclopedia_GXY"){ %>
          <li  iTitle="index"><a href="../html/index.html">首页</a></li>
          <li class="active" iTitle="Encyclopedia_GXY"><a href="../html/Encyclopedia_GXY.html">慢病百科</a></li>
          <li iTitle="Y_special"><a href="../html/Y_special.html">APP下载</a></li>
          <% } else if(local.Navactive=="Y_special"){ %>
          <li  iTitle="index"><a href="../html/index.html">首页</a></li>
          <li  iTitle="Encyclopedia_GXY"><a href="../html/Encyclopedia_GXY.html">慢病百科</a></li>
          <li class="active" iTitle="Y_special"><a href="../html/Y_special.html">APP下载</a></li>
          <% } else{ %>
          <li class="active" iTitle="index"><a href="../html/index.html">首页</a></li>
          <li iTitle="Encyclopedia_GXY"><a href="../html/Encyclopedia_GXY.html">慢病百科</a></li>
          <li iTitle="Y_special"><a href="../html/Y_special.html">APP下载</a></li>
          <% } %>
         <!-- <li class="active" iTitle="index"><a href="../html/index.html">首页</a></li>
          <li iTitle="Encyclopedia_GXY"><a href="../html/Encyclopedia_GXY.html">慢病百科</a></li>-->
      </ul>
    </div>
</div>

