<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>健科互联网医疗服务平台</title>
<meta name="keywords" content="your tags" />
<meta name="description" content="150 words" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no;" >
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <style>
        html, body,.wapper{
            background:#ffffff;
        }
        .footernav{
            height:20px;
            background:#f9f9f9;
            clear:both;
        }
        .bottomWapper{background:#f9f9f9;margin-top:0;}
        .Bline h4{
            background:#f9f9f9;
        }
        .link h6{
            background:#ffffff;
        }
    </style>
</head>
<body>
<div class="wapper">
    <%- include('../ejs/header') %>
    <div class="mainW disdetails">
       <div class="main">
         <div class="title">
           <h2><a href="/index.html">首页</a> | <a href="../webPage/commonDiseases.html">常见疾病</a> | 后循环缺血伴眩晕的症状</h2>
         </div>
         <div class="disdetails-main">
           <div class="disdetails-lt">
             <div class="titles">
               <h2>后循环缺血伴眩晕的症状</h2>
               <p>2016年11月16日【原创】</p>
             </div>
             <ul>
               <li>
                <p>
                  后循环缺血伴眩晕是重要的神经活动部位，脑神经、网状上行激活系统和重要的上下行传导束在其间通过。当血供障碍而出现神经功能损害时，会出现各种不同但又相互重叠的临床表现。因此PCI的临床表现多样，缺乏刻板或固定的形式，临床识别较难。
                </p>
              </li>
               <li>
                 <p>PCI的常见临床症状包括头晕、眩晕、肢体或头面部的麻木、肢体瘫痪、感觉异常、步态或肢体共济失调、构音或吞咽障碍、跌倒发作、偏盲、声嘶，Horner综合症等。出现一侧脑神经损害和另一侧运动感觉损害的交叉表现是PCI的特征表现。</p>
               </li>
               <li>
                 <p>后循环缺血伴眩晕常见的PCI类型有TIA、小脑梗死、延脑外侧综合征、基底动脉尖综合征、Weber综合征、闭锁综合征、大脑后动脉梗死、腔隙性梗死(纯运动性卒中、共济失调轻偏瘫、构音障碍-拙手综合征、纯感觉性卒中等)。</p>
               </li>
               <li>
                 <p>目前证据表明PCI的总体预后并不比前循环缺血者差，如NEMC-PCR中，407例患者中预后好者达79%。</p>
              </li>
              <li>
                 <p>后循环缺血伴眩晕常的症状被误认为是后循环缺血的临床表现。</p>

                 <p>脑干结构的致密和血管支配与神经结构的非一一对应特点，决定了绝大多数的PCI呈现为多种重叠的临床表现，极少只表现为单一的症状或体征。如在NEMC-PCR中，仅不到1%的患者表现为单一的症状或体征。单一的症状或体征，如头晕、眩晕、头昏、头痛、晕厥、跌倒发作和短暂意识丧失等，多由全身性疾病、循环系统疾病、前庭周围性疾病和精神障碍所致，很少由PCI所致。
</p>
              
               </li>
             </ul>
             <div class="dz">
               <i></i>
               <p>分享到：<a class="QQ"></a><a class="wx"></a><a class="kj"></a><a class="wb"></a><a class="tx"></a><a class="db"></a></p>
             </div>
           </div>
           <div class="disdetails-rt">
             <dl>
               <dt><img src="../../img/comDi-icon4.png"></dt>
               <dd>
                 <h2><img src="../../img/dlp.png"></h2>
                <!--  <p>贵阳彩月是专业的医疗设备生产厂家， 在国内外已享有一定的知名度。</p> -->
               </dd>
             </dl>
             <div class="disdetails-rt-btm">
               <div class="tl"><h2>相关文章<span>更多>></span></h2></div>
               <ul>
                  <!--  <li><a>别把三叉神经痛当牙痛！</a></li>
                  <li><a>节食减肥的女生易口臭</a></li>
                  <li><a>过敏性鼻炎真的没法根治？</a></li>
                  <li><a>冬季治脚气，千万别错过！</a></li>
                  <li><a>糖尿病足，护理不当或截肢！</a></li> -->
               </ul>
             </div>
           </div>
         </div>
       </div>
    </div>
    <%- include('../ejs/footer') %>
</div>
<script  src="../../js/common/jquery.1.11.0.min.js" ></script>
<script  src="../../js/common/common.js" ></script>
</body>
</html>
