<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>健科互联网医疗服务平台</title>
<meta name="keywords" content="your tags" />
<meta name="description" content="150 words" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no;" >
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <style>
        html, body,.wapper{
            background:#ffffff;
        }
        .footernav{
            height:20px;
            background:#f9f9f9;
            clear:both;
        }
        .bottomWapper{background:#f9f9f9;margin-top:0;}
        .Bline h4{
            background:#f9f9f9;
        }
        .link h6{
            background:#ffffff;
        }
    </style>
</head>
<body>
<div class="wapper">
    <%- include('../ejs/header') %>
    <div class="mainW disdetails">
       <div class="main">
         <div class="title">
           <h2><a href="/index.html">首页</a> | <a href="../webPage/commonDiseases.html">常见疾病</a> | 突聋伴眩晕的病因</h2>
         </div>
         <div class="disdetails-main">
           <div class="disdetails-lt">
             <div class="titles">
               <h2>突聋伴眩晕的病因</h2>
               <p>2016年11月16日【原创】</p>
             </div>
             <ul>
               <li>
                <h3>
                 突发性耳聋(以下简称突聋)是一种突然发生的原因不明的感觉神经性耳聋，又称暴聋。De Klevn(1944年)首先描述此病，发病率逐年有所增加，1万人中约有10.7人发病，占耳鼻喉科初诊病例的2%。
                </h3>
                <h3>通常仅单耳发生,持续几小时或更短时间的严重感音神经性聋.</h3>
              </li>
               <li>
                 <p>1）突聋伴眩晕的病因:中枢神经系统的血管性意外,但在大量患者中有证据支持病因是由病毒感染所致.突聋倾向于在没有血管疾病证据的儿童和年轻或中年成人中发生.突聋患者的颞骨组织病理学发现,并不像那些在动物实验性栓塞形成或血管阻塞后的内耳改变所见,但近似于人的内耳病毒感染(病毒性内淋巴迷路炎)所导致的突聋,例如腮腺炎和麻疹,流感,水痘和单核细胞增多症的病毒,腺病毒及其他病毒同样可引起突发性聋.</p>
               </li>
               <li>
                 <p>2）突聋伴眩晕的病因不论因何种病毒引起,由病毒性内淋巴迷路炎引起的永久性聋者其病理结果都是相似的.耳蜗基底回的科蒂(Corti)器呈进行性损害,螺旋神经节细胞减少,个别毛细胞趋向消失,血管纹萎缩.盖膜常向上卷曲并套入胞合体.前庭膜可能萎陷并粘于基底膜.</p>
               </li>
               <li>
                 <p>3）突聋伴眩晕的病因由于外界气压的剧变或用力活动如举重,有时会发生内耳与中耳间的外淋巴瘘.圆窗或卵圆窗的瘘管导致突聋或波动性感音性聋和眩晕.在瘘管发生时,患者可感到患耳有爆炸声.联合使用声导抗测计检查耳道内的压力改变和眼震电图可验证外淋巴瘘管的存在情况.改变外耳道的压力而导致眼震可为眼震电图记录,并提示有外淋巴瘘管的存在.</p>
              </li>
              
              <li>             
                 <p>上述对突聋伴眩晕的病因做了详细的分析，希望对大家有所帮助，如果还有其他不清楚的，请联系我们在线专家，或者拨打我们的热线电话，我们竭诚为你服务。</p>
              
               </li>
             </ul>
             <div class="dz">
               <i></i>
               <p>分享到：<a class="QQ"></a><a class="wx"></a><a class="kj"></a><a class="wb"></a><a class="tx"></a><a class="db"></a></p>
             </div>
           </div>
           <div class="disdetails-rt">
             <dl>
               <dt><img src="../../img/comDi-icon4.png"></dt>
               <dd>
                 <h2><img src="../../img/dlp.png"></h2>
                <!--  <p>贵阳彩月是专业的医疗设备生产厂家， 在国内外已享有一定的知名度。</p> -->
               </dd>
             </dl>
             <div class="disdetails-rt-btm">
               <div class="tl"><h2>相关文章<span>更多>></span></h2></div>
               <ul>
                  <!--  <li><a>别把三叉神经痛当牙痛！</a></li>
                  <li><a>节食减肥的女生易口臭</a></li>
                  <li><a>过敏性鼻炎真的没法根治？</a></li>
                  <li><a>冬季治脚气，千万别错过！</a></li>
                  <li><a>糖尿病足，护理不当或截肢！</a></li> -->
               </ul>
             </div>
           </div>
         </div>
       </div>
    </div>
    <%- include('../ejs/footer') %>
</div>
<script  src="../../js/common/jquery.1.11.0.min.js" ></script>
<script  src="../../js/common/common.js" ></script>
</body>
</html>
