<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>健科互联网医疗服务平台</title>
<meta name="keywords" content="your tags" />
<meta name="description" content="150 words" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no;" >
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
  <style>
    html, body,.wapper{
      background:#ffffff;
    }
    .footernav{
      height:20px;
      background:#f9f9f9;
      clear:both;
    }
    .bottomWapper{background:#f9f9f9;margin-top:0;}
    .Bline h4{
      background:#f9f9f9;
    }
    .link h6{
      background:#ffffff;
    }
  </style>
</head>
<body>
<div class="wapper">
    <%- include('../ejs/header') %>
    <div class="mainW disdetails">
       <div class="main">
         <div class="title">
           <h2><a href="/index.html">首页</a> | <a href="../webPage/commonDiseases.html">常见疾病</a> | 良性阵发性位置性眩晕的治疗方法</h2>
         </div>
         <div class="disdetails-main">
           <div class="disdetails-lt">
             <div class="titles">
               <h2>良性阵发性位置性眩晕的治疗方法</h2>
               <p>2016年11月16日【原创】 </p>
             </div>
             <ul>
               <li>
                 <p>一是良性阵发性与未知性眩晕发病率很高，要占全部眩晕病的三分之一,普通人群,年发病率0.6%。二是通过手法复位治疗达到良好的疗效，但是，手法复位难以标准化，是一种粗糙的复位方法。受病人肥胖颈椎病,腰椎病,等限制，只有很有经验的医生才能达到良好的疗效，不易普及应用。</p>
               </li>
               <li>
                 <p>良性阵发性位置性眩晕的治疗方法，一直都是很多眩晕患者梦寐以求的，武警总医院中美眩晕研究所是专业的治疗眩晕的唯一机构，单主任是权威的专家，经过多年的研究，治疗良性阵发性位置性眩晕的最好的方法。</p>
				 <p>症状</p>
				 <p>1.周身情况良好，只在某种体位或头位时发生眩晕、恶心、呕吐等，如变换体位到另侧，好迅速好转，重复某种体位后症状又出现。一般潜伏期2～3秒，持续时间很少超过1分钟，很少有恶心、呕吐、出冷汗现象，更少发生倾倒。</p>
				 <p>2.眩晕发作中无耳鸣、耳聋现象，已有的耳蜗症状亦不加重。</p>
				 <p>3.病情多在数周或数月内行缓解，个别人也可待续到数年。</p>
				 <p>4.病期中不头痛，亦无其他中枢神经体征。</p>
				 <p>治疗</p>
				 <p>本题组历时3年自主设计研制成功全自动化良性阵发性位置眩晕诊断治疗系统，获得了8次全军科技进步奖，于2010年10月通过首都医学会.在国际处于连线地位,国内尚属首创。</p>
				 <p>该治疗实现BPPV全自动化诊断与复位,在计算机指导下，使人体边三维运动，速度范围：0-180°/S，加速范围：0-120°/S。用无线视频眼罩获取眼震信号，在井陉自动化分析，使诊断复位规范化,自动化。</p>
				 <p>实现了任意一个半规管360°翻滚复位.真正把人体的每个半规管置于与地面垂直的位置，按照自然轴承，达到更合理的复位并且已经过临床应用,达到良好的效果。</p>
				 <p>首次将垂直半规管功能检测应用于联创.建立了国人垂直半规管功能检测的正常值。该系统经过临床应用达在检测前庭功能方面具有诸多优越性，同时在BPPV的诊断和治疗上创造了新的方法。另外该系统可以为前庭功能科学研究及前庭康复训练搭建了良好的平台具有良好的社会效益和经济效益,对治疗我国眩晕病症提高工作水平具有重要意义。</p>
             </ul>
             <div class="dz">
               <i></i>
               <p>分享到：<a class="QQ"></a><a class="wx"></a><a class="kj"></a><a class="wb"></a><a class="tx"></a><a class="db"></a></p>
             </div>
           </div>
           <div class="disdetails-rt">
             <dl>
               <dt><img src="../../img/comDi-icon4.png"></dt>
               <dd>
                 <h2><img src="../../img/dlp.png"></h2>
                <!--  <p>贵阳彩月是专业的医疗设备生产厂家， 在国内外已享有一定的知名度。</p> -->
               </dd>
             </dl>
             <div class="disdetails-rt-btm">
               <div class="tl"><h2>相关文章<span>更多>></span></h2></div>
               <ul><!--
                   <li><a>别把三叉神经痛当牙痛！</a></li>
                   <li><a>节食减肥的女生易口臭</a></li>
                   <li><a>过敏性鼻炎真的没法根治？</a></li>
                   <li><a>冬季治脚气，千万别错过！</a></li>
                   <li><a>糖尿病足，护理不当或截肢！</a></li>
				   -->
               </ul>
             </div>
           </div>
         </div>
       </div>
    </div>
    <%- include('../ejs/footer') %>
</div>
<script  src="../../js/common/jquery.1.11.0.min.js" ></script>
<script  src="../../js/common/common.js" ></script>
</body>
</html>
