<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>健科互联网医疗服务平台</title>
<meta name="keywords" content="your tags" />
<meta name="description" content="150 words" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no;" >
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <style>
        html, body,.wapper{
            background:#ffffff;
        }
        .footernav{
            height:20px;
            background:#f9f9f9;
            clear:both;
        }
        .bottomWapper{background:#f9f9f9;margin-top:0;}
        .Bline h4{
            background:#f9f9f9;
        }
        .link h6{
            background:#ffffff;
        }
    </style>
</head>
<body>
<div class="wapper">
    <%- include('../ejs/header') %>
    <div class="mainW disdetails">
       <div class="main">
         <div class="title">
           <h2><a href="/index.html">首页</a> | <a href="../webPage/commonDiseases.html">常见疾病</a> | 眩晕病的基本诊断方法</h2>
         </div>
         <div class="disdetails-main">
           <div class="disdetails-lt">
             <div class="titles">
               <h2>眩晕病的基本诊断方法</h2>
               <p>2016年11月16日【原创】 </p>
             </div>
             <ul>
               <li>
                 <p>一、病史提问</p>
                 <p>1、应着重了解头晕的性质，真性眩晕有明显的自身或他物旋转感、倾倒感或视物摇晃不稳：呈阵发性，伴有眼震、平衡失调、站立不稳、指物偏斜及恶心、呕吐、面色苍白、出汗、脉搏血压改变等植物神经症状。头昏常为头重脚轻、眼花等，并无外境或自身旋转的运动幻觉，可由心血管系统疾病、全身中毒、代谢性疾病、眼病、贫血等疾患引起。</p>
				 <p>2、应鉴别眩晕为中枢性或外周性，一般前庭外周性眩晕的植物神经症状明显、眼震多为水平性眼震、无神经系统体征，而中枢性的植物神经症状轻或不明显，多有脑干、小脑或顶颞叶损害的症状。</p>
				 <p>3、应了解头晕的诱因和伴发症状：耳源性眩晕常伴有耳鸣和听力减退，常见于美尼埃病、急性迷路炎、内耳损伤、鼓膜内陷或受压及耳石和前庭终末感受器病变(如颅脑外伤、噪音性损伤、药物中毒及椎一基底动脉缺血引起的半规管壶腹的退行性变等);小脑桥脑角病变伴有Ⅴ、Ⅶ、Ⅸ、Ⅹ脑神经和锥体束等症状;前庭神经元炎多有上呼吸道或消化道感染诱因，而无听力改变;椎一基底动脉短暂缺血发作多因头位改变诱发，同时伴有复视、视物变形、头面和肢体麻木感、晕厥、猝倒等症状;眩晕性癫痫发作时，可伴有意识丧失、癫痫大发作或其它癫痫症状占位病变、炎症、变性和脱髓鞘病变所致中枢性眩晕，常伴有脑干、小脑或顶颞叶损害体征。</p>
				 <p>二、查体发现</p>
				 <p>1、神经科方面：除一般的神经系统检查外，特别应注意有无自发性眼震、共济失调、听力障碍、眼底水肿及颅内压增高征。</p>
				 <p>2、内科方面：应检查有无高血压、低血压、心律不齐、心力衰竭，有无贫血、全身感染、中毒、代谢紊乱等。</p>
				 <p>3、耳科方面：应检查外耳道 、鼓膜、中耳、鼻咽部，注意有无盯聍阻塞外耳道，有无胆脂瘤性中耳炎及耳硬化症。</p>
				 <p>4、音叉试验了解听力情况、听力障碍的性质及程度。</p>
				 <p>三、辅助检查</p>
				 <p>头颅X线摄片、脑电图、脑血流图、胸片、TCD、头颅CT及磁共振成像检查等，对头晕的病因诊断具有重要价值。疑为颈椎病者需作颈椎正、侧、斜位等X线摄片检查。变温试验、指物偏向、直流电试验、位置试验及眼震电图等前庭功能检查有助于眩晕症的定位定性诊断。</p>
               </li>
             </ul>
             <div class="dz">
               <i></i>
               <p>分享到：<a class="QQ"></a><a class="wx"></a><a class="kj"></a><a class="wb"></a><a class="tx"></a><a class="db"></a></p>
             </div>
           </div>
           <div class="disdetails-rt">
             <dl>
               <dt><img src="../../img/comDi-icon4.png"></dt>
               <dd>
                 <h2><img src="../../img/dlp.png"></h2>
                <!--  <p>贵阳彩月是专业的医疗设备生产厂家， 在国内外已享有一定的知名度。</p> -->
               </dd>
             </dl>
             <div class="disdetails-rt-btm">
               <div class="tl"><h2>相关文章<span>更多>></span></h2></div>
               <ul>
                   <li><a>别把三叉神经痛当牙痛！</a></li>
                   <li><a>节食减肥的女生易口臭</a></li>
                   <li><a>过敏性鼻炎真的没法根治？</a></li>
                   <li><a>冬季治脚气，千万别错过！</a></li>
                   <li><a>糖尿病足，护理不当或截肢！</a></li>
               </ul>
             </div>
           </div>
         </div>
       </div>
    </div>
    <%- include('../ejs/footer') %>
</div>
<script  src="../../js/common/jquery.1.11.0.min.js" ></script>
<script  src="../../js/common/common.js" ></script>
</body>
</html>
