<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>健科互联网医疗服务平台</title>
<meta name="keywords" content="your tags" />
<meta name="description" content="150 words" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no;" >
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
  <style>
    html, body,.wapper{
      background:#ffffff;
    }
    .footernav{
      height:20px;
      background:#f9f9f9;
      clear:both;
    }
    .bottomWapper{background:#f9f9f9;margin-top:0;}
    .Bline h4{
      background:#f9f9f9;
    }
    .link h6{
      background:#ffffff;
    }
  </style>
</head>
<body>
<div class="wapper">
    <%- include('../ejs/header') %>
    <div class="mainW disdetails">
       <div class="main">
         <div class="title">
           <h2><a href="/index.html">首页</a> | <a href="../webPage/commonDiseases.html">常见疾病</a> | 认识良性阵发性位置性眩晕</h2>
         </div>
         <div class="disdetails-main">
           <div class="disdetails-lt">
             <div class="titles">
               <h2>认识良性阵发性位置性眩晕</h2>
               <p>2016年11月16日【原创】 </p>
             </div>
             <ul>
               <li>
                 <p>在医学科学高度发展的今天，人们对各种疾病的研究越来越专业化。各学科领域的发展，使得疾病诊治的新理论、新技术远远超过教科书的内容。因此，将各学科疾病诊治的新进展，通过科普化的方式进行宣传、推广，有助于提高患者对自身疾病的认知，有助于非本学科医生知识的更新。这样，当某一种疾病被揭开面纱之后，将不再神秘，如良性阵发性位置性眩晕，通过简单的方法，我们不仅能够明确的诊断它，而且能够完全的治愈它。</p>
                 <p>什么是良性阵发性位置性眩晕?良性阵发性位置性眩晕是指当头位快速移动至某一特定的位置时激发的短暂的、阵发性眩晕与水平型或旋转型眼震。所谓良性，就是可治疗、可自愈;所谓阵发性、位置性，是指头晕的发作时间短暂，并且与头颈转动有关。大部分患者发病表现为休息、或起床时，在床上向某一方向翻身，引起天旋地转，伴恶心、呕吐，必须保持强迫睡姿;有的患者起床或后仰倒床时发作，行走时正常。头晕发作时间短暂，几秒钟或几十秒钟，很少超过一分钟。</p>
				 <p>良性阵发性位置性眩晕是怎样引起的?人类之所以能够正常活动，是因为在双侧的耳内有调节身体平衡的器官。其中重要的结构之一就是球囊、椭圆囊。因为在球囊、椭圆囊结构内有感受重心变化的碳酸钙盐结晶，形状像石头，故后者称为耳石，前者称为耳石器。有的医生把由于耳石器病变引发的眩晕称为耳石症。良性阵发性位置性眩晕发病原因还在探讨中，有人认为和耳石器中的耳石脱落有关。由于头部外伤、或者年老局部结构退化，耳石器内的耳石从原来的位置上脱落，移位到了别的平衡结构内，头位变动时，引起眩晕。就像儿童手里玩的滚珠迷宫，在迷宫内，滚珠无序游动，导致平衡失调。医生治疗就是通过手法转动，将在迷宫道中滚动的滚珠回到原来的位置上去，恢复平衡。</p>
				 <p>什么样的人易患良性阵发性位置性眩晕?由于现在生活丰富多彩，各种活动中，头部的轻微碰撞，都可能日后出现良性阵发性位置性眩晕。电脑的普及和广泛应用，使长期伏案工作的人成为危险人群，但引发的原因不明;社会老年化日益加剧，老年人耳器官功能减退，使得相当一部分老年人的眩晕是由于良性阵发性位置性眩晕引起的。因此，得此病的人很多，往往占医院门诊眩晕病人总数一半以上。由于手法治疗有效，许多患者完全康复后，对治疗非常满意、感到医生非常神奇。</p>
				 <p>良性阵发性位置性眩晕应该和什么疾病鉴别?可是由于大多数人对它认识不足，且药物治疗无效，往往被认为是难治性颈椎病、梅尼埃病、脑供血不足。良性阵发性位置性眩晕特点是：与固定方向的头位变化有关，时间很短，短于一分钟，有经验的医生通过检查可以发现特殊的眼球运动变化。有的颈椎病病人的眩晕表现和良性阵发性位置性眩晕非常相似，颈椎的影像学检查可以帮助排除。梅尼埃病除了眩晕外还伴有耳聋、耳鸣、耳闷，而一般的良性阵发性位置性眩晕仅是眩晕，无耳聋、耳鸣、耳闷。脑供血不足(循环障碍)除了眩晕外，还有复视，共济失调表现，由于脑血管疾病急、重，有可能危及生命，而且许多病人发病时症状不典型，极易误诊。此外，有些脑肿瘤病人早期症状和良性阵发性位置性眩晕相同，应该高度警惕。因此，对于良性阵发性位置性眩晕的诊治，耳科医生必须知识全面。面对典型的、与位置变化相关的眩晕，而本专业又无法解释、治疗无效时，神经内科、骨科医生应该考虑排除良性阵发性位置性眩晕。</p>
				 <p>患有良性阵发性位置性眩晕的病人应该怎么办?病人一旦得病，应该到有经验的、治疗眩晕的专科医生那里去诊治。首先，良性阵发性位置性眩晕疾病本身不会危及生命，但是其他疾病，尤其脑血管疾病一旦误诊为良性阵发性位置性眩晕，病情被耽误，病人有可能错失抢救时机。其次，耳石脱落在不同的位置，需要采用不同的手法，进行复位。有经验的医生通过检查，可以做出正确的判断。选用正确的手法治疗，使治疗变的简单、有效。对于没有经过正规培训的医生，错误的方法和粗暴的操作，有可能导致患者耳石异位、眩晕加重，对于有颈椎病的患者，不仅可以引起大小便失禁、瘫痪，甚者危及生命。</p>
               </li>
             </ul>
             <div class="dz">
               <i></i>
               <p>分享到：<a class="QQ"></a><a class="wx"></a><a class="kj"></a><a class="wb"></a><a class="tx"></a><a class="db"></a></p>
             </div>
           </div>
           <div class="disdetails-rt">
             <dl>
               <dt><img src="../../img/comDi-icon4.png"></dt>
               <dd>
                 <h2><img src="../../img/dlp.png"></h2>
                 <!-- <p>贵阳彩月是专业的医疗设备生产厂家， 在国内外已享有一定的知名度。</p> -->
               </dd>
             </dl>
             <div class="disdetails-rt-btm">
               <div class="tl"><h2>相关文章<span>更多>></span></h2></div>
               <ul>
					<!--
                   <li><a>别把三叉神经痛当牙痛！</a></li>
                   <li><a>节食减肥的女生易口臭</a></li>
                   <li><a>过敏性鼻炎真的没法根治？</a></li>
                   <li><a>冬季治脚气，千万别错过！</a></li>
                   <li><a>糖尿病足，护理不当或截肢！</a></li>
				   -->
               </ul>
             </div>
           </div>
         </div>
       </div>
    </div>
    <%- include('../ejs/footer') %>
</div>
<script  src="../../js/common/jquery.1.11.0.min.js" ></script>
<script  src="../../js/common/common.js" ></script>
</body>
</html>
