<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>健科互联网医疗服务平台</title>
<meta name="keywords" content="your tags" />
<meta name="description" content="150 words" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no;" >
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <style>
        html, body,.wapper{
            background:#ffffff;
        }
        .footernav{
            height:20px;
            background:#f9f9f9;
            clear:both;
        }
        .bottomWapper{background:#f9f9f9;margin-top:0;}
        .Bline h4{
            background:#f9f9f9;
        }
        .link h6{
            background:#ffffff;
        }
    </style>
</head>
<body>
<div class="wapper">
    <%- include('../ejs/header') %>
    <div class="mainW disdetails">
       <div class="main">
         <div class="title">
           <h2><a href="/index.html">首页</a> | <a href="../webPage/commonDiseases.html">常见疾病</a> | 如何诊断良性阵发性位置性眩晕</h2>
         </div>
         <div class="disdetails-main">
           <div class="disdetails-lt">
             <div class="titles">
               <h2>如何诊断良性阵发性位置性眩晕</h2>
               <p>2016年11月16日【原创】 </p>
             </div>
             <ul>
               <li>
                 <p>良性阵发性位置性眩晕(benign positional paroxysmal vertigo , BPPV)是一种临床上常见的周围性前庭疾病，是最常见的源于内耳的眩晕病。当头部运动到某一特定位置时可诱发短暂的眩晕，并伴有眼震和自主神经症状。可见于各年龄段，老年人多见。该病具有自限性。最常累及的半规管为后半规管(占80%～90%)，其次为外半规管(占10%)，最少受累的是上半规管(占2%)。</p>
                 <p>Schuknecht(1962年)病理检查3例椭圆囊、球囊和壶腹嵴顶感觉上皮正常，只有后半规管壶腹嵴有嗜碱性颗粒沉着，可能是产生重力刺激敏感的诱因，故称为壶腹嵴顶耳石症。</p>
				 <p>【临床表现】</p>
				 <p>1.周身情况良好，只在某种体位或头位时发生眩晕、恶心、呕吐等，如变换体位到另侧，好迅速好转，重复某种体位后症状又出现。一般潜伏期2～3秒，持续时间很少超过1分钟，很少有恶心、呕吐、出冷汗现象，更少发生倾倒。</p>
				 <p>2.眩晕发作中无耳鸣、耳聋现象，已有的耳蜗症状亦不加重。</p>
				 <p>3.病情多在数周或数月内行缓解，个别人也可待续到数年。</p>
				 <p>4.病期中不头痛，亦无其他中枢神经体征。</p>
				 <p>【诊断】</p>
				 <p>1.头位性眼震检查：令患者坐床上，先仰卧垂头位，观察10秒无眩晕及眼震后，令坐起再观察10秒，再令头侧向一方仰卧，观察10秒，再仰卧垂头向另一方，观察10秒，每次变动体位、坐起及躺倒均应在3秒钟内完成，如在某体位时出现眼震，应持续观察30秒，如眼震持续不消失即为试验阳性。如右耳向下时旋转眼震向右，眼向左侧凝视则出现垂直性眼震，反复试验均为阳性，称为非疲劳型;反之，反复测试不再出现眼震，称为疲劳型。在不同头位出现的眼震方向不变称为定向型;如出现不同方向的眼震则称为变向型。凡眼震在单向头位出现，持续时间较短，有潜伏期，定向型有疲劳反应者，多是周围性病变;反之多属中枢性病变。视跟踪及视动等其他试验一般均正常。</p>
				 <p>2.冷热变温等前庭功能试验正常。</p>
				 <p>3.纯音听力测试多正常。</p>
				 <p>良性阵发性位置性眩晕诊断过程中，病史采集非常重要，详细完整的病史能够凸现BPPV的特点，患者会叙述在某个特定体位，如躺下、坐起、仰头取物，低头、转动头部或翻身时出现短暂眩晕。临床上遇到有这类主诉患者时，就要进行变位试验，有条件的医院，变位试验最好在视频眼震图上进行观察，变位试验是诊断BPPV，尤其是诊断后半规管BPPV的金标准。</p>
				 <p>在这里，武警总医院中美眩晕研究所专家指出，如果发现眩晕症状，一定要及时治疗，切莫延误病情，眩晕病对患者的心理影响非常大，如果长时期的眩晕，会对患者造成很大的伤害。</p>
               </li>
             </ul>
             <div class="dz">
               <i></i>
               <p>分享到：<a class="QQ"></a><a class="wx"></a><a class="kj"></a><a class="wb"></a><a class="tx"></a><a class="db"></a></p>
             </div>
           </div>
           <div class="disdetails-rt">
             <dl>
               <dt><img src="../../img/comDi-icon4.png"></dt>
               <dd>
                 <h2><img src="../../img/dlp.png"></h2>
                <!--  <p>贵阳彩月是专业的医疗设备生产厂家， 在国内外已享有一定的知名度。</p> -->
               </dd>
             </dl>
             <div class="disdetails-rt-btm">
               <div class="tl"><h2>相关文章<span>更多>></span></h2></div>
               <ul>
                  <!--  <li><a>别把三叉神经痛当牙痛！</a></li>
                  <li><a>节食减肥的女生易口臭</a></li>
                  <li><a>过敏性鼻炎真的没法根治？</a></li>
                  <li><a>冬季治脚气，千万别错过！</a></li>
                  <li><a>糖尿病足，护理不当或截肢！</a></li> -->
               </ul>
             </div>
           </div>
         </div>
       </div>
    </div>
    <%- include('../ejs/footer') %>
</div>
<script  src="../../js/common/jquery.1.11.0.min.js" ></script>
<script  src="../../js/common/common.js" ></script>
</body>
</html>
