<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>健科互联网医疗服务平台</title>
<meta name="keywords" content="your tags" />
<meta name="description" content="150 words" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no;" >
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
  <style>
    html, body,.wapper{
      background:#ffffff;
    }
    .footernav{
      height:20px;
      background:#f9f9f9;
      clear:both;
    }
    .bottomWapper{background:#f9f9f9;margin-top:0;}
    .Bline h4{
      background:#f9f9f9;
    }
    .link h6{
      background:#ffffff;
    }
  </style>
</head>
<body>
<div class="wapper">
    <%- include('../ejs/header') %>
    <div class="mainW disdetails">
       <div class="main">
         <div class="title">
           <h2><a href="/index.html">首页</a> | <a href="../webPage/commonDiseases.html">常见疾病</a> | 颈源性眩晕的症状有哪些？</h2>
         </div>
         <div class="disdetails-main">
           <div class="disdetails-lt">
             <div class="titles">
               <h2>颈源性眩晕的症状有哪些？</h2>
               <p>2016年11月16日【原创】</p>
             </div>
             <ul>
               <li>
                 <h3>颈源性眩晕的症状有哪些?大部分患者一想到颈源性眩晕就会对颈源性眩晕的症状感到迷惑，下面武警总医院中美眩晕病研究所针对颈源性眩晕的症状做了详细的介绍，希望对大家有所帮助。</h3>               
               </li>
               <li>
                 <h3>针对患者对颈源性眩晕的症状不太了解，武警总医院中美眩晕病研究所专家针对眩晕病做一下解析：</h3>
                 <p>1）眩晕为主要症状，出现率高达90%,半数以上病人伴有耳鸣，三分之一病人，有渐进性听力下降，</p>
                 <p>2）头痛，出现率为百分之六十到八十，头痛成发作性跳痛，多局限于颈枕部。重者伴有恶心呕吐，出汗，流涎等，自主神经症状</p>
                 <p>3）视觉症状，可有视觉先兆，眼前一过向黑蒙或闪光，视力减退，一过性视野缺损等。</p>
                 <p>4）颈神经根症状，部分患者可有上肢串行性麻木，或感觉异常，枕后或耳部神经压痛，颈部活动受限。</p>
               </li>
               <li>
                 <h3>颈源性眩晕的症状有哪些?还有：</h3>
                 <p>5 、意识障碍，少数患者可发生头颈转动时，意识障碍，可伴有：口周麻木，肌张力低下，甚至猝倒，意识障碍可以持续十到十五分钟，少数病人可达两到三个小时。</p>
                 <p>上述对颈源性眩晕的症状有哪些?做了详细的分析，希望对大家有所帮助，在这里，武警总医院中美眩晕病研究所祝福大家早日摆脱眩晕病的困扰，恢复正常生活。</p> 
               </li>
             </ul>
             <div class="dz">
               <i></i>
               <p>分享到：<a class="QQ"></a><a class="wx"></a><a class="kj"></a><a class="wb"></a><a class="tx"></a><a class="db"></a></p>
             </div>
           </div>
           <div class="disdetails-rt">
             <dl>
               <dt><img src="../../img/comDi-icon4.png"></dt>
               <dd>
                 <h2><img src="../../img/dlp.png"></h2>
                 <!-- <p>贵阳彩月是专业的医疗设备生产厂家， 在国内外已享有一定的知名度。</p> -->
               </dd>
             </dl>
             <div class="disdetails-rt-btm">
               <div class="tl"><h2>相关文章<span>更多>></span></h2></div>
               <!-- <ul>
                   <li><a>别把三叉神经痛当牙痛！</a></li>
                   <li><a>节食减肥的女生易口臭</a></li>
                   <li><a>过敏性鼻炎真的没法根治？</a></li>
                   <li><a>冬季治脚气，千万别错过！</a></li>
                   <li><a>糖尿病足，护理不当或截肢！</a></li>
               </ul> -->
             </div>
           </div>
         </div>
       </div>
    </div>
    <%- include('../ejs/footer') %>
</div>
<script  src="../../js/common/jquery.1.11.0.min.js" ></script>
<script  src="../../js/common/common.js" ></script>
</body>
</html>
