<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>健科互联网医疗服务平台</title>
<meta name="keywords" content="your tags" />
<meta name="description" content="150 words" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no;" >
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
  <style>
    html, body,.wapper{
      background:#ffffff;
    }
    .footernav{
      height:20px;
      background:#f9f9f9;
      clear:both;
    }
    .bottomWapper{background:#f9f9f9;margin-top:0;}
    .Bline h4{
      background:#f9f9f9;
    }
    .link h6{
      background:#ffffff;
    }
  </style>
</head>
<body>
<div class="wapper">
    <%- include('../ejs/header') %>
    <div class="mainW disdetails">
       <div class="main">
         <div class="title">
           <h2><a href="/index.html">首页</a> | <a href="../webPage/commonDiseases.html">常见疾病</a> | 偏头痛伴眩晕的病因</h2>
         </div>
         <div class="disdetails-main">
           <div class="disdetails-lt">
             <div class="titles">
               <h2>偏头痛伴眩晕的病因</h2>
               <p>2016年11月16日【原创】 </p>
             </div>
             <ul>
               <li>
                 <p>偏头痛的原因非常多，感冒发热、五官有毛病、血压异常、头部有障碍、贫血、便秘、煤气中毒、酒精中毒、神经疲劳等都会引起头疼。</p>
                 <p>偏头痛可能是脑膜受到了刺激，血管收缩使张力增加引起的，也可能是脑部提醒我们氧气不足，需要更多氧气的信号。民众健康专家早餐只要含着许多氧气的血液流入到疼痛的地方，头疼就会立刻消失。不过必须找到头疼是什么原因造成的，才能解决头疼的问题。</p>
				 <p>物理因素：能引起颅内外炎症、损伤的各种原因;因肿物压迫等原因导致血管牵引、伸展、移位、扩张;脑膜受刺激;肌肉收缩;直接刺激支配头面部的感觉神经等，都能引起头痛。</p>
				 <p>神经精神因素：当身心受到外界环境的不良刺激时，往往会产生忧虑、焦虑等情绪，从而导致偏头痛的发作。据调查，有84%的忧郁症患者都会伴有偏</p>
				 <p>偏头痛症状。同时在生活或工作中遇到种种不愉快或是生气、焦急、激动等剧烈的情绪刺激后会感到全身不适，偏头痛。</p>
				 <p>饮食因素：食用过量咖啡，会使血管扩张而刺激神经引发偏头痛;而当吃下过凉的冰淇淋时也会感到头疼;饮酒过多后酒精中的乙醇作用于血管，同样会造成头疼，这些都是由饮食不当而引发的头疼。专家统计出容易诱发头痛的食物排行分别是：巧克力，酒精饮料、生乳制品、柠檬汁、奶酪、红酒。</p>
				 <p>疾病因素：眼、耳、鼻及鼻窦、牙齿、颈部等病变可刺激神经，反射性或扩散性的影响</p>
				 <p>上述是武警总医院中美眩晕病研究所专家介绍的病因，希望对大家有所帮助，如果还有疑问，请联系我们的在线专家或者拨打我们的热线电话，我们竭诚为大家服务。</p>
				 
               </li>
             </ul>
             <div class="dz">
               <i></i>
               <p>分享到：<a class="QQ"></a><a class="wx"></a><a class="kj"></a><a class="wb"></a><a class="tx"></a><a class="db"></a></p>
             </div>
           </div>
           <div class="disdetails-rt">
             <dl>
               <dt><img src="../../img/comDi-icon4.png"></dt>
               <dd>
                 <h2><img src="../../img/dlp.png"></h2>
                 <!-- <p>贵阳彩月是专业的医疗设备生产厂家， 在国内外已享有一定的知名度。</p> -->
               </dd>
             </dl>
             <div class="disdetails-rt-btm">
               <div class="tl"><h2>相关文章<span>更多>></span></h2></div>
               <ul>
					<!--
                   <li><a>别把三叉神经痛当牙痛！</a></li>
                   <li><a>节食减肥的女生易口臭</a></li>
                   <li><a>过敏性鼻炎真的没法根治？</a></li>
                   <li><a>冬季治脚气，千万别错过！</a></li>
                   <li><a>糖尿病足，护理不当或截肢！</a></li>
				   -->
               </ul>
             </div>
           </div>
         </div>
       </div>
    </div>
    <%- include('../ejs/footer') %>
</div>
<script  src="../../js/common/jquery.1.11.0.min.js" ></script>
<script  src="../../js/common/common.js" ></script>
</body>
</html>
