<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>健科互联网医疗服务平台</title>
<meta name="keywords" content="your tags" />
<meta name="description" content="150 words" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no;" >
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <style>
        html, body,.wapper{
            background:#ffffff;
        }
        .footernav{
            height:20px;
            background:#f9f9f9;
            clear:both;
        }
        .bottomWapper{background:#f9f9f9;margin-top:0;}
        .Bline h4{
            background:#f9f9f9;
        }
        .link h6{
            background:#ffffff;
        }
    </style>
</head>
<body>
<div class="wapper">
    <%- include('../ejs/header') %>
    <div class="mainW disdetails">
       <div class="main">
         <div class="title">
           <h2><a href="/index.html">首页</a> | <a href="../webPage/commonDiseases.html">常见疾病</a> | 偏头痛性眩晕的诊断及检查</h2>
         </div>
         <div class="disdetails-main">
           <div class="disdetails-lt">
             <div class="titles">
               <h2>偏头痛性眩晕的诊断及检查</h2>
               <p>2016年11月16日【原创】 </p>
             </div>
             <ul>
               <li>
                 <p>引起偏头痛性眩晕的病因很多，而且偏头痛性眩晕得诊断及检查也是多种多样，下面请武警总医院中美眩晕病研究所专家为大家做详细的分析。</p>
                 <p>偏头痛性眩晕的诊断及检查如下：</p>
				 <p>偏头痛性眩晕检查标准：</p>
				 <p>1.病史及耳、神经系统、血液检查、排除其他眩晕疾病;</p>
				 <p>2.过去或现在曾按偏头痛的诊断标准确诊为偏头痛，或者虽未诊断过偏头痛，但有过偏头痛病史，且有偏头痛家族史，有过运动病病史，或有典型偏头痛视觉先兆。</p>
				 <p>3.患者有偏头痛家族史，或者晕车史对偏头痛眩晕的诊断有一定的参考价值。</p>
				 <p>4.多数病人冷热试验和旋转试验都会有异常。</p>
				 <p>诊断标准：</p>
				 <p>第一：至少中重度发作性前庭症状</p>
				 <p>第二：偏头痛病史满足国际头痛协会诊断标准————无先兆偏头痛诊断标准(1)符合(2)～(4)特征的至少5次发作。</p>
				 <p>(2)头痛发作(未经治疗或治疗无效)持续4～72小时。</p>
				 <p>(3)至少有下列中的2项头痛特征：①单侧性;②搏动性;③中或重度头痛;④日常活动(如步行或上楼梯)会加重头痛，或头痛时会主动避免此类活动。</p>
				 <p>(4)头痛过程中至少伴有下列1项：①恶心和(或)呕吐;②畏光和畏声。</p>
				 <p>(5)不能归因于其他疾玻伴典型先兆的偏头痛性头痛诊断</p>
				 <p>第三：有两次或两次以上的眩晕发作时伴有以下至少一种偏头痛性症状：</p>
				 <p>偏头痛性头痛畏光、畏声、视觉或其他先兆</p>
				 <p>第四： 经适当检查，排除其他眩晕疾病</p>
				 <p>上述对偏头痛性眩晕的诊断及检查标准做了详细的分析，希望对大家有所帮助，如果还有疑问，请联系我们在线专家，我们竭诚为你服务。</p>
               </li>
             </ul>
             <div class="dz">
               <i></i>
               <p>分享到：<a class="QQ"></a><a class="wx"></a><a class="kj"></a><a class="wb"></a><a class="tx"></a><a class="db"></a></p>
             </div>
           </div>
           <div class="disdetails-rt">
             <dl>
               <dt><img src="../../img/comDi-icon4.png"></dt>
               <dd>
                 <h2><img src="../../img/dlp.png"></h2>
                <!--  <p>贵阳彩月是专业的医疗设备生产厂家， 在国内外已享有一定的知名度。</p> -->
               </dd>
             </dl>
             <div class="disdetails-rt-btm">
               <div class="tl"><h2>相关文章<span>更多>></span></h2></div>
               <ul>
                  <!--  <li><a>别把三叉神经痛当牙痛！</a></li>
                  <li><a>节食减肥的女生易口臭</a></li>
                  <li><a>过敏性鼻炎真的没法根治？</a></li>
                  <li><a>冬季治脚气，千万别错过！</a></li>
                  <li><a>糖尿病足，护理不当或截肢！</a></li> -->
               </ul>
             </div>
           </div>
         </div>
       </div>
    </div>
    <%- include('../ejs/footer') %>
</div>
<script  src="../../js/common/jquery.1.11.0.min.js" ></script>
<script  src="../../js/common/common.js" ></script>
</body>
</html>
