<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>健科互联网医疗服务平台</title>
<meta name="keywords" content="your tags" />
<meta name="description" content="150 words" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no;" >
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
  <style>
    html, body,.wapper{
      background:#ffffff;
    }
    .footernav{
      height:20px;
      background:#f9f9f9;
      clear:both;
    }
    .bottomWapper{background:#f9f9f9;margin-top:0;}
    .Bline h4{
      background:#f9f9f9;
    }
    .link h6{
      background:#ffffff;
    }
  </style>
</head>
<body>
<div class="wapper">
    <%- include('../ejs/header') %>
    <div class="mainW disdetails">
       <div class="main">
         <div class="title">
           <h2><a href="/index.html">首页</a> | <a href="../webPage/commonDiseases.html">常见疾病</a> | 偏头痛引起眩晕</h2>
         </div>
         <div class="disdetails-main">
           <div class="disdetails-lt">
             <div class="titles">
               <h2>偏头痛引起眩晕</h2>
               <p>2016年11月16日【原创】 </p>
             </div>
             <ul>
               <li>
                 <p>普通型偏头痛(无先兆症状性偏头痛)：是最常见的偏头痛类型，占偏头痛病人的80%以上。 先兆症状可有可无，若有先兆也只是短暂而轻微的看东西模糊。头痛进行的方式与典型偏头痛相同，但常左右不定，性质为搏动性，头痛可因体力活动而加重。有时从两侧开始。头痛持续的时间较长，一般持续1 ～3天，偏头痛引起头晕也可数日，也伴有恶心、呕吐、出汗等症状。常有家族史。在女性，头痛有时与月经周期有关，则称之''''月经型偏头痛典型偏头痛：(有先兆症状性偏头痛) 临床表现为反复发作的偏头痛，有以下特点：头痛发作之前有最常见的、典型的视觉先兆，多在头痛前20～30分钟出现一些闪烁的暗点、火星般的亮光、“W” 状闪光、"眼前冒金星"或偏盲(一侧看不见)。这些症状往往发生在一侧的视野内，在头痛到来之前发展到最高峰，然后消失。少见的先兆可有偏身麻木、面部针刺样感觉、偏瘫或说不出活。</p>
                 <p>先兆消失后很快出现偏头痛，偏头痛引起头晕一般先从一侧额颞部(太阳穴周围)或眼眶周围开始，少数可从顶、枕部开始，逐渐扩散到半个头或整个头部，头痛逐渐加重，由钝痛到钻痛性或搏动性痛(跳痛)。多固定在一侧，也可以两侧。用手指按压局部跳动剧烈的血管时可使头痛减轻。头痛时伴有面色苍白、恶心、呕吐等植物性神经症状。此时病人非常疲乏，明显地畏光、怕声响，喜欢一个人静卧在暗室内。每次头痛持续的时间多为几小时至十余小时.少数人可持续1～2天，常常是睡一觉后完全恢复正常。</p>
				 <p>脑血流图、多普勒超声检查多有异常发现，可帮助有典型先兆的偏头痛：包括眼型偏头痛，偏瘫型偏头痛，失语型偏头痛等。至少出现过2次上述典型发作，排除器质性疾患后诊断方可成有延长先兆的偏头痛(复杂型偏头痛)：症状同(1)。先兆在头痛发作过程仍持久存在，延续时间超过1小时而不到1周。神经影像学检查不能发现有颅内结构病损基底型偏头痛(原称基底动脉偏头痛)：有明确起源于脑干或双侧枕叶的先兆症状，如失明、双眼颞侧和鼻侧视野都有的视觉症状、构音障碍、眩晕、耳鸣、听力减退、复视、共济失调、偏头痛引起头晕双侧性感觉异常、双侧轻瘫或精神错乱等。</p>
				 <p>多在数分钟至1小时内消失，偏头痛引起头晕继而出现双侧枕区搏动性头痛不伴头痛的偏头痛先兆(偏头痛等位发作)：出现见于偏头痛发作的各种先兆症状，但有时并不随后出现头痛。当病人年龄渐老，头痛可完全消失而依然有发作性先兆症状，偏头痛引起头晕但完全表现为先兆症状而无头痛者则较少。40岁后首次发病者需作深入检查，除外血栓栓塞性TIA眼肌麻痹型偏头痛： 极少见</p>
               </li>
             </ul>
             <div class="dz">
               <i></i>
               <p>分享到：<a class="QQ"></a><a class="wx"></a><a class="kj"></a><a class="wb"></a><a class="tx"></a><a class="db"></a></p>
             </div>
           </div>
           <div class="disdetails-rt">
             <dl>
               <dt><img src="../../img/comDi-icon4.png"></dt>
               <dd>
                 <h2><img src="../../img/dlp.png"></h2>
                 <!-- <p>贵阳彩月是专业的医疗设备生产厂家， 在国内外已享有一定的知名度。</p> -->
               </dd>
             </dl>
             <div class="disdetails-rt-btm">
               <div class="tl"><h2>相关文章<span>更多>></span></h2></div>
               <ul>
                  <!--
                   <li><a>别把三叉神经痛当牙痛！</a></li>
                   <li><a>节食减肥的女生易口臭</a></li>
                   <li><a>过敏性鼻炎真的没法根治？</a></li>
                   <li><a>冬季治脚气，千万别错过！</a></li>
                   <li><a>糖尿病足，护理不当或截肢！</a></li>
				   -->
               </ul>
             </div>
           </div>
         </div>
       </div>
    </div>
    <%- include('../ejs/footer') %>
</div>
<script  src="../../js/common/jquery.1.11.0.min.js" ></script>
<script  src="../../js/common/common.js" ></script>
</body>
</html>
