<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>健科互联网医疗服务平台</title>
<meta name="keywords" content="your tags" />
<meta name="description" content="150 words" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no;" >
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
  <style>
    html, body,.wapper{
      background:#ffffff;
    }
    .footernav{
      height:20px;
      background:#f9f9f9;
      clear:both;
    }
    .bottomWapper{background:#f9f9f9;margin-top:0;}
    .Bline h4{
      background:#f9f9f9;
    }
    .link h6{
      background:#ffffff;
    }
  </style>
</head>
<body>
<div class="wapper">
    <%- include('../ejs/footer') %>
    <div class="mainW disdetails">
       <div class="main">
         <div class="title">
           <h2><a href="/index.html">首页</a> | <a href="../webPage/commonDiseases.html">常见疾病</a> | 前庭神经元炎的诊断和检查</h2>
         </div>
         <div class="disdetails-main">
           <div class="disdetails-lt">
             <div class="titles">
               <h2>前庭神经元炎的诊断和检查</h2>
               <p>2016年11月16日【原创】</p>
             </div>
             <ul>
               <li>
                 <h3>怎么对前庭神经元炎的诊断和检查?前庭神经元炎是一种少数的组织病理学呈现前庭神经的全部或部分分支及Scarpa神经节萎缩、变性、也有仅为迷路本身病变者。耳蜗神经元也可见变性但极少见。下面针对前庭神经元炎的诊断和检查做详细的检查。</h3>
                 <!-- <p>无论高胆固醇血症、高甘油三酯血症、高低密度脂蛋白血症和低高密度脂蛋白血症，四者均属于异常脂血症，也是动脉粥样硬化发生的独立的危险因素。如不能饮食控制或饮食控制不满意的，可根据异常脂血症的特点，单用或联合选用“他汀类、贝特类、胆酸螯合剂类和鱼油类”药物，进行规范化治疗，要经常进行检测，长期保持血脂在正常范围。</p> -->
               </li>
               <li>
                 <h3>前庭神经元炎的诊断和检查，以下做详细的阐述：</h3>
                 <p>1）单纯周围性前庭性眩晕，无耳蜗受累症状。患者经常伴有恶心、呕吐，眩晕的持续时间一般较长，大约在数个小时到几天之间。一般没有中间停顿，一直到病情发作完为止。</p>
                 <p>2）冷热变温试验前庭功能部分或完全性丧失，有时呈向健侧优势偏向。</p>
                 <p>3）无头痛及其他神经体征。排除其他原因造成的眩晕。</p>
                 <p>4）发作期中有自发性眼震。眩晕患者任何体位都会有眩晕的症状，大部分患者必须闭眼卧床，症状才能缓解。</p>
               </li>
               <li>
                 <h3>前庭神经元炎的诊断和检查标准：</h3>
                 <p>1）突发严重的持续的 旋转性眩晕</p>
                 <p>2）单项水平略带扭转眼震，</p>
                 <p>3）无听力损害及其他神经系统症状或体征，</p>
                 <p>4）甩头试验阳性</p>
                 <p>5）温度试验提示前庭功能低下</p>
                 <p>上述对前庭神经元炎做了详细的分析，希望对大家有所帮助，如果还有疑问，请联系我们在线专家，我们竭诚为大家服务。</p>
               </li>
             </ul>
             <div class="dz">
               <i></i>
               <p>分享到：<a class="QQ"></a><a class="wx"></a><a class="kj"></a><a class="wb"></a><a class="tx"></a><a class="db"></a></p>
             </div>
           </div>
           <div class="disdetails-rt">
             <dl>
               <dt><img src="../../img/comDi-icon4.png"></dt>
               <dd>
                 <h2><img src="../../img/dlp.png"></h2>
                 <!-- <p>贵阳彩月是专业的医疗设备生产厂家， 在国内外已享有一定的知名度。</p> -->
               </dd>
             </dl>
             <div class="disdetails-rt-btm">
               <div class="tl"><h2>相关文章<span>更多>></span></h2></div>
               <!-- <ul>
                   <li><a>别把三叉神经痛当牙痛！</a></li>
                   <li><a>节食减肥的女生易口臭</a></li>
                   <li><a>过敏性鼻炎真的没法根治？</a></li>
                   <li><a>冬季治脚气，千万别错过！</a></li>
                   <li><a>糖尿病足，护理不当或截肢！</a></li>
               </ul> -->
             </div>
           </div>
         </div>
       </div>
    </div>
    <%- include('../ejs/footer') %>
</div>
<script  src="../../js/common/jquery.1.11.0.min.js" ></script>
<script  src="../../js/common/common.js" ></script>
</body>
</html>
