<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>健科互联网医疗服务平台</title>
<meta name="keywords" content="your tags" />
<meta name="description" content="150 words" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no;" >
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
  <style>
    html, body,.wapper{
      background:#ffffff;
    }
    .footernav{
      height:20px;
      background:#f9f9f9;
      clear:both;
    }
    .bottomWapper{background:#f9f9f9;margin-top:0;}
    .Bline h4{
      background:#f9f9f9;
    }
    .link h6{
      background:#ffffff;
    }
  </style>
</head>
<body>
<div class="wapper">
    <%- include('../ejs/header') %>
    <div class="mainW disdetails">
       <div class="main">
         <div class="title">
           <h2><a href="/index.html">首页</a> | <a href="../webPage/commonDiseases.html">常见疾病</a> | 前庭神经元炎的诊断和预防有哪些？</h2>
         </div>
         <div class="disdetails-main">
           <div class="disdetails-lt">
             <div class="titles">
               <h2>高前庭神经元炎的诊断和预防有哪些？</h2>
               <p>2016年11月16日【原创】</p>
             </div>
             <ul>
               <li>
                 <h3>前庭神经元炎为末梢神经炎的一种。病变发生在前庭神经节或前庭通路的向心部分。病前两周左右多有上呼吸道病毒感染史。眩晕症状可突然发生，持续数日或数月，活动时症状加重。前庭神经元炎的诊断和预防有哪些?</h3>
                <!--  <p>无论高胆固醇血症、高甘油三酯血症、高低密度脂蛋白血症和低高密度脂蛋白血症，四者均属于异常脂血症，也是动脉粥样硬化发生的独立的危险因素。如不能饮食控制或饮食控制不满意的，可根据异常脂血症的特点，单用或联合选用“他汀类、贝特类、胆酸螯合剂类和鱼油类”药物，进行规范化治疗，要经常进行检测，长期保持血脂在正常范围。</p> -->
               </li>
               <li>
                 <h3>针对前庭神经元炎的诊断和预防，武警总医院中美眩晕病研究所专家为大家做详细的介绍：<br>预防</h3>
                 <p>前庭神经元炎应该如何预防?没有传染性，早期症状类似感冒，很容易被患者忽视。1.注意增强体质，预防上呼吸道感染。2.早期综合治疗，减轻并发症。</p>
               </li>
               <li>
                 <h3>检查</h3>
                 <p>前庭神经元炎应该做哪些检查?1.头晕者应作贫血，低血糖，内分泌紊乱等相关检验。2.脑脊液检查对颅内感染性疾病的确定尤为重要。怀疑听神经瘤者应摄内听道平片;颈性眩晕可摄颈椎片;脑电图对眩晕性癫痫的诊断有帮助;考虑颅内占位性病变，脑血管病变等可选择做头颅CT或MRI。脑干听觉诱发电位对协助定位诊断前庭神经病变有一定帮助。</p>
               </li>
               <li>
                 <h3>并发症</h3>
                 <p>前庭神经元炎可以并发哪些疾病?少数病人可有不同程度的头昏，头晕和不稳感。</p>
                 <p>上述对前庭神经元炎的诊断和预防做了详细的介绍，希望对大家有所帮助，如果还有疑问，请联系我们在线专家，我们竭诚为你服务。</p>
               </li>
             </ul>
             <div class="dz">
               <i></i>
               <p>分享到：<a class="QQ"></a><a class="wx"></a><a class="kj"></a><a class="wb"></a><a class="tx"></a><a class="db"></a></p>
             </div>
           </div>
           <div class="disdetails-rt">
             <dl>
               <dt><img src="../../img/comDi-icon4.png"></dt>
               <dd>
                 <h2><img src="../../img/dlp.png"></h2>
                 <!-- <p>贵阳彩月是专业的医疗设备生产厂家， 在国内外已享有一定的知名度。</p> -->
               </dd>
             </dl>
             <div class="disdetails-rt-btm">
               <div class="tl"><h2>相关文章<span>更多>></span></h2></div>
               <!-- <ul>
                   <li><a>别把三叉神经痛当牙痛！</a></li>
                   <li><a>节食减肥的女生易口臭</a></li>
                   <li><a>过敏性鼻炎真的没法根治？</a></li>
                   <li><a>冬季治脚气，千万别错过！</a></li>
                   <li><a>糖尿病足，护理不当或截肢！</a></li>
               </ul> -->
             </div>
           </div>
         </div>
       </div>
    </div>
    <%- include('../ejs/footer') %>
</div>
<script  src="../../js/common/jquery.1.11.0.min.js" ></script>
<script  src="../../js/common/common.js" ></script>
</body>
</html>
