<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>健科互联网医疗服务平台</title>
<meta name="keywords" content="your tags" />
<meta name="description" content="150 words" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no;" >
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
  <style>
    html, body,.wapper{
      background:#ffffff;
    }
    .footernav{
      height:20px;
      background:#f9f9f9;
      clear:both;
    }
    .bottomWapper{background:#f9f9f9;margin-top:0;}
    .Bline h4{
      background:#f9f9f9;
    }
    .link h6{
      background:#ffffff;
    }
  </style>
</head>
<body>
<div class="wapper">
    <%- include('../ejs/header') %>
    <div class="mainW disdetails">
       <div class="main">
         <div class="title">
           <h2><a href="/index.html">首页</a> | <a href="../webPage/commonDiseases.html">常见疾病</a> | 前庭阵发症的症状有哪些？</h2>
         </div>
         <div class="disdetails-main">
           <div class="disdetails-lt">
             <div class="titles">
               <h2>前庭阵发症的症状有哪些？</h2>
               <p>2016年11月16日【原创】</p>
             </div>
             <ul>
               <li>
                 <h3>前庭阵发症表现为反复的短暂头晕发作，持续数秒-分钟常伴有平衡障碍步态或姿势不稳及恶心呕吐。眩晕常于静息时发作，亦可于转头、转身时发作。发作频率不等。</h3>
               </li>
               <li>
                 <h3>前庭阵发症有以下几点：</h3>
                 <p>1）阵发性或激发性眩晕。偶伴恶心。呕吐。眩晕多在快速转身。屈体。行车。耳内操作(如挖耳。洗耳等)。压迫耳屏或擤鼻时发作。持续数分钟至数小时不等。中耳乳突炎急性发作期症状加重。</p>
                 <p>2）眩晕发作时可见自发性眼震。方向向患侧。此乃患侧迷路处于刺激状态之故。</p>
                 <p>3）听力减退：耳聋的性质和程度与中耳炎病变程度一致。瘘管位于鼓岬者叮呈混合性聋。</p>
                 <p>4）瘘管试验阳性。瘘管被病理组织堵塞时可为阴性。</p>
                 <p>5）前庭功能一般正常或亢进。</p>
               </li>
               <li>
                 <h3>前庭阵发症的症状还有以下几点：</h3>
                 <p>第一、波动性感应性聋，三分之一患者伴有眩晕症状。</p>
                 <p>第二、先天性前庭阵发症患者非常多，所以患者的亲戚朋友，要做好患者的身体检查。</p>
                 <p>第三、部分患者经常伴有说话晚或者口齿不清，</p>
                 <p>第四、部分 是由于外伤或上呼吸道感染以致部分听力下降。</p>
                 <p>上述对什么是前庭阵发症做了详细的介绍，希望对大家有所帮助，如果还有疑问，请联系我们在线专家，或者拨打我们的热线电话，我院专家竭诚为大家服务。</p>
               </li>
             </ul>
             <div class="dz">
               <i></i>
               <p>分享到：<a class="QQ"></a><a class="wx"></a><a class="kj"></a><a class="wb"></a><a class="tx"></a><a class="db"></a></p>
             </div>
           </div>
           <div class="disdetails-rt">
             <dl>
               <dt><img src="../../img/comDi-icon4.png"></dt>
               <dd>
                 <h2><img src="../../img/dlp.png"></h2>
                 <!-- <p>贵阳彩月是专业的医疗设备生产厂家， 在国内外已享有一定的知名度。</p> -->
               </dd>
             </dl>
             <div class="disdetails-rt-btm">
               <div class="tl"><h2>相关文章<span>更多>></span></h2></div>
               <!-- <ul>
                   <li><a>别把三叉神经痛当牙痛！</a></li>
                   <li><a>节食减肥的女生易口臭</a></li>
                   <li><a>过敏性鼻炎真的没法根治？</a></li>
                   <li><a>冬季治脚气，千万别错过！</a></li>
                   <li><a>糖尿病足，护理不当或截肢！</a></li>
               </ul> -->
             </div>
           </div>
         </div>
       </div>
    </div>
    <%- include('../ejs/footer') %>
</div>
<script  src="../../js/common/jquery.1.11.0.min.js" ></script>
<script  src="../../js/common/common.js" ></script>
</body>
</html>
