<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>健科互联网医疗服务平台</title>
<meta name="keywords" content="your tags" />
<meta name="description" content="150 words" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no;" >
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
</head>
<body>
<div class="wapper">
    <%- include('../ejs/header') %>
    <div class="mainW disdetails">
       <div class="main">
         <div class="title">
           <h2><a href="/index.html">首页</a> | <a href="commonDiseases.html">常见疾病</a> | 高血压性脑出血的预防措施有哪些？</h2>
         </div>
         <div class="disdetails-main">
           <div class="disdetails-lt">
             <div class="titles">
               <h2>高血压性脑出血的预防措施有哪些？</h2>
               <p>2016年11月16日【原创】 1959人阅读</p>
             </div>
             <ul>
               <li>
                 <h3>1）首先通过饮食控制血脂及血胆固醇水平：</h3>
                 <p>无论高胆固醇血症、高甘油三酯血症、高低密度脂蛋白血症和低高密度脂蛋白血症，四者均属于异常脂血症，也是动脉粥样硬化发生的独立的危险因素。如不能饮食控制或饮食控制不满意的，可根据异常脂血症的特点，单用或联合选用“他汀类、贝特类、胆酸螯合剂类和鱼油类”药物，进行规范化治疗，要经常进行检测，长期保持血脂在正常范围。</p>
               </li>
               <li>
                 <h3>2）合理控制血糖：</h3>
                 <p>糖尿病患者动脉粥样硬化的发生率高出非糖尿病患者2～4倍，且病情较重，发病年龄提早，动脉粥样硬化性疾病常成为糖尿病患者的直接死亡原因。如饮食控制不满意的，可根据糖尿病患者不同的病理状态，单用或联合选用“胰岛素、胰岛素增敏剂、促胰岛素分泌剂以及双胍类”药物，进行规范化治疗，要经常进行检测，长期保持血糖、血脂在正常范围。</p>
               </li>
               <li>
                 <h3>3）长期有效控制高血压，防止血压突然急剧升高，是预防脑动脉破裂的关键：</h3>
                 <p>一般患者血压应低于140/90mmHg，冠心病和糖尿病患者应低于130/80mmHg。在血压未达标期间，应每天测量一次血压，以便调整用药，直至血压达标；血压达标后，至少每月测量一次血压，以保证血压始终控制在达标范围内。</p>
                 <p>有效控制高血压的基本方法是：“长期坚持规范化药物治疗，24小时平稳降压（切忌随意停药和随意增加剂量）；低盐多菜；戒烟限酒；控制理想体重；适当体育运动和保持心情舒畅”。</p>
                 <p>简言之，即做到膳食合理、运动适量、心理平衡。</p>
                 <p>合理膳食总结为“十个字”，即一二三四五，红黄绿白黑。“一”指每日一袋牛奶；“二”指每日250克左右碳水化合物；“三”指每日三至四份高蛋白食品；“四”指四句话——有粗有细、不甜不咸、三四五顿、七八分饱；“五”指每日五百克蔬菜及水果。“红黄绿白黑”则指每天适量喝红葡萄酒、绿茶，吃些黄色蔬菜、绿色蔬菜、燕麦片以及黑木耳。</p>
                 <p>适量运动：每天根据自己身体状况做40分钟快走运动，建议以每分钟走120步的快步走为宜。</p>
                 <p>心理平衡指，正确对待自己、对待他人、对待社会，顺境时要助人为乐，逆境中要自得其乐，平日里要知足常乐。宴席兴奋喝酒、以及与他人吵架最易诱发脑出血。切莫一时争强好胜，留下终生遗憾。</p>
               </li>
             </ul>
             <div class="dz">
               <i></i>
               <p>分享到：<a class="QQ"></a><a class="wx"></a><a class="kj"></a><a class="wb"></a><a class="tx"></a><a class="db"></a></p>
             </div>
           </div>
           <div class="disdetails-rt">
             <dl>
               <dt><img src="../../img/comDi-icon4.png"></dt>
               <dd>
                 <h2><img src="../../img/dlp.png"></h2>
                <!--  <p>贵阳彩月是专业的医疗设备生产厂家， 在国内外已享有一定的知名度。</p> -->
               </dd>
             </dl>
             <div class="disdetails-rt-btm">
               <div class="tl"><h2>相关文章<span>更多>></span></h2></div>
               <ul>
                  <!--  <li><a>别把三叉神经痛当牙痛！</a></li>
                  <li><a>节食减肥的女生易口臭</a></li>
                  <li><a>过敏性鼻炎真的没法根治？</a></li>
                  <li><a>冬季治脚气，千万别错过！</a></li>
                  <li><a>糖尿病足，护理不当或截肢！</a></li> -->
               </ul>
             </div>
           </div>
         </div>
       </div>
    </div>
    <%- include('../ejs/footer') %>
</div>
<script  src="../../js/common/jquery.1.11.0.min.js" ></script>
<script src="../../js/common/common.js"></script>
<script src="../../js/common/initialCalendar.js"></script>
</body>
</html>
